<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
.xsis-input-border {
	border-radius: 5px;
	border-color: #006;
}
.xsis-btn-batal{
	color:white;
	font-weight:bold;
	background-color:#FF6600;
}
.xsis-btn-simpan{
	color:white;
	font-weight:bold;
	background-color:#010066;
}
</style>
<body>

	<form id="form-org-edit">
		<input class="form-control" type="text" name="id"
			th:value="${organisasiModel.id}" style="display: none">

		<div class="col-sm-12">
			<div class="col-sm-6">
				<label>Nama Organisasi *</label> <input class="form-control xsis-input-border"
					name="name" th:value="${organisasiModel.name}" required />
			</div>
			<div class="col-sm-6 offset-sm-6">
				<label>Jabatan *</label> <input class="form-control xsis-input-border" name="position"
					th:value="${organisasiModel.position}" required />
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6">
				<label>Tahun Masuk *</label> <select id="yearMasuk"
					class="form-control xsis-input-border" name="entryYear" required>
					<option
						th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), #dates.year(#dates.createNow())-20)}"
						th:value="${year}" th:text="${year}"
						th:selected="${year+''==organisasiModel.entryYear}" />
				</select>
			</div>
			<div class="col-sm-6 offset-sm-6">
				<label>Tahun Keluar *</label> <select id="yearKeluar"
					class="form-control xsis-input-border" name="exitYear" required>
					<option
					th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), #dates.year(#dates.createNow())-20)}"
					th:value="${year}" th:text="${year}"
					th:selected="${year+''==organisasiModel.exitYear}" />
				</select>
			</div>
		</div>
		<div class="col-sm-12" style="padding-left: 30px; padding-right: 30px">
			<label>Tanggung Jawab</label> <input class="form-control xsis-input-border"
				name="responsibility" th:value="${organisasiModel.responsibility}" />
		</div>
		<div class="col-sm-12" style="padding-left: 30px;">
			<label>Catatan</label>
			<textarea class="form-control pull-center xsis-input-border" name="notes" rows="5"
				style="width: 505px" th:text="${organisasiModel.notes}"></textarea>
		</div>
		<div class="form-group col-12 col-sm-12">
			<div class="btn-group pull-right"
				style="padding-top: 8px; padding-right: 14px;">
				<button type="button" class="btn xsis-btn-batal"
					onclick="javascript:return doClose()">
					<font style="color: white">Batal</font>
				</button>
				<button type="submit" class="btn xsis-btn-simpan">
					<font style="color: white">Simpan</font>
				</button>
			</div>
		</div>
	</form>
	<!-- 
	<form id="form-org-edit" method="post">
		<div class="hidden">
			<label for="id">Id</label><input type="text" name="id"
				th:value="${organisasiModel.id}" />
		</div>
		<div class="form-group">
			<label for="name">Nama Organisasi *</label><input type="text"
				name="name" th:value="${organisasiModel.name}" required="required" />
		</div>
		<div class="form-group">
			<label for="position">Jabatan *</label><input type="text"
				name="position" th:value="${organisasiModel.position}"
				required="required" />
		</div>
		<div class="form-group">
			<label for="responsibility">Tanggung Jawab</label><input type="text"
				name="responsibility" th:value="${organisasiModel.responsibility}" />
		</div>
		<div class="form-group">
			<label for="notes">Catatan</label><input type="text" name="notes"
				th:value="${organisasiModel.notes}" />
		</div>
		<div class="form-group">
			<label for="entryYear">Tahun Masuk *</label> <select
				class="form-control" name="entryYear" required="required">
				<option
					th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), #dates.year(#dates.createNow())-20)}"
					th:value="${year}" th:text="${year}"
					th:selected="${year+''==organisasiModel.entryYear}" />

			</select>
		</div>
		<div class="form-group">
			<label for="entryYear">Tahun Keluar *</label> <select
				class="form-control" name="exitYear" required="required">
				<option
					th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), #dates.year(#dates.createNow())-20)}"
					th:value="${year}" th:text="${year}"
					th:selected="${year+''==organisasiModel.exitYear}" />

			</select>
		</div>
		<button type="submit" class="btn">Submit</button>
	</form>
 -->
</body>
<script type="text/javascript">
	function doClose(){
		$('#modal-org-edit').modal('hide');
	}
</script>
</html>