<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999.xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pelatihan - Edit</title>
</head>
<body>
  <form id="form-pelatihan-edit" method="post">
  	<input class="form-control" type="text" name="id" th:value="${riwayatPelatihanModel.id}" style="display: none">
  	<div class="col-sm-12">
		<div class="col-sm-6">
			<label>Nama (kursus, penataran, pelatihan, workshop)*</label>
			<input type="text" class="form-control" name="trainingName" th:value="${riwayatPelatihanModel.trainingName}" required="required" />
		</div>
		<div class="col-sm-3 offset-sm-6">
			<label>Penyelenggara*</label>
			<input type="text" class="form-control" name="organizer" th:value="${riwayatPelatihanModel.organizer}"/>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-3 offset-sm-6">
			<label>Waktu Pelaksanaan</label> 
			<select name="trainingMonth" required="required" class="form-control">
				<option th:value="${riwayatPelatihanModel.trainingMonth}"></option>
				<option value="1">Januari</option>
				<option value="2">Februari</option>
				<option value="3">Maret</option>
				<option value="4">April</option>
				<option value="5">Mei</option>
				<option value="6">Juni</option>
				<option value="7">Juli</option>
				<option value="8">Agustus</option>
				<option value="9">September</option>
				<option value="10">Oktober</option>
				<option value="11">November</option>
				<option value="12">Desember</option>
			</select>
		</div>
		<div class="col-sm-3 offset-sm-9">
			 <select  id="getYear"	name="trainingYear" class="form-control">
				<option>-Pilih Tahun-</option>
				<option th:each="year:${#numbers.sequence(#dates.year(#dates.createNow()), 1969)}" th:value="${year}" th:text="${year}" th:selected="${year+''==data.trainingYear}"/>
			</select>
		</div>
		<div class="col-sm-3 offset-sm-6">
			<label>Lama Durasi</label>
			<input type="text" class="form-control" name="trainingDuration" th:value="${riwayatPelatihanModel.trainingDuration}"/>
		</div>
		<div class="col-sm-3 offset-sm-9">
			 <select name="timePeriodId" class="form-control">
				<option th:each="timePeriod:${timePeriod}"
						th:value="${timePeriod.timePeriodId}"
						th:utext="${timePeriod.name}">
				</option>
				<option
					th:each="timePeriod:${timePeriod}"
					th:value="${timePeriod.id}"
					th:utext = "${timePeriod.name}">
				</option>
			</select>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6">
			<label>Kota</label>
			<input type="text" class="form-control" name="city" th:value="${riwayatPelatihanModel.city}" required="required" />
		</div>
		<div class="col-sm-3 offset-sm-6">
			<label>Negara</label>
			<input type="text" class="form-control" name="country" th:value="${riwayatPelatihanModel.country}"/>
		</div>
	</div>
	<div class="col-sm-12">
		<label>Catatan</label>
			<textarea class="form-control" name="notes" rows="5" th:value="${riwayatPelatihanModel.notes}"></textarea>
	</div>
 	<div class="btn-group  float-right btn-sm">		
		<button  class="btn btn-warning" data-dismiss="modal" type="button">Batal</button>
		<button  class="btn btn-primary" type="submit">Simpan</button>
	</div>
  </form>
 <script type="text/javascript">
 	var year = new Date().getFullYear();
 	min = year-5;
 	max = year;
 	select = document.getElementById('getYear');
 	
 	for(var i=min; i<=max; i++){
 		var opt = document.createElement('option');
 		opt.value = i;
 		opt.innerHTML = i;
 		select.appendChild(opt);
 	}
 </script>
</body>
</html>