<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<tr th:each="pelatihanModel:${pelatihanModelList}">
		<td th:text="${pelatihanModel.id}" style="display: none;"></td>
		<td th:text="${pelatihanModel.trainingName}"></td>
		<td th:text="${pelatihanModel.organizer}"></td>
		<td><a th:text="${pelatihanModel.trainingYear}"></a>
		<a>-</a>
		<a th:text="${pelatihanModel.trainingMonth}"></a></td>
		<td><a th:text="${pelatihanModel.trainingDuration}"></a>
		<a> </a>
		<a th:text="${pelatihanModel.timePeriodId}"></a></td>
		<td class="pull-right dropdown">
			<button class="btn bg-purple dropdown-toggle" type="button"
				data-toggle="dropdown">
				More | <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li style="text-align: center;"><button class="btn" style="background-color:transparent;" id="select-ubah" th:value="${pelatihanModel.id}">Ubah</button></li>
				<li style="text-align: center;"><button class="btn" style="background-color:transparent;" id="select-delete" th:value="${pelatihanModel.id}">Hapus</button></li>
			</ul>
		</td>
	</tr>
</body>
</html>