<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catatan Tambah</title>
</head>
<body>
	<div class="content ">
		<form id="form-keahlian-add">
			<div>
				<input type="hidden" th:value="${biodataModel.id}" name="id" />
			</div>

			<div class="col-sm-12">
				<div class="col-sm-6">
					<label>Nama Keahlian</label> <input class="form-control"
						name="skillName" required/>
				</div>
				<div class="col-sm-6 offset-sm-6">
					<label>Level Keahlian *</label> <select class="form-control"
						name="skillLevelId" required>
						<option value="">--PILIH---</option>
						<option th:each="skillLevelModel : ${skillLevel}"
							th:value="${skillLevelModel.id}" th:utext="${skillLevelModel.name}" />
					</select>
				</div>
			</div>
			<div class="col-sm-12" style="padding-left: 30px;">
				<label>Catatan</label>
				<textarea class="form-control pull-center" name="notes" rows="5"
					style="width: 480px"></textarea>
			</div>
			<div class="col-sm-12">
				<div class="btn btn-group col-sm-3 pull-right"
					style="padding-top: 0.2cm;">
					<button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
					<button type="submit" class="btn btn-primary">Yes</button>
				</div>
			</div>
		</form>
	</div>

</body>
</html>