<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Keahlian</title>
</head>
<body>
	<form id="form-keahlian-edit" method="post">
		<input class="form-control" type="text" name="id"
			th:value="${keahlianModel.id}" style="display: none">

		<div class="col-sm-12">
			<div class="col-sm-6">
				<label>Nama Keahlian</label> <input class="form-control"
					name="skillName" th:value="${keahlianModel.skillName}" required="required" />
			</div>
			<div class="col-sm-6 offset-sm-6">
				<label>Level Keahlian *</label> <select class="form-control"
					name="skillLevelId" required>
					<option value="">--PILIH---</option>
					<option th:each="skillLevelModel : ${skillLevel}"
						th:value="${skillLevelModel.id}" th:utext="${skillLevelModel.name}"
						th:selected="${skillLevelModel.id==keahlianModel.skillLevelId}" />
				</select>
			</div>
		</div>
		<div class="col-sm-12" style="padding-left: 30px;">
			<label>Catatan</label>
			<textarea class="form-control pull-center" name="notes" rows="5"
				style="width: 510px" th:text="${keahlianModel.notes}"></textarea>
		</div>
		<div class="col-sm-12">
			<div class="btn btn-group col-sm-3 pull-right"
				style="padding-top: 0.2cm;">
				<button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
				<button type="submit" class="btn btn-primary">Yes</button>
			</div>
		</div>

	</form>
</body>
</html>