<!DOCTYPE html>
<html style="height: auto; min-height: 100%;"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>XSIS 2.0 | Homepage</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="height=device-height, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	href="AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="AdminLTE/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="AdminLTE/dist/css/skins/_all-skins.min.css">
<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link rel="stylesheet"
	href="AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<!-- demo style -->
<style>
/* FROM HTTP://WWW.GETBOOTSTRAP.COM
     * Glyphicons
     *
     * Special styles for displaying the icons and their classes in the docs.
     */
.bs-glyphicons {
	padding-left: 0;
	padding-bottom: 1px;
	margin-bottom: 20px;
	list-style: none;
	overflow: hidden;
}

.bs-glyphicons li {
	float: left;
	width: 25%;
	height: 115px;
	padding: 10px;
	margin: 0 -1px -1px 0;
	font-size: 12px;
	line-height: 1.4;
	text-align: center;
	border: 1px solid #ddd;
}

.bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
}

.bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word; /* Help out IE10+ with class names */
}

.bs-glyphicons li:hover {
	background-color: rgba(86, 61, 124, .1);
}

@media ( min-width : 768px) {
	.bs-glyphicons li {
		width: 12.5%;
	}
	a:active {
		background: #F4F4A6;
	}
	li.active {
		background: #F4F4A6;
	}
	/* .sidebar-link {
		border-style: solid;
		border-width: 1px;
		border-color: #006;
		border-radius: 3px;
	} */
	.menu-tree, .treeview {
		margin-left: 20px;
		border-style: solid;
		border-width: 1px;
		border-color: #006;
		border-radius: 3px;
	}
	.content-wrapper {
		height: auto;
		min-height: 100%;
		background-color: #ffffff;
		margin-top: 50px;
		margin-right: 10px;
		margin-bottom: 10px;
		margin-left: 250px;
	}
}
</style>
</head>
<body class="skin-blue-light sidebar-mini"
	style="height: auto; min-height: 100%;">
	<div class="wrapper" style="height: auto; min-height: 80%;">

		<header class="main-header">
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top"
				style="margin-left: 0px; background-color: #006;">
				<!-- Sidebar toggle button-->

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">

						<li class="dropdown user user-menu"><a
							class="dropdown-toggle" data-toggle="dropdown"
							aria-expanded="true"> <span class="hidden-xs"> Hi, <b><span
										th:utext="${biodataModel.nickName}"
										style="background-color: transparent;"></span></b>

							</span> <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu">
								<li><a data-toggle="modal" th:href="@{/ubah/pass}"
									id="ubah-sandi">
										<h4>Ubah Kata Sandi</h4>
								</a></li>
								<li><a th:href="@{/logout}">
										<h4>Logout</h4>
								</a></li>
								<li class="divider"></li>

							</ul></li>

					</ul>
				</div>
				<div class="navbar-menu" style="margin-left: 230px;">
					<ul class="nav navbar-nav">
						<li class="dropdown notifications-menu" th:each="menu:${menuList}"
							th:if="${menu.menuUrl} == '#'"><a
							th:href="@{${menu.menuUrl}}" class="dropdown-toggle"
							data-toggle="dropdown" aria-expanded="false"><span
								th:utext="${menu.title}" style="background-color: transparent;"></span></a>
							<ul class="dropdown-menu" th:each="submenu:${submenuList}">

								<li class="menu-item" th:if="${menu.id==submenu.menuParent}"><a
									class="menu-item" th:href="@{${submenu.menuUrl}}"
									th:utext="@{${submenu.title}}"> </a></li>
							</ul></li>
						<li class="notifications-menu" th:each="menu:${menuList}"
							th:unless="${menu.menuUrl} == '#'"><a class="menu-item"
							th:href="@{${menu.menuUrl}}" th:utext="@{${menu.title}}"> </a></li>

					</ul>
				</div>
			</nav>
			<nav class="navbar"
				style="margin-left: 0px; background-color: #ffffff;">
				<div class="user-panel"
					style="text-align: left; font-size: -webkit-xxx-large; padding-left: 130px;">
					<b>XSIS</b> 2.0
				</div>
			</nav>
		</header>

		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar"
			style="background-color: transparent; border-right: none; margin-top: 120px; padding-top: 25px;">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu tree" data-widget="tree"
					style="margin-left: 20px;">
					<!-- <li class="menu-tree"><a class="sidebar-link"
						th:href="@{${navbar.menuUrl}}" style="padding-left: 50px;"><span
							th:utext="${navbar.title}"></span> <span
							class="pull-right-container"> </span> </a></li> -->

					<li class="treeview" th:each="navbar:${navbarList}"
						th:if="${navbar.menuUrl} == '#'"><a th:text="${navbar.title}">
					</a>
						<ul class="treeview-menu">
							<li th:each="subnavbar:${subnavbarList}"
								th:if="${navbar.id}==${subnavbar.menuParent}"><a
								class="sidebar-link" style="padding-left: 30px;"
								th:href="@{${subnavbar.menuUrl}}" th:utext="${subnavbar.title}"></a></li>

						</ul></li>
					<li class="menu-tree" th:each="navbar:${navbarList}"
						th:unless="${navbar.menuUrl} == '#'"><a class="sidebar-link"
						th:href="@{${navbar.menuUrl}}"><span
							th:utext="${navbar.title}"></span> <span
							class="pull-right-container"> </span> </a></li>
				</ul>


			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">

			<!-- Main content -->
			<section class="content">

				<!-- /.row -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog  modal-dialog-centered">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header" style="background: #000066;">
						<h4 class="modal-title" style="color: white">Ubah Kata Sandi</h4>
						<button type="button" class="close" data-dismiss="modal"
							style="color: white">&times;</button>
					</div>
					<div class="modal-body">
						<p>Some text in the modal.</p>

					</div>
				</div>

			</div>
		</div>

		<footer class="main-footer"
			style="text-align: center; border-top: none; background-color: transparent;">

			<strong>2020 XSIS Mitra Utama</strong>
		</footer>

		<script src="AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script
			src="AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
		<script src="AdminLTE/dist/js/adminlte.min.js"></script>
		<script src="AdminLTE/dist/js/demo.js"></script>
		<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
		<script src="AdminLTE/dist/js/html2canvas.min.js"></script>
		<script
			src="AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
		<script
			src="AdminLTE/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.id.min.js"></script>

		<script type="text/javascript">
			$('.sidebar-link').click(function() {
				var url = $(this).attr('href');
				$.ajax({
					url : url,
					type : 'get',
					dataType : 'html',
					success : function(result) {
						$('.content').html(result);
					}
				});
				return false;
			});

			$('.menu-item').click(function() {
				var url = $(this).attr('href');
				$.ajax({
					url : url,
					type : 'get',
					dataType : 'html',
					success : function(result) {
						$('.content').html(result);
						$("li").removeClass( "open" );

					}
				});
				return false;
			});

			$('#ubah-sandi').click(function() {
				var url = $(this).attr('href');
				$.ajax({
					url : url,
					type : 'get',
					dataType : 'html',
					success : function(result) {
						$('#myModal').modal('show');
						$('#myModal').find('.modal-body').html(result);
					}
				});
				return false;
			});
		</script>
</body>
</html>