<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catatan Tambah</title>
</head>
<style>
.xsis-input-border {
	border-radius: 5px;
	border-color: #006;
}

.xsis-btn-batal {
	color: white;
	font-weight: bold;
	background-color: #FF6600;
}

.xsis-btn-simpan {
	color: white;
	font-weight: bold;
	background-color: #010066;
}
</style>
<!--  type="hidden" -->
<body>
	<div class="content ">
		<form id="form-akt-tambah-tes">
			<div>
				<input type="hidden" name="onlineTestId" readonly="readonly" th:value="${onlenTestModel.id}" />
			</div>
			<div class="col-sm-12">
				<div class="col-sm-2"></div>
				<div class="col-sm-8" style="padding: 10px 15px">
					<label>Jenis Tes</label> <select class="form-control xsis-input-border"
						name="testTypeId" required="required">
						<option value="">- Pilih -</option>
						<option th:each="testTypeModel : ${testTypeModelList}"
							th:value="${testTypeModel.id}" th:utext="${testTypeModel.name}" />
					</select>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<div class="form-group col-12 col-sm-12">
				<div class="btn-group pull-right"
					style="padding-top: 0.2cm; padding-right: 14px;">
					<button type="button" class="btn xsis-btn-batal"
						onclick="javascript:return doCloseTambahTes()">
						<font style="color: white">Batal</font>
					</button>
					<button type="submit" class="btn xsis-btn-simpan">
						<font style="color: white">Simpan</font>
					</button>
				</div>
			</div>
			
		</form>
	</div>



</body>
<script type="text/javascript">
	function doCloseTambahTes() {
		$('#modal-akt-tambah-tes').modal('hide');
		$('#modal-akt-tambah-tes2').modal('hide');
	}
	
	
</script>
</html>