<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
.xsis-input-border {
	border-radius: 5px;
	border-color: #006;
}

.xsis-btn-batal {
	color: white;
	font-weight: bold;
	background-color: #FF6600;
}

.xsis-btn-simpan {
	color: white;
	font-weight: bold;
	background-color: #010066;
}
</style>
</head>
<body >
	<div class="content">
		<input type="hidden" readonly="readonly" id="biodataId"
			th:value="${biodataModel.id}" onload="javascript:refreshListAkt();">
		<form>
			<div class="box-border with-border"
				style="padding-bottom: 15px; margin-right: 20px;">
				<span style="font-size: large; font-weight: bold;"> Aktivasi
					Akun Tes Online </span> <span>
					<button class="btn btn-primary pull-right" type="button"
						id="btn-aktifkan" onclick="javascript:return doAktifkan()"></button>
				</span>
			</div>
		</form>
		<div class="box">
			<div id="uid-pwd" class="box-body no-padding">
				<div>
					Username : <a th:if="${biodataModel.addrbookId == null}">null</a> <a
						th:unless="${biodataModel.addrbookId == null}"
						th:text="${biodataModel.getAddrBookModel().getAbuid()}">ada</a>
						<a id="status-uid"></a>
				</div>
				<br>
				<div>
					Password : <a th:if="${biodataModel.addrbookId == null}">null</a> <a
						th:unless="${biodataModel.addrbookId == null}"
						th:text="${biodataModel.getAddrBookModel().getAbpwd()}">ada</a>
				</div>
			</div>
		</div>


		<div>
			<table class="table table-striped">
				<thead class="box">
					<tr
						style="padding: 10px; border-top-style: solid; border-top-width: 3px; border-top-color: #006; border-bottom-style: solid; border-bottom-width: 3px; border-bottom-color: #006;">
						<th style="display: none;"></th>
						<th><b>Kode Periode</b></th>
						<th><b>Periode</b></th>
						<th><b>Tgl. Mulai Tes</b></th>
						<th><b>Tgl. Berakhir Tes</b></th>
						<th><b>Akses</b></th>
						<th><b>Status</b></th>
						<th style="text-align: center;"><b>#</b></th>
					</tr>
				</thead>
				<tbody id="list-period">
				</tbody>
			</table>
		</div>

	</div>

	<div id="modal-akt-delete" class="modal fade">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content" style="border-radius: 10px;">
				<div class="box box-solid"
					style="border-radius: 10px; border: solid; border-color: #9A0000;">
					<div class="modal-header" style="background-color: #9A0000;">
						<button type="button" class="close"
							onclick="javascript:return doCloseModalDelete()"
							style="color: white; margin: 10px 0px">&times;</button>
						<h4 style="color: white;">Hapus Tes?</h4>
					</div>
					<div class="modal-body" style="height: 200px;"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="modal-akt-tampil" class="modal fade">
		<div class="modal-dialog" style="width: 800px;">
			<!-- Modal content-->
			<div class="modal-content" style="border-radius: 10px;">
				<div class="box box-solid"
					style="border-radius: 10px; border: solid; border-color: #006;">
					<div class="modal-header"
						style="background-color: #006; padding-top: 0; padding-bottom: 0;">
						<button type="button" class="close"
							onclick="javascript:return doCloseModalTampil()"
							style="color: white; margin: 10px 0px">&times;</button>
						<h4 style="color: white;">Pilihan Tes</h4>
					</div>
					<div class="modal-body" style="height: 500px;"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="modal-akt-aktifkan" class="modal fade">
		<div class="modal-dialog" style="width: 800px;">
			<!-- Modal content-->
			<div class="modal-content" style="border-radius: 10px;">
				<div class="box box-solid"
					style="border-radius: 10px; border: solid; border-color: #006;">
					<div class="modal-header" style="background-color: #006;">
						<button type="button" class="close"
							onclick="javascript:return doCloseModalAktifkan()"
							style="color: white; margin: 10px 0px">&times;</button>
						<h4 style="color: white;">Aktifkan Akun Tes</h4>
					</div>
					<div class="modal-body" style="height: 580px;">
						<p>Some text in the modal.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="modal-akt-tambah-tes2" class="modal fade" style="">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content" style="border-radius: 10px;">
				<div class="box box-solid"
					style="border-radius: 10px; border: solid; border-color: #006;">
					<div class="modal-header"
						style="background-color: #006; padding-top: 0; padding-bottom: 0;">
						<button type="button" class="close"
							onclick="javascript:return doCloseModalTambahTes2()"
							style="color: white; margin: 10px 0px">&times;</button>
						<h4 style="color: white;">Tambah Tes</h4>
					</div>
					<div class="modal-body" style="height: 200px;">
						<p>Some text in the modal.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="modal-akt-tambah-tes3" class="modal fade" style="">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content" style="border-radius: 10px;">
				<div class="box box-solid"
					style="border-radius: 10px; border: solid; border-color: #006;">
					<div class="modal-header"
						style="background-color: #006; padding-top: 0; padding-bottom: 0;">
						<button type="button" class="close"
							onclick="javascript:return doCloseModalTambahTes3()"
							style="color: white; margin: 10px 0px">&times;</button>
						<h4 style="color: white;">Tambah Tes</h4>
					</div>
					<div class="modal-body" style="height: 200px;">
						<p>Some text in the modal.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer"></div>
</body>

<script type="text/javascript">

refreshListAkt();

var element = 10;
var page = 0;

//button aktif
//var btnAktif = "Aktifkan";      
//document.getElementById("btn-aktifkan").innerHTML = btnAktif;

	function refreshListAkt() {
		var id = $('#biodataId').attr('value');
		$.ajax({
			url : '/aktivasi akun/data',
			type : 'get',
			data : {id,id},
			dataType : 'html',
			success : function(result) {
				$('#list-period').html(result);
				cekBtnAktifkan();
			}
		});
	};

	function refreshListDetailTes() {
		// alert('masuk list');
		var id = $('#testId').attr('value');
		$.ajax({
			url : '/aktivasi akun/dataTes',
			type : 'get',
			data : {id,id},
			dataType : 'html',
			success : function(result) {
				$('#list-test-type').html(result);
			}
		});
	};
	
	function cekBtnAktifkan(){
		var id = $('#biodataId').attr('value');
		$.ajax({
			url : '/aktivasi akun/cekLocked',
			type : 'get',
			data : {id,id},
			success : function(result) {
				if(result == "dikunci" || result == "belum ada"){
					document.getElementById("btn-aktifkan").innerHTML = "Aktifkan";
					document.getElementById("status-uid").innerText = " - Tidak Aktif";
				} else { 
				  	document.getElementById("btn-aktifkan").innerHTML = "Nonaktifkan";
					document.getElementById("status-uid").innerText = " - Aktif";
					// load div id password disini
				}
			}
		});
	};
	
	// tampilkan pilihan tes
	$('#list-period').on('click','#select-tampil',function() {
		var id = $(this).val();
		//alert(id);
		$.ajax({
			url : '/aktivasi akun/lihatPilihanTes',
			type : 'get',
			dataType : 'html',
			data: {id,id},
			success : function(result) {
				$('#modal-akt-tampil').modal({backdrop: 'static', keyboard: false}) 
				$('#modal-akt-tampil').modal('show');
				$('#modal-akt-tampil').find('.modal-body').html(result);
				refreshListDetailTes();
			}
		});
		
	});
	
	// hapus tes period
	$('#list-period').on('click','#select-delete',function() {
		var id = $(this).val();
		alert(id);
		$.ajax({
			url : '/aktivasi akun/hapus',
			type : 'get',
			dataType : 'html',
			data: {id,id},
			success : function(result) {
				$('#modal-akt-delete').modal({backdrop: 'static', keyboard: false}) 
				$('#modal-akt-delete').modal('show');
				$('#modal-akt-delete').find('.modal-body').html(result);
			}
		});
		
	});
	
	function doHapus(idOrg){
		var id =idOrg;
		$.ajax({
			url : '/aktivasi akun/confirmdelete',
			type : 'post',
			data: {id,id},
			success : function(result) {
				alert('Tes telah dihapus');
				$('#modal-akt-delete').modal('hide');
				refreshListAkt();
			}
		});
		return false;
	};
		
	//closeModal
	function doCloseModalTambah(){
		$('#modal-akt-tambah').modal('hide');
	}
	function doCloseModalEdit(){
		$('#modal-akt-edit').modal('hide');
	}
	function doCloseModalDelete(){
		$('#modal-akt-delete').modal('hide');
	}
	function doCloseModalAktifkan(){
		$('#modal-akt-aktifkan').modal('hide');
	}
	function doCloseModalTampil(){
		$('#modal-akt-tampil').modal('hide');
	}
	function doCloseModalTambahTes2(){
		$('#modal-akt-tambah-tes2').modal('hide');
	}
	function doCloseModalTambahTes3(){
		$('#modal-akt-tambah-tes3').modal('hide');
	}
		
	// modal aktifkan/nonaktifkan
	function doAktifkan() {
		var id = $('#biodataId').attr('value');
		
		if (document.getElementById("btn-aktifkan").innerHTML == "Nonaktifkan"){
			if (confirm("Anda yakin ingin menonaktifkan pelamar?")){
				//alert("nonaktifkan disini");
				$.ajax({
					url : '/aktivasi akun/doNonAktifkan',
					type : 'post',
					data: {id,id},
					success : function(result) {
						//document.getElementById("btn-aktifkan").innerHTML = "Aktifkan";
						alert('Akun telah dinonaktifkan');
						refreshListAkt();
					}
				});
				return false;	
			}
		} else {
			//alert(id);
			$.ajax({
				url : '/aktivasi akun/aktifkan',
				type : 'get',
				data : {id,id},
				dataType : 'html',
				success : function(result) {
					$('#modal-akt-aktifkan').modal({backdrop: 'static', keyboard: false}) 
					$('#modal-akt-aktifkan').modal('show');
					$('#modal-akt-aktifkan').find('.modal-body').html(result);
				}
			});
			return false;
		}
	};
	
	$('#modal-akt-aktifkan').on('submit','#form-akt-aktifkan',function() {
		// validasi date di sini DONE
		tglTes = document.getElementById('tgl-tes').value;
		tglAkhirTes = document.getElementById('tgl-akhir-tes').value;
		var date1 = new Date(tglTes);
		var date2 = new Date(tglAkhirTes);
		if (date1.getTime() - date2.getTime() > 0){
			alert('"Tgl. Berakhir Tes" validasi');
			return false;
		}
		// validasi date -END-
		var table = document.getElementById("act");
		var tableLength = table.rows.length - 1; //thead tdk dihitung
		var arrJenisTes = [];
		for (var i = 1, row; row = table.rows[i]; i++) {
			// var i = 0 jika ga ada thead di dlm table
  	 		//iterate through rows
   			//rows would be accessed using the "row" variable assigned in the for loop
   			//alert(row.innerHTML);
   			for (var j = 0, col; col = row.cells[j]; j++) {
     			//iterate through columns
     			//columns would be accessed using the "col" variable assigned in the for loop
   			}
   			//alert(row.cells[1].innerHTML);
   			arrJenisTes.push(row.cells[1].innerHTML);
		}
		//alert(arrJenisTes);
		document.getElementById("jenis-tes").value = arrJenisTes;
		//alert($(this).serialize());
	
		$.ajax({
			url : '/aktivasi akun/doAktifkan',
			type : 'post',
			data: $(this).serialize(),
			success : function(result) {
				alert('Telah diaktifkan');
				$('#modal-akt-aktifkan').modal('hide');
				document.getElementById("btn-aktifkan").innerHTML = "Nonaktifkan";
				refreshListAkt();
				//toHomeAktivasiAkun(document.getElementById("biodataId").value);
			}
		});
		return false;
	});
	
	// tambah tes di aktivasi
	function doTambahTes3(){
		//alert('masuk tambah tes3')
		$.ajax({
			url : '/aktivasi akun/tambahTesAktivasi',
			type : 'get',
			dataType : 'html',
			success : function(result) {
				$('#modal-akt-tambah-tes3').modal({backdrop: 'static', keyboard: false}) 
				$('#modal-akt-tambah-tes3').modal('show');
				$('#modal-akt-tambah-tes3').find('.modal-body').html(result);
			}
		});
		return false;
	};
	
	// selected add jenis tes
	var opt = "";
	function optTeks(sel) {
		  opt = sel.options[sel.selectedIndex].text;
		  //alert(opt);
	}
	
	$(document).ready(function(){
		$('#modal-akt-tambah-tes3').on('click','#simpanTest',function() {
			var rowCount = $('#act tr').length;
			var x = document.getElementById("ttId").value;
			//alert(opt);
            var markup = "<tr>"+		
            				"<td>" + rowCount + "</td>"+
            				"<td hidden=&quot;hidden&quot;>" + x + "</td>"+
            				"<td>" + opt + "</td>"+
            				"<td><button onclick='deleteRow(this)' type='button' value='"+rowCount+"'><i class='fa fa-fw fa-trash-o'></i></button></td>"+
            			 "</tr>";
            $("#act tbody").append(markup);
            $('#modal-akt-tambah-tes3').modal('hide');
        });
		//delete icon here
		//hidden=&quot;hidden&quot;
    });
	
	// dynamic delete button
	function deleteRow(o) {
		var p = o.parentNode.parentNode;
		p.parentNode.removeChild(p);
	}	
		
	// btn tambah tes di dalam pilihan, detail_test
	function doTambahTes2(){
		var id = $('#testId').attr('value');
		$.ajax({
			url : '/aktivasi akun/tambahTes',
			type : 'get',
			dataType : 'html',
			data : {id,id},
			success : function(result) {
				$('#modal-akt-tambah-tes2').modal({backdrop: 'static', keyboard: false}) 
				$('#modal-akt-tambah-tes2').modal('show');
				$('#modal-akt-tambah-tes2').find('.modal-body').html(result);
			}
		});
		return false;
	};
	
	$('#modal-akt-tambah-tes2').on('submit','#form-akt-tambah-tes',function() {
		//alert('masuk');
		$.ajax({
			url : '/aktivasi akun/doTambahTes',
			type : 'post',
			data: $(this).serialize(),
			success : function(result) {
				alert('Tes telah ditambah aaaaa');
				$('#modal-akt-tambah-tes2').modal('hide');
				refreshListDetailTes();
			}
		});
		return false;
	});
	
	// hapus daftar tes di tampilkan, trash icon
	$('#modal-akt-tampil').on('click', '#select-delete', function(){
		var id = $(this).val();
		//alert(id);
		$.ajax({
			url : '/aktivasi akun/icon delete',
			type : 'post',
			data: {id,id},
			success : function(result) {
				alert('Jenis tes telah dihapus');
				$('#modal-akt-tambah-tes2').modal('hide');
				refreshListDetailTes();
			}
		});
		return false;
	});
	
</script>

</html>