<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<tr th:each="otdl:${onlineTestDetailList}">
		<td th:text="${otdl.testOrder}"></td>
		<td th:text="${otdl.testTypeModel.name}"></td>
		<td><button type="button" id="select-delete"
				th:value="${otdl.id}">
				<i id="delete" class="fa fa-fw fa-trash-o"></i>
			</button></td>
	</tr>
</body>


</html>
<!-- 
		<td class="pull-right dropdown">
			<button class="btn bg-purple dropdown-toggle" type="button"
				data-toggle="dropdown">
				More | <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li style="text-align: center;"><button class="btn" style="background-color:transparent;" id="select-tampil" th:value="${otdl.id}">Tampilkan Pilihan Tes</button></li>
				<li style="text-align: center;"><button class="btn" style="background-color:transparent;" id="select-delete" th:value="${otdl.id}">Hapus</button></li>
			</ul>
		</td>
		 -->