<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<tr th:each="otl:${onlineTestList}">
		<td th:text="${otl.periodCode}"></td>
		<td th:text="${otl.period}"></td>
		<td th:text="${#dates.format(otl.testDate, 'yyyy-MM-dd')}"></td>
		<td th:text="${#dates.format(otl.expiredTest, 'yyyy-MM-dd')}"></td>
		<td th:text="${otl.userAccess}"></td>
		<td th:text="${otl.status}"></td>
		<td class="pull-right dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				More | <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li style="text-align: left;"><button class="btn" style="background-color:transparent;" id="select-tampil" th:value="${otl.id}">Tampilkan Pilihan Tes</button></li>
				<li style="text-align: left;"><button class="btn" style="background-color:transparent;" id="select-delete" th:value="${otl.id}">Hapus</button></li>
			</ul>
		</td>
	</tr>
</body>
</html>