<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table class="table" th:value="${biodataModel.id}">
		<thead>
			<tr>
				<th scope="col">Biodata
					<button  style="background-color:transparent;"  id="update" th:value="${biodataModel.id}">Ubah</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">Nama Lengkap</th>
				<td><a th:text="${biodataModel.fullname}"></a></td>
			</tr>
			<tr>
				<th scope="row">Nama Panggilan</th>
				<td><a th:text="${biodataModel.nickName}"></a></td>
			</tr>
			<tr>
				<th scope="row">Kontak</th>
				<td><a th:text="${biodataModel.email}"></a> / <a
					th:text="${biodataModel.phoneNumber1}"></a></td>
			</tr>
			<tr>
				<th scope="row">Tempat, Tgl Lahir</th>
				<td><a th:text="${biodataModel.pob}"></a> , <a
					th:text="${biodataModel.dob}"></a></td>
			</tr>
			<tr>
				<th scope="row">Jenis Kelamin, Tinggi (cm), Berat(kg)</th>
				<td><a th:if="${biodataModel.gender == 'false'}">Perempuan</a>
				<a th:unless="${biodataModel.gender == 'false'}">Laki-Laki</a>
				</a>, <a th:text="${biodataModel.high}"></a>(cm), <a
					th:text="${biodataModel.weight}"></a>(kg)</td>
			</tr>
			<tr>
				<th scope="row">Agama</th>
				<td><a id="agama" th:text="${religionModel.name}"></a></td>
			</tr>
			<tr>
				<th>Kewarganegaraan, Suku Bangsa</th>
				<td><a th:text="${biodataModel.nationality}"> </a>, <a
					th:text="${biodataModel.ethnic}"></a></td>
			</tr>
			<tr>
				<th>Kegemaran / Hobi</th>
				<td><a th:text="${biodataModel.hobby}"></a></td>
			</tr>
			<tr>
				<th>Jenis &#38; Nomor Identitas</th>
				<td><a th:text="${identityTypeModel.name}"></a>-<a
					th:text="${biodataModel.identityNo}"></a></td>
			</tr>
			<tr>
				<th>Status &#38;Tahun Pernikahan</th>
				<td><a class="statusPernikahan"
					th:text="${maritalStatusModel.name}"> </a>-<a
					th:text="${biodataModel.marriageYear}"></a></td>
			
			</tr>
			<tbody id="list-biodata">					
									
			</tbody>
		</tbody>
	</table>
<div id="modal-biodata" class="modal fade">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header" style="background-color: #3c8dbc;">
					<button type="button" class="close" data-dismiss="modal"
						style="color: white">&times;</button>
					<h2 style="color: white;">Ubah Biodata</h2>
				</div>
				<div class="modal-body" style="height: 950px;width: 850px;">
					<p>Some text in the modal.</p>
				</div>
			</div>
						<!-- <div class="modal-body">
							<p>Some text in the modal.</p>
						</div> -->
					</div>
				</div>
			</div>
	 
</body>


	<script type="text/javascript">
	$('#update').click(function() {
		var id = $('#update').attr('value');
		$.ajax({
			url : '/biodata/ubah',
			type : 'get',
			dataType : 'html',
			data : {id,id},
			success : function(result) {
				$('#modal-biodata').modal('show');
				$('#modal-biodata').find('.modal-body').html(result);
			}
		});
	});
	//ajax untuk edit
		$('#modal-biodata').on('submit','#form-edit-biodata',function() {		
		$.ajax({
			url : '/biodata/update',
			type : 'get',			
			data : $(this).serialize(),
			success : function(result) {
				alert('data telah diubah');
				$('#modal-biodata').modal('hide');	
				
			}
		});
		return false;
	});

</script>
</html>