<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">

<title>XSIS 2.0</title>
</head>
<body>
	<form id="form-edit-biodata" method="POST" name="formBiodata"
		onsubmit="return validatePhone()" th:value=${biodataModel.id}>

	<!-- 	<div class="modal-header"
			style="background: darkblue; border-radius: 0px">
			<h4 class="modal-title" style="color: white">Ubah Biodata</h4>
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close" style="color: white">
				<span aria-hidden="true">&times;</span>
			</button>
		</div> -->

		<div class="modal-body">
			<div class="col-12">
				<div class="row">
					<!-- Nama Lengkap -->
					<div class="form-group col-6 col-sm-6">
						<label>Nama Lengkap *</label> <input type="text" name="fullname"
							class="form-control" required th:value="${biodataModel.fullname}" >
					</div>
					<!-- Nama Panggilan -->
					<div class="form-group col-6 col-sm-6">
						<label>Nama Panggilan *</label> <input type="text" name="nickName"
							class="form-control" required th:value="${biodataModel.nickName}" >
					</div>
					<!-- Tempat Lahir -->
					<div class="form-group col-3 col-sm-3">
						<label>Tempat Lahir *</label> <input type="text" name="pob"
							class="form-control" required th:value="${biodataModel.pob}" >
					</div>
					<!-- Tgl. Lahir -->
					<div class="form-group col-3 col-sm-3">
						<label>Tgl. Lahir *</label> <input type="date" name="dob"
							class="form-control" required th:value="${biodataModel.dob}" >
					</div>
					<!-- Jenis Kelamin -->
					<div class="form-group col-3 col-sm-3">
						<label>Jenis Kelamin *</label> <select name="gender"
							class="form-control" required th:value="${biodataModel.gender}" >
							<option value="true">Pria</option>
							<option value="false">Wanita</option>
						</select>
					</div>
					<!-- Agama -->
					<div class="form-group col-3 col-sm-3">
						<label>Agama *</label> <select name="religionId" id="religion"
							class="form-control" required>
							<option th:each="religionModel : ${religionModelList}"
								th:value="${religionModel.id}" th:utext="${religionModel.name}"></option>
						</select>
					</div>
					<!-- Tinggi -->
					<div class="form-group col-3 col-sm-3">
						<label>Tinggi (cm) *</label> <input type="text" name="high"
							class="form-control" required th:value="${biodataModel.high}">
					</div>
					<!-- Berat -->
					<div class="form-group col-3 col-sm-3">
						<label>Berat (kg) *</label> <input type="text" name="weight"
							class="form-control" required th:value="${biodataModel.weight}">
					</div>
					<!-- Kewarganegaraan -->
					<div class="form-group col-3 col-sm-3">
						<label>Kewarganegaraan *</label> <input type="text"
							name="nationality" class="form-control" required th:value="${biodataModel.nationality}">
					</div>
					<!-- Suku Bangsa -->
					<div class="form-group col-3 col-sm-3">
						<label>Suku Bangsa</label> <input type="text" name="ethnic"
							class="form-control"th:value="${biodataModel.ethnic}">
					</div>
					<!-- Kegemaran / Hobi -->
					<div class="form-group col-6 col-sm-6">
						<label>Kegemaran / Hobi</label> <input type="text" name="hobby"
							class="form-control" th:value="${biodataModel.hobby}">
					</div>
					<!-- Jenis Identitas -->
					<div class="form-group col-3 col-sm-3">
						<label>Jenis Identitas *</label> <select name="identityTypeId"
							id="identityTypeId" class="form-control" required>
							<option th:each="identityTypeModel : ${identityTypeModelList}"
								th:value="${identityTypeModel.id}"
								th:utext="${identityTypeModel.name}"></option>
						</select>
					</div>
					<!-- Nomor Identitas -->
					<div class="form-group col-3 col-sm-3">
						<label>Nomor Identitas</label> <input type="text"
							name="identityNo" class="form-control" th:value="${biodataModel.identityNo}">
					</div>
					<!-- Email -->
					<div class="form-group col-3 col-sm-3">
						<label>Email *</label> <input type="text" name="email"
							class="form-control" required th:value="${biodataModel.email}">
					</div>
					<!-- No. HP -->
					<div class="form-group col-3 col-sm-3">
						<label>No. HP</label> <input type="text" name="phoneNumber1"
							class="form-control"th:value="${biodataModel.phoneNumber1}">
					</div>
					<!-- No. HP Alternatif -->
					<div class="form-group col-3 col-sm-3">
						<label>No. HP Alternatif</label> <input type="text"
							name="phoneNumber2" class="form-control"th:value="${biodataModel.phoneNumber2}">
					</div>
					<!-- No. Tlp (Rumah/Orang Tua) -->
					<div class="form-group col-3 col-sm-3">
						<label>No. Tlp (Rumah/Orang Tua) *</label> <input type="text"
							name="parentPhoneNumber" class="form-control"  required th:value="${biodataModel.parentPhoneNumber}">
					</div>
					<!-- Anak Ke -->
					<div class="form-group col-3 col-sm-3">
						<label>Anak Ke *</label> <input type="text" name="childSequence"
							class="form-control" required th:value="${biodataModel.childSequence}">
					</div>
					<!-- Dari Berapa Bersaudara -->
					<div class="form-group col-3 col-sm-3">
						<label>Dari Berapa Bersaudara *</label> <input type="text"
							name="howManyBrothers" class="form-control" required th:value="${biodataModel.howManyBrothers}">
					</div>
					<!-- Status Pernikahan -->
					<div class="form-group col-3 col-sm-3">
						<label>Status Pernikahan *</label> <select name="maritalStatusId"
							id="maritalStatus" class="form-control" required>
							<option th:each="maritalStatusModel : ${maritalStatusModelList}"
								th:value="${maritalStatusModel.id}"
								th:utext="${maritalStatusModel.name}"></option>
						</select>
					</div>
					<!-- Tahun Pernikahan -->
					<div class="form-group col-3 col-sm-3">
						<label>Tahun Pernikahan</label>
						<!-- <input type="text"
							name="marriageYear" class="form-control"> -->
						<select name="marriageYear" class="form-control" id="getYear">
							<option value="" selected>-Pilih-</option>
							<option
								th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), 1969)}"
								th:value="${year}" th:text="${year}" />
						</select>
					</div>
				</div>
			</div>
			<br>
			<div class="col-md-12">
				<div class="row">


					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-12">
								<h4>Alamat Sesuai Kartu Identitas</h4>
								<hr>
							</div>

							<!-- Alamat 1 -->
							<div class="form-group col-md-12">
								<label>Alamat *</label> <input type="text" name="address1"
									class="form-control" required th:value="${addressModel.address1}"> <span
									id="error-address1"></span>
							</div>
							<!-- Kode Pos 1 -->
							<div class="form-group col-6 col-md-6">
								<label>Kode Pos</label> <input type="text" name="postalCode1"
									class="form-control"  th:value="${addressModel.postalCode1}">
							</div>
							<!-- RT 1 -->
							<div class="form-group col-3 col-md-3">
								<label>RT *</label> <input type="text" name="rt1"
									class="form-control" required th:value="${addressModel.rt1}"> <span id="error-rt1"></span>
							</div>
							<!-- RW 1 -->
							<div class="form-group col-3 col-md-3">
								<label>RW *</label> <input type="text" name="rw1"
									class="form-control" required th:value="${addressModel.rw1}"> <span id="error-rw1"></span>
							</div>
							<!-- Kelurahan 1 -->
							<div class="form-group col-md-4">
								<label>Desa / Kelurahan *</label> <input type="text"
									name="kelurahan1" class="form-control" required th:value="${addressModel.kelurahan1}">
							</div>
							<!-- Kecamatan 1 -->
							<div class="form-group col-md-4">
								<label>Kecamatan *</label> <input type="text" name="kecamatan1"
									class="form-control" required th:value="${addressModel.kecamatan1}">
							</div>
							<!-- Kota 1 -->
							<div class="form-group col-md-4">
								<label>Kota *</label> <input type="text" name="region1"
									class="form-control" required th:value="${addressModel.region1}">
							</div>
						</div>
					</div>


					<div class="row">


						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">
									<h4>Alamat Sesuai Tempat Tinggal Saat Ini</h4>
									<hr>
								</div>
								<!-- Alamat 2 -->
								<div class="form-group col-md-12">
									<label>Alamat *</label> <input type="text" name="address2"
										class="form-control" required th:value="${addressModel.address2}">
								</div>
								<!-- Kode Pos 2 -->
								<div class="form-group col-md-6">
									<label>Kode Pos</label> <input type="text" name="postalCode2"
										class="form-control" th:value="${addressModel.postalCode2}">
								</div>
								<!-- RT 2 -->
								<div class="form-group col-md-3">
									<label>RT *</label> <input type="text" name="rt2"
										class="form-control" required th:value="${addressModel.rt2}">
								</div>
								<!-- RW 2 -->
								<div class="form-group col-md-3">
									<label>RW *</label> <input type="text" name="rw2"
										class="form-control" required th:value="${addressModel.rw2}">
								</div>
								<!-- Kelurahan 2 -->
								<div class="form-group col-md-4">
									<label>Desa / Kelurahan *</label> <input type="text"
										name="kelurahan2" class="form-control" required th:value="${addressModel.kelurahan2}">
								</div>
								<!-- Kecamatan 2 -->
								<div class="form-group col-md-4">
									<label>Kecamatan *</label> <input type="text" name="kecamatan2"
										class="form-control" required th:value="${addressModel.kecamatan2}">
								</div>
								<!-- Kota 2 -->
								<div class="form-group col-md-4">
									<label>Kota *</label> <input type="text" name="region2"
										class="form-control" required th:value="${addressModel.region2}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>

			<div class="modal-footer">
				<div class="col-sm-12" align="right">
					<div class="row" align="right">
						<div class="col-md-9"></div>
						<div class="col-md-3" align="right">
							<span class="btn-group btn-block">

								<button type="reset" class="btn btn-warning"
									data-dismiss="modal">Batal</button>
								<button type="submit" class="btn btn-primary" id="update" th:value=${biodataModel.id}>Simpan</button>
							</span>
						</div>
					</div>
				</div>
				
			</div>
		</div>

	</form>
	<div id="modal-biodata" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<p>Some text in the modal.</p>
						</div>
					</div>
				</div>
			</div>
</body>


	
	<script type="text/javascript">
		function validatePhone() {

			var phone1 = document.forms["formBiodata"]["phoneNumber1"].value;
			var phone2 = document.forms["formBiodata"]["phoneNumber2"].value;

			if (phone1 == phone2) {
				alert("Nomor HP dan Nomor HP Alternatif tidak boleh sama!");
				return false;
			}
		}
	</script>
	<script type="text/javascript">
		var max = new Date().getFullYear();
		min = max - 50;
		select = document.getElementById("getYear");

		var opt = document.createElement('option');
		opt.value = "";
		opt.innerHTML = " ";
		select.appendChild(opt);

		for (var i = max; i >= min; i--) {
			var opt = document.createElement('option');
			opt.value = i;
			opt.innerHTML = i;
			select.appendChild(opt);
		}
		
		//ajax untuk edit

		/*/// select.value = new Date().getFullYear(); */
	</script>