<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<ul th:each="biodata:${biodata}">
		<li><a th:value="${biodata.id}" th:text="${biodata.fullname}"
			onclick=""></a></li>
	</ul>
</body>
</html>