<!DOCTYPE html>
<html style="height: auto; min-height: 100%;"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>XSIS 2.0 | User page</title>
</head>

<style type="text/css">
#form-user .form-control {
	border-style: solid;
	border-width: 2px;
	border-color: #006;
}

#form-user label {
	font-weight: 500;
	color: #006;
}

#form-user .form-group {
	margin-bottom: 10px;
}

#form-search .form-control {
	border-top: 2px solid #006;
	border-bottom: 2px solid #006;
	border-left: none;
	border-right: none;
}

#form-search .input-group-addon {
	border: 2px solid #006;
}
</style>
<body>
	<div class="col-sm-12"
		style="padding-bottom: 10px; padding-left: 30px;">
		<div class="row">
			<div class="col-sm-4">
				<form method="post" id="form-search">
					<div class="input-group">
						<span class="input-group-addon" style="background-color: #006">
							<i class="fa fa-search" style="color: white;"></i>
						</span>
						<input type="text" class="form-control" placeholder="Nama Pengguna" onkeyup="Search();"
							id="userName" name="userName">
							<span class="input-group-addon"	style="border-left: none;">
								<a onclick="Remove()">
									<i class="fa fa-close"></i>
								</a>
							</span>
						<div class="dropdown-menu" id="suggestion">
						
						</div>

								
					</div>
				</form>
			</div>
		</div>
	</div>
	<form action="/pengguna/simpan" method="post" id="form-user">
		<div class="col-sm-12"
			style="border-bottom: 2px solid #006; border-top: 2px solid #006; padding-top: 10px; padding-bottom: 10px;">
			<div class="row">


				<!-- /.box-body -->
				<div class="form-group col-8 col-sm-8">
					<div class="form-group col-12 col-sm-12">
						<label class="col col-form-label">Nama Lengkap</label>
						<div class="col sm-8">
							<input type="text" name="fullname"
								style="resize: unset; border-radius: 5px" class="form-control"
								required="required" />
						</div>
					</div>
					<div class="form-group col-12 col-sm-12">
						<label class="col col-form-label">Email *</label>
						<div class="col sm-8">
							<input type="text" name="email"
								style="resize: unset; border-radius: 5px" class="form-control"
								required="required" />
						</div>
					</div>

					<div class="form-group col-sm-6">
						<label class="col col-form-label">Sandi *</label> <input
							type="text" name="abpwd"
							style="resize: unset; border-radius: 5px" class="form-control"
							required="required" />
					</div>


					<div class=" form-group col-sm-6">
						<label class="col col-form-label">Ulangi Sandi *</label> <input
							type="text" name="abpwdConfirm"
							style="resize: unset; border-radius: 5px" class="form-control"
							required="required" />
					</div>
				</div>
				<div class="form-group col-4 col-sm-4">

					<div class="box box-solid">
						<div class="box-header with-border"
							style="background-color: #006; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-width: 0px;">
							<header class="main-header" style="padding-left: 10px;">
								<h4>
									<b><span
										style="background-color: transparent; color: white;">Role
											*</span></b>
								</h4>
							</header>
						</div>
						<div class="box-body"
							style="border: 2px solid #006; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
							<div class="form-group" name="userRole">
								<div class="checkbox" th:each="role:${roleModel}">
									<label> <input type="checkbox" th:name="${role.id}"
										th:value="${role.isDelete}"
										th:checked="${role.isDelete} ? 'checked'"
										th:text="${role.name}">
									</label>
								</div>
							</div>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
			</div>
		</div>
		<div class="form-group col-12 col-sm-12" style="padding-top: 10px;">
			<div class="form-group col-6 col-sm-6">
				<div class="btn-group pull-left">
					<button type="button" class="btn btn-danger">
						<font style="color: white"><span
							class="glyphicon glyphicon-trash"></span></font>
					</button>
				</div>
			</div>
			<div class="form-group col-6 col-sm-6">
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-warning">
						<font style="color: white">Batal</font>
					</button>
					<button type="submit" class="btn btn-primary">
						<font style="color: white">Simpan</font>
					</button>
				</div>
			</div>

		</div>

	</form>

</body>
<script type="text/javascript">
	function Remove() {
		document.getElementById("userName").value = "";
	}

	$(document).ready(function() {
		$("input[name='userRole']").change(function() {
			if ($(this).is(':checked')) {
				$("input[name='userRole']").val(true);
			} else if ($(this).not(':checked')) {
				$("input[name='userRole']").val(false);
			}
		});
	});
	
	function Search(){
		search=$('#userName').val();
		if(search.length>2){
			$.ajax({
				url : '/pengguna/search',
				type : 'get',
				data : {search,search},
				dataType : 'html',
				success : function(result) {
					$('#suggestion').html(result);

				}
			});
		}else{ $('#suggestion').hide();
			
		}
	}
	
	/* $(document).ready(function() {
		$("#userName").autocomplete({
			minChars : 2,
			source : '/pengguna/search'
		});
	}); */
</script>
</html>