<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table class="table">
					<thead class="thead-dark">
						<tr>
							<th>ID</th>
							<th>Email</th>
							<th>Pass</th>
						</tr>
					</thead>
					<tbody id="list-jurusan">
						<tr th:each="addrBookModel:${addrBookModel}">
							<td><a th:text="${addrBookModel.id}"></a></td>
							<td><a th:text="${addrBookModel.email}"></a></td>
							<td><a th:text="${addrBookModel.abpwd}"></a></td>
						</tr>
					</tbody>
				</table>
</body>
</html>