<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catatan Tambah</title>
</head>
<body>
<div class="card">
		<div class="card-body">
			<h4 class="card-title">Catatan Tambah</h4>
			<!-- <form th:action="@{/fakultas/create}" method="post"
				class="forms-sample"> 
				action dihapus, diberi id sesuai dg list #form-catatan-tambah
				-->
			<form th:action="@{/catatan/create}" method="post" class="forms-sample" id="form-catatan-tambah">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Judul Catatan *</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" 
							name="title" required="required">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Catatan</label>
					<div class="col-sm-9">
						<input type="text" class="form-control"
							name="notes" >
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Jenis Catatan *</label>
					<div class="col-sm-9">
						<select class="form-control" name="noteTypeId" required>
						<option value="">--PILIH---</option>
								<option 
									th:each="noteTypeModel : ${noteTypeModelList}"
									th:value="${noteTypeModel.id}" 
									th:utext="${noteTypeModel.name}" />
						</select>
					</div>
				</div>
				<button type="submit" class="btn btn-success mr-2">Submit</button>
				<button class="btn btn-light" data-dismiss="modal">Cancel</button>
			</form>


		</div>
	</div>

</body>
</html>