<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
body {
	font-size: medium;
}
</style>

</head>
<body>
	<tr th:each="catatanModel:${catatanModel}">
		<td>
			<div class="hidden">
				<label for="title">Id</label><input type="text" name="id"
					th:value="${catatanModel.id}" />
			</div>
		</td>
		<td><i class="fa fa-fw fa-trash"
			style="color: red; font-size: 7.5em;"></i></td>
		<td>Apakah anda benar ingin menghapus catatan</td>
		<b><td th:text="${catatanModel.title}"></td></b>
		<td>?</td>
	</tr>
	<div class="btn" style="padding-left: 450px">
		<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		<button type="submit" class="btn btn-default" id="select-doDelete"
			th:value="${catatanModel.id}">YES</button>
	</div>
</body>
</html>