<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form id="form-role-edit" method="post">
		<div class="hidden">
			<label for="title">Id</label><input type="text"
				name="id" th:value="${catatanModel.id}" />
		</div>
		<div class="form-group">
			<label for="title">Judul Catatan *</label><input type="text"
				name="title" th:value="${catatanModel.title}" required="required"/>
		</div>
		<div class="">
			<label for="notes">Catatan</label><input type="text" name="notes"
				th:value="${catatanModel.notes}" />
		</div>
		<div class="">
			<label for="noteTypeId">Jenis Catatan *</label> 
			<select	class="form-control" name="noteTypeId" required>
				<option th:each="nt : ${noteTypeModelList}"
					th:value="${nt.id}" 
					th:utext="${nt.name}"
					th:selected="${nt.id==catatanModel.noteTypeId}"/>
			</select>
		</div>
		<button type="submit" class="btn">Submit</button>
	</form>
</body>
</html>