<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999.xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cek Email</title>
<link href="/AdminLTE/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/AdminLTE/dist/css/profil/style.css">
</head>
<body>
	<div class="card col-sm-4 offset-sm-4"
		style="margin-top: 200px; border: 2px solid #000066;" id="card-reset">
		<div class="card-header"
			style="background: #000066; color: white; margin-left: -17px; margin-right: -17px;">
			Silahkan cek email anda</div>
		<div class="col-sm-12" style="margin-top: 20px;">
					<p class="card-text">Email permintaan ubah kata sandi telah di
						kirimkan ke
					<h6 th:text="${addrBookModel.email}"></h6>
					<br>
			<footer class="col-sm-12 text-center"
				style="color: #000066; margin-bottom: 10px;">
				<a id="xsisFooter">2020 - Xsis Mitra Utama</a>
			</footer>
		</div>
	</div>
</body>
</html>