<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>XSIS 2.0 | Homepage</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/maul/style.css">
  <link rel="stylesheet" href="/AdminLTE/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/AdminLTE/bower_components/morris.js/morris.css">
  <link rel="stylesheet" href="/AdminLTE/bower_components/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<style>
.main {
	text-align: center;
	padding-top: 25%;
}

.isi {
	display: inline-block;
}
</style>
</head>
<body class="skin-blue-light sidebar-mini" >
	<div class="col-md-12 select-access">
		<div class="box box-solid">
            <div class="box-header bg-purple with-border">
              <header class="main-header" ><h4>Hi, <b><span 
				th:utext="${biodataModel.nickName}"
				style="background-color: transparent;"></span> !</b></h3></header>
            </div>
            <div class="box-body">
              <div align="center" >Selamat Datang di XSIS 2.0, Silahkan pilih role anda.</div>
				<div data-widget="tree">
					<li class="treeview"  style="list-style: none;"> 
						<a href="#">PERUSAHAAN A</a>
						<ul class="treeview-menu" style="display: none;">
							<li><a style="list-style: none;" th:each="userRoleModel:${userRoleModelList}" th:utext="${userRoleModel.roleModel.name}" th:href="@{/masuk/home}" id="toHome"></a></li>
						</ul>
					</li>
					<li class="treeview"  style="list-style: none;"> 
						<a href="#">PERUSAHAAN B</a>
						<ul class="treeview-menu" style="display: none;">
							<li><a style="list-style: none;" th:each="userRoleModel:${userRoleModelList}" th:utext="${userRoleModel.roleModel.name}" th:href="@{/masuk/home}" id="toHome"></a></li>
						</ul>
					</li>
				</div>
            </div>
            <!-- /.box-body -->
          </div>

	<script src="/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
	<script
		src="/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
	<script src="/AdminLTE/dist/js/adminlte.min.js"></script>
	<script src="/AdminLTE/dist/js/demo.js"></script>

</body>

<script type="text/javascript">
	

</script>

</html>