<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Referensi Index</title>
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="../../bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="../../bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<!-- demo style -->

</head>
<body>
	<div class="container">
		<h3>
			Referensi <a id="btn-add"><i class="fa fa-plus-circle"></i></a>
		</h3>
		<p>(Dosen Pembimbing/Atasan sebelumnya yang dapat dimintai
			keterangan diri)</p>

		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>NAMA</th>
						<th>ALAMAT</th>
						<th>JABATAN</th>
						<th>HUBUNGAN</th>
						<th>#</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="referensiModelList: ${referensiModelList}">
						<td th:text="${referensiModelList.name}"></td>
						<td th:text="${referensiModelList.addressPhone}"></td>
						<td th:text="${referensiModelList.position}"></td>
						<td th:text="${referensiModelList.relation}"></td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default">More</button>
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown" aria-expanded="false">
									<span class="caret"></span> <span class="sr-only">Toggle
										Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a id="menu-ubah">Ubah</a></li>
									<li><a id="menu-hapus">Hapus</a></li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br>

		<h3>
			Keterangan Tambahan <a href="#" id="viewketam"> <i
				class="fa fa-search"></i></a> <a href="#" id="editketam"> <i
				class="fa fa-edit"></i></a>
		</h3>
		<div>
			<table class="table">
				<!-- th:each="dataTambahan:${dataTambahan}"> -->
				<tr>
					<th>Gaji Yang Diharapkan</th>
					<td>:</td>
					<td th:text="${dataTambahan.expectedSalary}"></td>
				</tr>
				<tr>
					<th>Negotiable</th>
					<td>:</td>
					<td th:text="${dataTambahan.isNegotiable}"></td>
				</tr>
				<tr>
					<th>Kapan Siap Mulai Bekerja</th>
					<td>:</td>
					<td th:text="${dataTambahan.startWorking}"></td>
				</tr>
				<tr>
					<th>Bersedia Ditempatkan Di Luar Kota</th>
					<td>:</td>
					<td th:text="${dataTambahan.isReadyToOutoftown}"></td>
				</tr>
				<tr>
					<th>Kontak Darurat (Keluarga Tidak Serumah)</th>
					<td>:</td>
					<td th:text="${dataTambahan.emergencyContactName}"></td>
				</tr>
				<tr>
					<th>Nomor Telp. Darurat</th>
					<td>:</td>
					<td th:text="${dataTambahan.emergencyContactPhone}"></td>
				</tr>
			</table>
		</div>

		<div id="modal-form" class="modal fade" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content"></div>
			</div>
		</div>
		<div id="modal-form-lg" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content"></div>
			</div>
		</div>
		<div id="modal-form-xl" class="modal fade" role="dialog">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content"></div>
			</div>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then other JS -->
	<script type="text/javascript" src="../../js/jquery-3.4.0.min.js"></script>
	<script type="text/javascript" src="../../js/popper.min.js"></script>
	<script type="text/javascript"
		src="../../bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="../../fontawesome-free-5.8.1-web/js/fontawesome.min.js"></script>

	<script type="text/javascript">
		$("#btn-add").click(function() {
			$.ajax({
				url : '/lainlain/add_ref',
				type : 'get',
				datType : 'html',
				success : function(hasil) {
					$("#modal-form-lg").find(".modal-content").html(hasil);
					$("#modal-form-lg").modal("show");
				}
			});
		});

		$("#menu-ubah").click(function() {
			var a = $(this).attr("href");
			$.ajax({
				url : a,
				type : 'get',
				datType : 'html',
				success : function(hasil) {
					$("#modal-form-lg").find(".modal-content").html(hasil);
					$("#modal-form-lg").modal("show");
				}
			});
			return false;
		});

		$("#menu-hapus").click(function() {
			var a = $(this).attr("href");
			$.ajax({
				url : a,
				type : 'get',
				datType : 'html',
				success : function(hasil) {
					$("#modal-form").find(".modal-content").html(hasil);
					$("#modal-form").modal("show");
				}
			});
			return false;
		});

		$("#viewketam").click(function() {
			$.ajax({
				url : '/lainlain/viewketam',
				type : 'get',
				datType : 'html',
				success : function(hasil) {
					$("#modal-form-lg").find(".modal-content").html(hasil);
					$("#modal-form-lg").modal("show");
				}
			});
			return false;
		});

		$("#editketam").click(function() {
			$.ajax({
				url : '/lainlain/editketam',
				type : 'get',
				datType : 'html',
				success : function(hasil) {
					$("#modal-form-xl").find(".modal-content").html(hasil);
					$("#modal-form-xl").modal("show");
				}
			});
			return false;
		});
	</script>

</body>
</html>