<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Referensi Index</title>
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet"
	href="/AdminLTE/dist/css/skins/_all-skins.min.css">
<!-- Morris chart -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/morris.js/morris.css">
<!-- jvectormap -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/jvectormap/jquery-jvectormap.css">
<!-- Date Picker -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<!-- Daterange picker -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet"
	href="/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<style type="text/css">
.jqstooltip {
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	background: rgb(0, 0, 0) transparent;
	background-color: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,
		endColorstr=#99000000);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	color: white;
	font: 10px arial, san serif;
	text-align: left;
	white-space: nowrap;
	padding: 5px;
	border: 1px solid white;
	box-sizing: content-box;
	z-index: 10000;
}

.jqsfield {
	color: white;
	font: 10px arial, san serif;
	text-align: left;
}
</style>

</head>
<body>
	<div class="content">
		<h3>
			Referensi
		</h3><span>
						<button onclick="javascript:return" type="button" class="btn bg-purple" id="btn-add">
							<b>+</b>
						</button>

				</span>
		<p>(Dosen Pembimbing/Atasan sebelumnya yang dapat dimintai
			keterangan diri)</p>

		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>NAMA</th>
						<th>ALAMAT</th>
						<th>JABATAN</th>
						<th>HUBUNGAN</th>
						<th>#</th>
					</tr>
				</thead>
				<tbody id="list-referensi">
					<tr th:each="referensiModelList: ${referensiModelList}">
						<td th:text="${referensiModelList.name}"></td>
						<td th:text="${referensiModelList.addressPhone}"></td>
						<td th:text="${referensiModelList.position}"></td>
						<td th:text="${referensiModelList.relation}"></td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default">More</button>
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown" aria-expanded="false">
									<span class="caret"></span> <span class="sr-only">Toggle
										Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a id="menu-ubah">Ubah</a></li>
									<li><a id="klik-hapus" th:value="${referensiModelList.id}"
										data-toggle="modal" data-target="#modal-default">Hapus</a></li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br>

		<h3>
			Keterangan Tambahan <a href="#" id="view_additional"> <i
				class="fa fa-search"></i></a> <a href="#" id="edit_additional"> <i
				class="fa fa-edit"></i></a>
		</h3>
		<div>
			<table class="table" th:each="dataTambahan:${dataTambahan}">
				<tr>
					<th>Gaji Yang Diharapkan</th>
					<td>:</td>
					<td th:text="${dataTambahan.expectedSalary}"></td>
				</tr>
				<tr>
					<th>Negotiable</th>
					<td>:</td>
					<td th:text="${dataTambahan.isNegotiable}"></td>
				</tr>
				<tr>
					<th>Kapan Siap Mulai Bekerja</th>
					<td>:</td>
					<td th:text="${dataTambahan.startWorking}"></td>
				</tr>
				<tr>
					<th>Bersedia Ditempatkan Di Luar Kota</th>
					<td>:</td>
					<td th:text="${dataTambahan.isReadyToOutoftown}"></td>
				</tr>
				<tr>
					<th>Kontak Darurat (Keluarga Tidak Serumah)</th>
					<td>:</td>
					<td th:text="${dataTambahan.emergencyContactName}"></td>
				</tr>
				<tr>
					<th>Nomor Telp. Darurat</th>
					<td>:</td>
					<td th:text="${dataTambahan.emergencyContactPhone}"></td>
				</tr>
			</table>
		</div>

		<div id="modal-default" class="modal fade" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content"></div>
			</div>
		</div>
		<div id="modal-default-lg" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content"></div>
			</div>
		</div>
		<div id="modal-default-xl" class="modal fade" role="dialog">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content"></div>
			</div>
		</div>
		<div class="modal fade" id="modal-default">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title">Hapus Referensi?</h4>
					</div>
					<div class="modal-body">
						<span class="glyphicon glyphicon-trash"></span>
						<h4>Anda yakin ingin menghapus referensi</h4>
						<input type="text" id="name" readonly="readonly">
					</div>
					<div class="modal-footer">
						<div class="btn-group">
							<a href="/lainnya/{id}"><button type="button"
									class="btn btn-warning col">
									<font style="color: white">Batal</font>
								</button></a>
							<button type="submit" class="btn btn-danger col" id="menu-hapus">
								<font style="color: white">Hapus</font>
							</button>
						</div>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	</div>
	<!-- jQuery 3 -->
<script src="../../AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../../AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../AdminLTE/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../AdminLTE/dist/js/demo.js"></script>
	<script type="text/javascript">
	refreshTableData();
var element = 10;
var page = 0;

	function refreshTableData() {
		$.ajax({
			url : '/lainnya/data',
			type : 'get',
			dataType : 'html',
			success : function(result) {
				$('#list-referensi').html(result);
			}
		});
	};
	
	$("#btn-add").click(function(){
		$.ajax({
			url:'/lainnya/add_ref',
			type:'get',
			dataType:'html',
			success:function(hasil){
				$("#modal-default-lg").modal("show");
				$("#modal-default-lg").find(".modal-content").html(hasil);
				
			}
		});
	});
	
	$('#modal-default-lg').on('submit','#form-ref-add',function() {
		$.ajax({
			url : '/lainnya/simpan',
			type : 'post',
			data: $(this).serialize(),
			success : function(result) {
				alert('Referensi telah ditambah');
				$('#modal-default-lg').modal('hide');
				refreshTableData();
			}
		});
		return false;
	});
	
	$('#list-referensi').on('click','#menu-ubah',function() {
		var code = $(this).val();
		alert(code);
		$.ajax({
			url : '/lainnya/ubah',
			type : 'get',
			dataType : 'html',
			data: {code,code},
			success : function(result) {
				$('#modal-default-lg').modal('show');
				$('#modal-default-lg').find('.modal-body').html(result);
			}
		});
	});
	
	$('#modal-default-lg').on('submit','#form-ref-edit',function() {
		$.ajax({
			url : '/lainnya/update',
			type : 'post',
			data: $(this).serialize(),
			success : function(result) {
				alert('Referensi diperbarui');
				$('#modal-default-lg').modal('hide');
				refreshTableData();
			}
		});
		return false;
	});
	$('#modal-default').on('submit',function() {
		$.ajax({
			url : '/lainnya/hapus',
			type : 'post',
			data: $(this).serialize(),
			success : function(result) {
				alert('Referensi telah ditambah');
				$('#modal-').modal('hide');
			}
		});
		return false;
	});
	$('#list-referensi').on('click','#klik-hapus',function() {
		var name = $(this).val();
		
		$.ajax({
			url : '/lainnya/hapus',
			type : 'get',
			dataType : 'html',
			data: {name,name},
			success : function(result) {
				alert(name);
				$('#modal-default').modal('show');
				$('#modal-default').find('.modal-body').html(result);
			}
		});
		
	});
	
	function backPage(){
		if(this.page == 0){
			alert("Sudah Halaman Terakhir!")
			var halaman = this.page;
			$.ajax({
				url : '/lainnya/doBack',
				type : 'get',
				dataType : 'html',
				data: {halaman},
				success : function(result) {
					$('#list-referensi').html(result);
				}
			});
		} else{
			this.page = this.page - 1;
			var halaman = this.page;
			$.ajax({
				url : '/lainnya/doBack',
				type : 'get',
				dataType : 'html',
				data: {halaman},
				success : function(result) {
					$('#list-referensi').html(result);
				}
			});
		}; 
		return false;
	};
	
	function afterPage(){
			this.page = this.page + 1;
			alert(page);
		
		return false;
	};
	
	$("#view_additional").click(function(){
		$.ajax({
			url: '/lainnya/viewinfo',
			type:'get',
			datType:'html',
			success:function(hasil){
				$("#modal-default-lg").find(".modal-content").html(hasil);
				$("#modal-default-lg").modal("show");
			}
		});
		return false;
	});
	
	$("#edit_additional").click(function(){
		$.ajax({
			url: '/lainnya/editinfo',
			type:'get',
			datType:'html',
			success:function(hasil){
				$("#modal-default-xl").find(".modal-content").html(hasil);
				$("#modal-default-xl").modal("show");
			}
		});
		return false;
	});
</script>

	</script>

</body>
</html>