<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
</head>
<body>

	<tr th:each="referensiModelList: ${referensiModelList}">
		<td th:text="${referensiModelList.name}"></td>
		<td th:text="${referensiModelList.addressPhone}"></td>
		<td th:text="${referensiModelList.position}"></td>
		<td th:text="${referensiModelList.relation}"></td>
		<td>
			<div class="btn-group">
				<button type="button" class="btn btn-default">More</button>
				<button type="button" class="btn btn-default dropdown-toggle"
					data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span> <span class="sr-only">Toggle
						Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a id="menu-ubah">Ubah</a></li>
					<li><a id="menu-hapus">Hapus</a></li>
				</ul>
			</div>
		</td>
	</tr>
</body>
</html>