<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<tr th:each="sertifikasiModel: ${sertifikasiModel}" style="border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: #006;">
		<td th:text="${sertifikasiModel.id}" style="display: none;"></td>
		<td th:text="${sertifikasiModel.biodataId}" style="display: none;"></td>
		<td th:text="${sertifikasiModel.certificateName}"></td>
		<td th:text="${sertifikasiModel.publisher}"></td>
		<td th:text="${sertifikasiModel.validStartYear + '-' + sertifikasiModel.validStartMonth +' s.d. '+ sertifikasiModel.untilYear + '-' + sertifikasiModel.untilMonth}"></td>
		<td th:text="${sertifikasiModel.notes}" style="display: none;"></td>
		<td class="pull-right dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				More | <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li style="text-align: center;"><button class="btn"
						style="background-color: transparent;" id="menu-ubah"
						th:value="${sertifikasiModel.id}">Ubah</button></li>
				<li style="text-align: center;"><button class="btn"
						style="background-color: transparent;" id="menu-hapus"
						th:value="${sertifikasiModel.id}">Hapus</button></li>
			</ul>
		</td>
	</tr>
</body>
</html>