<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Bootstrap 3.3.7 -->

   
<title>XSIS 2.0</title>
</head>
<body>
 	
	<form id="form-tambah-pelamar" method="POST" name="formBiodata">

		<div class="modal-header"
			style="background-color: #3c8dbc; border-radius: 0px">
			<h4 class="modal-title" style="color: white; display:inline-block;">Masukkan Biodata</h4>
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close" style="color: white">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body">
			<div class="col-12">
				<div class="row">
				<ul class="errorMessages"></ul>
					<!-- Nama Lengkap -->
					<div class="form-group col-6 col-sm-6">
						<div class="control" id="fullname_div">
						<label for="fullname">Nama Lengkap *</label> <input type="text" class="form-control" name="fullname" id="fullname" required>		
						<span id="error-fullname"></span>							 					
						</div>
					</div>
					<!-- Nama Panggilan -->
					<div class="form-group col-6 col-sm-6">
						<label for="nickName">Nama Panggilan *</label> <input type="text" name="nickName"
							class="form-control" id="nickName" required>
					</div>
					<!-- Tempat Lahir -->
					<div class="form-group col-3 col-sm-3">
						<label for="pob">Tempat Lahir *</label> <input type="text" name="pob"
							class="form-control" id="pob" required>
					</div>
					<!-- Tgl. Lahir -->
					<div class="form-group col-3 col-sm-3">
						<label for="dob">Tgl. Lahir *</label> <input type="date" name="dob"
							class="form-control" id="dob" required>
					</div>
					<!-- Jenis Kelamin -->
					<div class="form-group col-3 col-sm-3">
						<label for="gender">Jenis Kelamin *</label> <select name="gender"
							class="form-control" id="gender" required>
							<option value="true">Pria</option>
							<option value="false">Wanita</option>
						</select>
					</div>
					<!-- Agama -->
					<div class="form-group col-3 col-sm-3">
						<label for="religion">Agama *</label> <select name="religionId" id="religion"
							class="form-control" required>
							<option th:each="religionModel : ${religionModelList}"
								th:value="${religionModel.id}" th:utext="${religionModel.name}"></option>
						</select>
					</div>
					<!-- Tinggi -->
					<div class="form-group col-3 col-sm-3">
						<label for="high">Tinggi (cm) *</label> <input type="text" name="high"
							class="form-control" id="high" required>
					</div>
					<!-- Berat -->
					<div class="form-group col-3 col-sm-3">
						<label for="weight">Berat (kg) *</label> <input type="text" name="weight"
							class="form-control" id="weight" required>
					</div>
					<!-- Kewarganegaraan -->
					<div class="form-group col-3 col-sm-3">
						<label for="nationality">Kewarganegaraan *</label> <input type="text"
							name="nationality" class="form-control" id="nationality" required>
					</div>
					<!-- Suku Bangsa -->
					<div class="form-group col-3 col-sm-3">
						<label>Suku Bangsa</label> <input type="text" name="ethnic"
							class="form-control">
					</div>
					<!-- Kegemaran / Hobi -->
					<div class="form-group col-6 col-sm-6">
						<label>Kegemaran / Hobi</label> <input type="text" name="hobby"
							class="form-control">
					</div>
					<!-- Jenis Identitas -->
					<div class="form-group col-3 col-sm-3">
						<label for="identityTypeId">Jenis Identitas *</label> <select name="identityTypeId"
							id="identityTypeId" class="form-control" required>
							<option th:each="identityTypeModel : ${identityTypeModelList}"
								th:value="${identityTypeModel.id}"
								th:utext="${identityTypeModel.name}"></option>
						</select>
					</div>
					<!-- Nomor Identitas -->
					<div class="form-group col-3 col-sm-3">
						<label>Nomor Identitas</label> <input type="text"
							name="identityNo" class="form-control">
					</div>
					<!-- Email -->
					<div class="form-group col-3 col-sm-3">
						<label for="email">Email *</label> <input type="text" name="email"
							class="form-control" id="email" required>
					</div>
					<!-- No. HP -->
					<div class="form-group col-3 col-sm-3">
						<label>No. HP</label> <input type="text" name="phoneNumber1"
							class="form-control">
					</div>
					<!-- No. HP Alternatif -->
					<div class="form-group col-3 col-sm-3">
						<label>No. HP Alternatif</label> <input type="text"
							name="phoneNumber2" class="form-control">
					</div>
					<!-- No. Tlp (Rumah/Orang Tua) -->
					<div class="form-group col-3 col-sm-3">
						<label for="parentPhoneNumber">No. Tlp (Rumah/Orang Tua) *</label> <input type="text"
							name="parentPhoneNumber" class="form-control" id="parentPhoneNumber" required>
					</div>
					<!-- Anak Ke -->
					<div class="form-group col-3 col-sm-3">
						<label for="childSequence">Anak Ke *</label> <input type="text" name="childSequence"
							class="form-control" id="childSequence" required>
					</div>
					<!-- Dari Berapa Bersaudara -->
					<div class="form-group col-3 col-sm-3">
						<label for="howManyBrothers">Dari Berapa Bersaudara *</label> <input type="text"
							name="howManyBrothers" class="form-control" id="howManyBrothers" required>
					</div>
					<!-- Status Pernikahan -->
					<div class="form-group col-3 col-sm-3">
						<label for="maritalStatusId">Status Pernikahan *</label> <select name="maritalStatusId"
							 class="form-control" id="maritalStatusId" required>
							<option th:each="maritalStatusModel : ${maritalStatusModelList}"
								th:value="${maritalStatusModel.id}"
								th:utext="${maritalStatusModel.name}"></option>
						</select>
					</div>
					<!-- Tahun Pernikahan -->
					<div class="form-group col-3 col-sm-3">
						<label>Tahun Pernikahan</label>
						<!-- <input type="text"
							name="marriageYear" class="form-control"> -->
						<select name="marriageYear" class="form-control" id="getYear">
							<option value="" selected>-Pilih-</option>
							<option
								th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), 1969)}"
								th:value="${year}" th:text="${year}" />
						</select>
					</div>
				</div>
			</div>
			<br>
			<div class="col-md-12">
				<div class="row">


					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-12">
								<h4>Alamat Sesuai Kartu Identitas</h4>
								<hr>
							</div>

							<!-- Alamat 1 -->
							<div class="form-group col-md-12">
								<label for="address1">Alamat *</label> <input type="text" name="address1"
									class="form-control" id="address1" required> 
							</div>
							<!-- Kode Pos 1 -->
							<div class="form-group col-6 col-md-6">
								<label>Kode Pos</label> <input type="text" name="postalCode1"
									class="form-control">
							</div>
							<!-- RT 1 -->
							<div class="form-group col-3 col-md-3">
								<label for="rt1">RT *</label> <input type="text" name="rt1"
									class="form-control" id="rt1" required>
							</div>
							<!-- RW 1 -->
							<div class="form-group col-3 col-md-3">
								<label for="rw1">RW *</label> <input type="text" name="rw1"
									class="form-control" id="rw1" required>
							</div>
							<!-- Kelurahan 1 -->
							<div class="form-group col-md-4">
								<label for="kelurahan1">Desa / Kelurahan *</label> <input type="text"
									name="kelurahan1" class="form-control" id="kelurahan1" required>
							</div>
							<!-- Kecamatan 1 -->
							<div class="form-group col-md-4">
								<label for="kecamatan1">Kecamatan *</label> <input type="text" name="kecamatan1"
									class="form-control" id="kecamatan1" required>
							</div>
							<!-- Kota 1 -->
							<div class="form-group col-md-4">
								<label for="region1">Kota *</label> <input type="text" name="region1"
									class="form-control" id="region1" required>
							</div>
						</div>
					</div>


					<div class="row">


						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">
									<h4>Alamat Sesuai Tempat Tinggal Saat Ini</h4>
									<hr>
								</div>
								<!-- Alamat 2 -->
								<div class="form-group col-md-12">
									<label for="address2">Alamat *</label> <input type="text" name="address2"
										class="form-control" id="address2" required>
								</div>
								<!-- Kode Pos 2 -->
								<div class="form-group col-md-6">
									<label>Kode Pos</label> <input type="text" name="postalCode2"
										class="form-control">
								</div>
								<!-- RT 2 -->
								<div class="form-group col-md-3">
									<label for="rt2">RT *</label> <input type="text" name="rt2"
										class="form-control" id="rt2" required>
								</div>
								<!-- RW 2 -->
								<div class="form-group col-md-3">
									<label for="rw2">RW *</label> <input type="text" name="rw2"
										class="form-control" id="rw2" required>
								</div>
								<!-- Kelurahan 2 -->
								<div class="form-group col-md-4">
									<label for="kelurahan2">Desa / Kelurahan *</label> <input type="text"
										name="kelurahan2" class="form-control" id="kelurahan2" required>
								</div>
								<!-- Kecamatan 2 -->
								<div class="form-group col-md-4">
									<label for="kecamatan2">Kecamatan *</label> <input type="text" name="kecamatan2"
										class="form-control" id="kecamatan2" required>
								</div>
								<!-- Kota 2 -->
								<div class="form-group col-md-4">
									<label for="region2">Kota *</label> <input type="text" name="region2"
										class="form-control" id="region2" required>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>

			<div class="modal-footer" >	
			<div style="float: right;">												
							
							<span class="btn-group btn-block">
								
								<button type="reset" class="btn btn-warning"
									data-dismiss="modal">Batal</button>
								<button type="submit" class="btn btn-primary" onclick="return validatePhone();">Simpan</button>

							</span>										
				</div>
			</div>
		</div>

	</form>
	

	<!-- JS Files -->
	
	
	
	<script type="text/javascript">
		function validatePhone() {

			var phone1 = document.forms["formBiodata"]["phoneNumber1"].value;
			var phone2 = document.forms["formBiodata"]["phoneNumber2"].value;
	
			if(phone1 == "" && phone2 == "") {	
				phone1 = 1;
				return false;				
				}
			else if(phone1 == phone2){
				alert("Nomor HP dan Nomor HP Alternatif tidak boleh sama!");
				return false;
				
			}
			else{
				return true;
			}
			return false;
		}

		var max = new Date().getFullYear();
		min = max - 50;
		select = document.getElementById("getYear");

		var opt = document.createElement('option');
		opt.value = "";
		opt.innerHTML = "-Pilih Tahun-";
		select.appendChild(opt);

		for (var i = max; i >= min; i--) {
			var opt = document.createElement('option');
			opt.value = i;
			opt.innerHTML = i;
			select.appendChild(opt);
		}

		/* select.value = new Date().getFullYear(); */
		

    var createAllErrors = function() {
        var form = $( this ),
            errorList = $( "ul.errorMessages", form );

        var showAllErrorMessages = function() {
            errorList.empty();

            // Find all invalid fields within the form.
            var invalidFields = form.find( ":invalid" ).each( function( index, node ) {

                // Find the field's corresponding label
                var label = $( "label[for=" + node.id + "] "),
                    // Opera incorrectly does not fill the validationMessage property.
                    message = node.validationMessage || 'Invalid value.';

                errorList
                    .show()
                    .append( "<li><span>" + label.html() + "</span> " + message + "</li>" );
            });
        };

        // Support Safari
        form.on( "submit", function( event ) {
            if ( this.checkValidity && !this.checkValidity() ) {
                $( this ).find( ":invalid" ).first().focus();
                event.preventDefault();
            }
        });

        $( "input[type=submit], button:not([type=button])", form )
            .on( "click", showAllErrorMessages);

        $( "input", form ).on( "keypress", function( event ) {
            var type = $( this ).attr( "type" );
            if ( /date|email|month|number|search|tel|text|time|url|week/.test ( type )
              && event.keyCode == 13 ) {
                showAllErrorMessages();
            }
        });
    };
    
    $( "form" ).each( createAllErrors );
</script>

<!-- <script type="text/javascript">
$(document).ready(function() {
    $('#form-tambah-pelamar').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            fullname: {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {
                        message: 'The username is required and can\'t be empty'
                    },
                    remote: {
                        url: 'remote2.php'
                    },
                    different: {
                        field: 'password',
                        message: 'The username and password can\'t be the same as each other'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required and can\'t be empty'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    },
                    remote: {
                        url: 'remote2.php'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required and can\'t be empty'
                    },
                    different: {
                        field: 'username',
                        message: 'The password can\'t be the same as username'
                    },
                    callback: {
                        callback: function(value, validator) {
                            // Check the password strength
                            if (value.length < 6) {
                                return {
                                    valid: false,
                                    message: 'The password must be more than 6 characters'
                                }
                            }
                            if (value === value.toLowerCase()) {
                                return {
                                    valid: false,
                                    message: 'The password must contain at least one upper case character'
                                }
                            }
                            if (value === value.toUpperCase()) {
                                return {
                                    valid: false,
                                    message: 'The password must contain at least one lower case character'
                                }
                            }
                            if (value.search(/[0-9]/) < 0) {
                                return {
                                    valid: false,
                                    message: 'The password must contain at least one digit'
                                }
                            }
                            return true;
                        }
                    }
                }
            }
        }
    });
});
</script> -->


</body>
</html>