<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<title>XSIS 2.0 | Detail Pelamar</title>
<meta
	content="height=device-height, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- <link rel="stylesheet"
	href="/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css">
<link rel="stylesheet"
	href="/AdminLTE/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet"
	href="/AdminLTE/bower_components/morris.js/morris.css">
<link rel="stylesheet"
	href="/AdminLTE/bower_components/jvectormap/jquery-jvectormap.css">
<link rel="stylesheet"
	href="/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<link rel="stylesheet"
	href="/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet"
	href="/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css"> -->
</head>
<body>
		<div class="row">
			<div class="col-md-3">
				<div class="sidebar">
				<input type="hidden" class="form-control" name="id" th:value="${biodataModel.id}"  readonly="readonly">
					<ul class="sidebar-menu tree" id="v-pills-tab" role="tablist" 
						aria-orientation="vertical">
						
						<li style="border: 1px solid #000066;"><a class="sidebar-link goToProfil"  th:value="${biodataModel.id}"> Profil </a></li>
						<li style="border: 1px solid #000066;" th:value="${biodataModel.id}" onclick="javascript:return toHomeBiodata(this.value);"><a class="sidebar-link active goToBiodata">
								Biodata </a></li>
						<li style="border: 1px solid #000066;" th:value="${biodataModel.id}" onclick="javascript:return toHomePekerjaan(this.value);"><a class="sidebar-link goToPekerjaan"
							> Pengalaman Kerja </a></li>
						<li style="border: 1px solid #000066;" th:value="${biodataModel.id}" onclick="javascript:return toHomePendidikan(this.value);"><a class="sidebar-link goToPendidikan"
							> Pendidikan </a></li>
						<li style="border: 1px solid #000066;" th:value="${biodataModel.id}" onclick="javascript:return toHomePelatihan(this.value);"><a class="sidebar-link goToPelatihan"
							> Pelatihan </a></li>
						<li style="border: 1px solid #000066;" th:value="${biodataModel.id}" onclick="javascript:return toSertifikasi(this.value);"><a class="sidebar-link goToSertifikasi">
								Sertifikasi </a></li>
						<li style="border: 1px solid #000066;"><a class="sidebar-link goToSumbeloker" th:href="@{*}">
								Sumber Lowongan Kerja </a></li>
						<li style="border: 1px solid #000066;" th:value="${biodataModel.id}" onclick="javascript:return toHomeOrganisasi(this.value);"><a class="sidebar-link goToOrganisasi"
						> Organisasi </a></li>
						<li style="border: 1px solid #000066;"  th:value="${biodataModel.id}" onclick="javascript:return toFamily(this.value);"><a class="sidebar-link goToCatatan"> Keluarga </a></li>
						<li style="border: 1px solid #000066;" th:value="${biodataModel.id}" onclick="javascript:return toHomeKeahlian(this.value);"><a class="sidebar-link goToCatatan"
							> Keahlian </a></li>
						<li style="border: 1px solid #000066;"  th:value="${biodataModel.id}" onclick="javascript:return toOther(this.value);"><a class="sidebar-link">
								Lain-lain </a></li>
						<li style="border: 1px solid #000066;"><a class="sidebar-link" href="#"> Dokumen </a></li>
						<li style="border: 1px solid #000066;" th:value="${biodataModel.id}" onclick="javascript:return toHomeCatatan(this.value);"><a class="sidebar-link goToCatatan"
							> Catatan </a></li>
						<li style="border: 1px solid #000066;" th:value="${biodataModel.id}" onclick="javascript:return toHomeAktivasiAkun(this.value);"><a class="sidebar-link" 
							> Aktivasi Akun </a></li>
						<li style="border: 1px solid #000066;"><a class="sidebar-link" href="#"> Lihat Tes </a></li>
						<li style="border: 1px solid #000066;"><a class="sidebar-link" href="#"> Hasil Tes </a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9 offset-md-3">
				<div id="detailList">
					<div class="detailContent"></div>
				</div>
			</div>
		</div>

	<script type="text/javascript">
	
	
	$(".goToProfil").click(function() {
		var id = $(this).attr('value');
		$.ajax({
			url : '/lihat/pelamar',
			type : 'get',
			dataType : 'html',
			data : {"id":id},
			success : function(hasil) {
				$("#detailList").find(".detailContent").html(hasil);
			}
		});
		return false;
	});
	
		

		$(".goToPengalamanKerja").click(function() {
			var a = $(this).attr("href");
			$.ajax({
				url : a,
				type : 'get',
				dataType : 'html',
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		});

		$(".goToSumbeloker").click(function() {
			var a = $(this).attr("href");
			$.ajax({
				url : a,
				type : 'get',
				dataType : 'html',
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		});
		
	/* 	$(".goToBiodata").click(function() {
			var a = $(this).attr("value");
			$.ajax({
				url : '/biodata/detail'
				type : 'get',
				dataType : 'html',
				data : {"id":id},
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		}); */
		
		function toHomeBiodata(idBiodata){
			var id = idBiodata;
			$.ajax({
				url : '/biodata/detail',
				type : 'get',
				data : {id,id},
				dataType : 'html',
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		};

		function toHomeKeahlian(idBiodata){
			var id = idBiodata;
			$.ajax({
				url : '/keahlian/home',
				type : 'get',
				data : {id,id},
				dataType : 'html',
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		};

		function toHomePelatihan(idBiodata){
			var id = idBiodata;
			$.ajax({
				url : '/pelatihan/home',
				type : 'get',
				data : {id,id},
				dataType : 'html',
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		};
		
		function toOther(idBiodata){
			var id = idBiodata;
			$.ajax({
				url : '/lainnya',
				type : 'get',
				data : {id,id},
				dataType : 'html',
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		};
		
		function toFamily(idBiodata){
			var id = idBiodata;
			$.ajax({
				url : '/keluarga/home',
				type : 'get',
				data : {id,id},
				dataType : 'html',
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		};
		function toSertifikasi(idBiodata){
			var id = idBiodata;
			$.ajax({
				url : '/sertifikasi/home',
				type : 'get',
				data : {id,id},
				dataType : 'html',
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		};


		function toHomePendidikan(idBiodata){
			var id = idBiodata;
			$.ajax({
				url : '/pendidikan/home',
				type : 'get',
				data : {id,id},
				dataType : 'html',
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		};
		
		function toHomeCatatan(idBiodata){
			var id = idBiodata;
			$.ajax({
				url : '/catatan/home',
				type : 'get',
				data : {id,id},
				dataType : 'html',
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		};
		
		function toHomeOrganisasi(idBiodata){
			var id = idBiodata;
			$.ajax({
				url : '/organisasi/home',
				type : 'get',
				data : {id,id},
				dataType : 'html',
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		};
		
		function toHomePekerjaan(idBiodata){
			var id = idBiodata;
			$.ajax({
				url : '/pekerjaan/home',
				type : 'get',
				data : {id,id},
				dataType : 'html',
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		};
		
		function toHomeAktivasiAkun(idBiodata){
			var id = idBiodata;
			$.ajax({
				url : '/aktivasi akun/home',
				type : 'get',
				data : {id,id},
				dataType : 'html',
				success : function(hasil) {
					$("#detailList").find(".detailContent").html(hasil);
				}
			});
			return false;
		};
	</script>


</body>
</html>