<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<style>
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	padding: 20px;
}

button {
	border: none;
	background: transparent;
}

.modal {
  overflow-y:auto;
}


</style>
<title>Insert title here</title>
</head>
<body>

<!-- 	
		.modal {
  			overflow-y:auto;
		}
		automatically add scroll bar on modal, usually used in modal with large height size or y
		https://stackoverflow.com/questions/28077066/bootstrap-modal-issue-scrolling-gets-disabled
-->

	<div class="col-sm-1">
		<div class="form-group">
			<select class="form-control" name="state" id="maxRows">
				<option value="5000">Show ALL Rows</option>				
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="70">70</option>
				<option value="100">100</option>
			</select>

		</div>
	</div>

	<table id="tabel-pelamar" class="table table-bordered table-striped"
		role="grid">
		<tr style="display:none">
		<th>Nama</th>
		<th>Tombol</th>
		</tr>
		<tr role="row" class="odd" th:each="biodataModel:${biodataModelList}">
			<td><a style="font-size: 20px"
				th:text="${biodataModel.fullname}"></a><br> <label>Nama
					Panggilan</label><a style="padding-left: 25px"
				th:text="${biodataModel.nickName}"></a><br> <label>Email</label><a
				style="padding-left: 90px" th:text="${biodataModel.email}"></a><br>
				<label>No. Handphone</label><a style="padding-left: 30px"
				th:text="${biodataModel.phoneNumber1}"></a><br> <label>Pendidikan</label><a
				style="padding-left: 55px" th:text="${biodataModel.phoneNumber2}"></a></td>

			<td align="center" style="vertical-align: middle">
				<button type="button" id="select-detail"
					th:value="${biodataModel.id}" onclick="toDetail(this.value);">
					<i id="detail" class="fa fa-fw fa-search"></i>
				</button>&nbsp;&nbsp;
				<button type="button" id="kirim" th:value="${biodataModel.id}"
					onclick="toToken(this.value);">
					<i id="token" class="fa fa-fw fa-envelope"></i>
				</button>
			</td>
		</tr>
	</table>

	<div class='pagination-container' style="text-align:right; padding-right:20px;">
		<nav>
			<ul class="pagination">

				<li data-page="prev"><span> Previous <span class="sr-only">(current)</span></span>
				</li>

				<li data-page="next" id="prev"><span> Next <span
						class="sr-only">(current)</span></span></li>
			</ul>
		</nav>
	</div>
	

	<div id="modal-pelamar-token" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header" style="background: #000066;">
					<button type="button" class="close" data-dismiss="modal"
						style="color: white">&times;</button>
					<h4 class="modal-title" style="color: white">Kirim Token</h4>
				</div>

				<div class="modal-body">
					<p>Some text in the modal.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div id="modal-pelamar-list" class="modal fade" style="overflow-y:auto;">
		<div class="modal-dialog modal-lg" style="width:1000px;">
			<div class="modal-content">
				<div class="modal-header" style="background: #000066;">
					<button type="button" class="close" data-dismiss="modal"
						style="color: white">&times;</button>
					<h4 class="modal-title" style="color: white">Detail Pelamar</h4>
				</div>

				<div class="modal-body">
					<p>Some text in the modal.</p>
				</div>
			</div>
		</div>
	</div>
	
</body>

<script>

function toDetail(idBiodata){
	var id = idBiodata;
	$.ajax({
		url : '/pelamar/doDetail',
		type : 'get',
		data: {id,id},
		success : function(result) {
			$('#modal-pelamar-list').modal({backdrop: 'static', keyboard: false}) 
			$('#modal-pelamar-list').modal('show');
			$('#modal-pelamar-list').find('.modal-body').html(result);
		}
	});
	return false;
};

function toToken(idBiodata){
	var id = idBiodata;
	$.ajax({
		url : '/kirim',
		type : 'get',
		data: {id,id},
		success : function(result) {
			$('#modal-pelamar-token').modal('show');
			$('#modal-pelamar-token').find('.modal-body').html(result);
		}
	});
	return false;
};



function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("tabel-pelamar");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir === "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir === "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount === 0 && dir === "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

function toDetail(idBiodata){
	var id = idBiodata;
	$.ajax({
		url : '/pelamar/doDetail',
		type : 'get',
		data: {id,id},
		success : function(result) {
			$('#modal-pelamar-list').modal({backdrop: 'static', keyboard: false}) 
			$('#modal-pelamar-list').modal('show');
			$('#modal-pelamar-list').find('.modal-body').html(result);
		}
	});
	return false;
};

</script>

<script type="text/javascript">
getPagination('#tabel-pelamar');
//getPagination('.table-class');
//getPagination('table');

/*					PAGINATION 
- on change max rows select options fade out all rows gt option value mx = 5
- append pagination list as per numbers of rows / max rows option (20row/5= 4pages )
- each pagination li on click -> fade out all tr gt max rows * li num and (5*pagenum 2 = 10 rows)
- fade out all tr lt max rows * li num - max rows ((5*pagenum 2 = 10) - 5)
- fade in all tr between (maxRows*PageNum) and (maxRows*pageNum)- MaxRows 
*/

function getPagination (table){

var lastPage = 1 ; 

$('#maxRows').on('change',function(evt){
//$('.paginationprev').html('');						// reset pagination 


lastPage = 1 ; 
$('.pagination').find("li").slice(1, -1).remove();
var trnum = 0 ;									// reset tr counter 
var maxRows = parseInt($(this).val());			// get Max Rows from select option

if(maxRows == 5000 ){

$('.pagination').hide();
}else {

$('.pagination').show();
}

var totalRows = $(table+' tbody tr').length;		// numbers of rows 
$(table+' tr:gt(0)').each(function(){			// each TR in  table and not the header
trnum++;									// Start Counter 
if (trnum > maxRows ){						// if tr number gt maxRows
	
	$(this).hide();							// fade it out 
}if (trnum <= maxRows ){$(this).show();}// else fade in Important in case if it ..
});											//  was fade out to fade it in 
if (totalRows > maxRows){						// if tr total rows gt max rows option
var pagenum = Math.ceil(totalRows/maxRows);	// ceil total(rows/maxrows) to get ..  
											//	numbers of pages 
for (var i = 1; i <= pagenum ;){			// for each page append pagination li 
$('.pagination #prev').before('<li data-page="'+i+'">\
			      <span>'+ i++ +'<span class="sr-only">(current)</span></span>\
			    </li>').show();
}											// end for i 
} 												// end if row count > max rows
$('.pagination [data-page="1"]').addClass('active'); // add active class to the first li 
$('.pagination li').on('click',function(evt){		// on click each page
evt.stopImmediatePropagation();
evt.preventDefault();
var pageNum = $(this).attr('data-page');	// get it's number

var maxRows = parseInt($('#maxRows').val());			// get Max Rows from select option

if(pageNum == "prev" ){
if(lastPage == 1 ){return;}
pageNum  = --lastPage ; 
}
if(pageNum == "next" ){
if(lastPage == ($('.pagination li').length -2) ){return;}
pageNum  = ++lastPage ; 
}

lastPage = pageNum ;
var trIndex = 0 ;							// reset tr counter
$('.pagination li').removeClass('active');	// remove active class from all li 
$('.pagination [data-page="'+lastPage+'"]').addClass('active');// add active class to the clicked 
// $(this).addClass('active');					// add active class to the clicked 
$(table+' tr:gt(0)').each(function(){		// each tr in table not the header
	trIndex++;								// tr index counter 
	// if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
	if (trIndex > (maxRows*pageNum) || trIndex <= ((maxRows*pageNum)-maxRows)){
		$(this).hide();		
	}else {$(this).show();} 				//else fade in 
}); 										// end of for each tr in table
});										// end of on click pagination list

}).val(10).change();

							// end of on select change 



			// END OF PAGINATION 
}	

//Developed By Yasser Mas 
//yasser.mas2@gmail.com
</script>


</html>