<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form id="form-org-edit" method="post">
		<div class="hidden">
			<label for="id">Id</label><input type="text" name="id"
				th:value="${organisasiModel.id}" />
		</div>
		<div class="form-group">
			<label for="name">Nama Organisasi *</label><input type="text"
				name="name" th:value="${organisasiModel.name}" required="required"/>
		</div>
		<div class="form-group">
			<label for="position">Jabatan *</label><input type="text"
				name="position" th:value="${organisasiModel.position}" required="required"/>
		</div>
		<div class="form-group">
			<label for="responsibility">Tanggung Jawab</label><input type="text"
				name="responsibility" th:value="${organisasiModel.responsibility}" />
		</div>
		<div class="form-group">
			<label for="notes">Catatan</label><input type="text" name="notes"
				th:value="${organisasiModel.notes}" />
		</div>
		<div class="form-group">
			<label for="entryYear">Tahun Masuk *</label> <select
				class="form-control" name="entryYear" required="required">
				<option
					th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), #dates.year(#dates.createNow())-20)}"
					th:value="${year}" th:text="${year}"
					th:selected="${year+''==organisasiModel.entryYear}" />

			</select>
		</div>
		<div class="form-group">
			<label for="entryYear">Tahun Keluar *</label> <select
				class="form-control" name="exitYear" required="required">
				<option
					th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), #dates.year(#dates.createNow())-20)}"
					th:value="${year}" th:text="${year}"
					th:selected="${year+''==organisasiModel.exitYear}" />

			</select>
		</div>
		<button type="submit" class="btn">Submit</button>
	</form>
</body>
</html>