<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form id="form-pendidikan-edit" method="post">
		<input class="form-control" type="text" name="id"
			th:value="${pendidikanModel.id}" style="display: none">
		<div class="col-sm-12">
			<div class="col-sm-6">
				<label for="code">Nama Instansi/Sekolah</label><input
					class="form-control" type="text" name="schoolName"
					th:value="${pendidikanModel.schoolName}" required="required" />
			</div>
			<div class="col-sm-3 offset-sm-6">
				<label>Kota</label><input class="form-control" type="text"
					name="city" th:value="${pendidikanModel.city}" />
			</div>
			<div class="col-sm-3 offset-sm-9">
				<label>Negara</label><input class="form-control" type="text"
					name="country" th:value="${pendidikanModel.country}" />
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6">
				<label>Jenjang Pendidikan</label> <select class="form-control"
					name="educationLevel" required="required">
					<option th:each="jg:${jenjangPendidikan}"
						th:value="${pendidikanModel.educationLevelId}"
						th:utext="${jg.name}"></option>
					<option th:each="jg:${jenjangPendidikan}" th:value="${jg.id}"
						th:utext="${jg.name}"></option>
				</select>
			</div>
			<div class="col-sm-3 offset-sm-6">
				<label>Tahun Masuk</label> <select id="validStartYear"
					name="entryYear" class="form-control">
					<option th:value="${pendidikanModel.entryYear}"
						th:utext="${pendidikanModel.entryYear}"></option>
					<option id="validStartYearOption"></option>
				</select>
			</div>
			<div class="col-sm-3 offset-sm-9">
				<label>Tahun Lulus</label> <select id="validEndYear"
					name="graduationYear" class="form-control">
					<option th:value="${pendidikanModel.graduationYear}"
						th:utext="${pendidikanModel.graduationYear}"></option>
					<option id="validEndYearOption"></option>
				</select>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6">
				<label>Jurusan</label><input class="form-control" type="text"
					name="major" th:value="${pendidikanModel.major}" />
			</div>
			<div class="col-sm-6 offset-sm-6">
				<label>IPK</label><input class="form-control" type="text" name="gpa"
					th:value="${pendidikanModel.gpa}" />
			</div>
		</div>
		<div class="col-sm-12">
			<label>Notes</label>
			<textarea class="form-control" rows="5" name="notes"
				th:value="${pendidikanModel.notes}"></textarea>
		</div>
		<div  class="col-sm-12">
			<div class="col-sm-10"></div>
			<div class="col-sm-2 offset-sm-10" style="padding-top: 0.2cm;">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>

	<script type="text/javascript">
		var year = new Date().getFullYear();
		min = year - 39, max = year, select = document
				.getElementById('validStartYear');

		for (var i = min; i <= max; i++) {
			var opt = document.createElement('option');
			opt.value = i;
			opt.innerHTML = i;
			select.appendChild(opt);
		};

		var year = new Date().getFullYear();
		min = year - 39, max = year, select = document
				.getElementById('validEndYear');

		for (var i = min; i <= max; i++) {
			var opt = document.createElement('option');
			opt.value = i;
			opt.innerHTML = i;
			select.appendChild(opt);
		}
	</script>


</body>
</html>