<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Tambah Pengalaman Kerja</title>
</head>
<style>
.xsis-input-border {
	border-radius: 5px;
	border-color: #006;
}

.xsis-btn-batal {
	color: white;
	font-weight: bold;
	background-color: #FF6600;
}

.xsis-btn-simpan {
	color: white;
	font-weight: bold;
	background-color: #010066;
}
</style>
<body>
	<div class="content ">
		<form id="form-pekerjaan-add">
			<div>
				<input type="hidden" th:value="${biodataModel.id}" name="id" />
			</div>

			<div class="col-sm-12">
				<div class="col-sm-6">
					<label>Nama Perusahaan/Instansi *</label> <input
						class="form-control xsis-input-border" name="companyName" required />
				</div>
				<div class="col-sm-3 offset-sm-6">
					<label>Kota</label> <input class="form-control xsis-input-border" name="city" />
				</div>
				<div class="col-sm-3 offset-sm-9">
					<label>Negara</label> <input class="form-control xsis-input-border" name="country" />
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Waktu Masuk *</label> <select class="form-control xsis-input-border"
						name="joinMonth" required="required">
						<option value="">- Pilih Bulan -</option>
						<!--<option value="1">January</option> -->
						<!--<option value="2">February</option> -->
						<!--<option value="3">March</option> -->
						<!--<option value="4">April</option> -->
						<!--<option value="5">May</option> -->
						<!--<option value="6">June</option> -->
						<!--<option value="7">July</option> -->
						<!--<option value="8">August</option> -->
						<!--<option value="9">September</option> -->
						<!--<option value="10">October</option> -->
						<!--<option value="11">November</option> -->
						<!--<option value="12">December</option> -->
						<option th:each="month : ${#numbers.sequence(1,12)}"
							th:value="${month}" th:text="${month}" />
					</select>
				</div>
				<div class="col-sm-3 offset-sm-6">
					<label>-</label> <select id="yearMasuk" class="form-control xsis-input-border"
						name="joinYear" required="required">
						<option value="">- Pilih Tahun -</option>

					</select>
				</div>
				<div class="col-sm-3">
					<label>Waktu Keluar</label> <select class="form-control xsis-input-border"
						name="resignMonth">
						<option value="">- Pilih Bulan -</option>
						<!--<option value="1">January</option> -->
						<!--<option value="2">February</option> -->
						<!--<option value="3">March</option> -->
						<!--<option value="4">April</option> -->
						<!--<option value="5">May</option> -->
						<!--<option value="6">June</option> -->
						<!--<option value="7">July</option> -->
						<!--<option value="8">August</option> -->
						<!--<option value="9">September</option> -->
						<!--<option value="10">October</option> -->
						<!--<option value="11">November</option> -->
						<!--<option value="12">December</option> -->
						<option th:each="month : ${#numbers.sequence(1,12)}"
							th:value="${month}" th:text="${month}" />
					</select>
				</div>
				<div class="col-sm-3">
					<label>-</label> <select id="yearKeluar" class="form-control xsis-input-border"
						name="resignYear">
						<option value="">- Pilih Tahun -</option>
					</select>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">
					<label>Posisi Terakhir *</label> <input type="text"
						class="form-control xsis-input-border" name="lastPosition" required="required">
				</div>
				<div class="col-sm-6 offset-sm-6">
					<label>Penghasilan Terakhir (IDR)</label> <input type="text"
						class="form-control xsis-input-border" name="income">
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">
					<input type="checkbox" id="checkbox-it-related" name="isItRelated"
						value="false"> <label>IT Related?</label>
				</div>
			</div>

			<div class="col-sm-12" style="padding: 0px 30px;">
				<label>Keterangan Singkat Mengenai Pekerjaan</label> <input
					type="text" class="form-control xsis-input-border" name="aboutJob">
			</div>
			<div class="col-sm-12" style="padding: 0px 30px;">
				<label>Alasan Keluar</label> <input type="text" class="form-control xsis-input-border"
					name="exitReason">
			</div>
			<div class="col-sm-12" style="padding: 0px 30px;">
				<label>Catatan</label> <input type="text" class="form-control xsis-input-border" 
					name="notes">
			</div>
			<div class="form-group col-12 col-sm-12">
				<div class="btn-group pull-right"
					style="padding-top: 0.2cm; padding-right: 14px;">
					<button type="button" class="btn xsis-btn-batal"
						onclick="javascript:return doClose()">
						<font style="color: white">Batal</font>
					</button>
					<button type="submit" class="btn xsis-btn-simpan">
						<font style="color: white">Simpan</font>
					</button>
				</div>
			</div>
		</form>
	</div>

</body>
<script type="text/javascript">
	// generate year-dropdown
	var year = new Date().getFullYear();
	min = year - 20;
	max = year;
	selectMasuk = document.getElementById('yearMasuk');
	selectKeluar = document.getElementById('yearKeluar');

	for (var i = min; i <= max; i++) {
		var opt = document.createElement('option');
		opt.value = i;
		opt.innerHTML = i;
		selectMasuk.appendChild(opt);
	}
	for (var i = min; i <= max; i++) {
		var opt = document.createElement('option');
		opt.value = i;
		opt.innerHTML = i;
		selectKeluar.appendChild(opt);
	}

	// checkbox has value 'on' and 'null'
	// below is how to set checkbox value to 'true' and 'false'
	$('#checkbox-value').text($('#checkbox-it-related').val());
	$("#checkbox-it-related").on('change', function() {
		if ($(this).is(':checked')) {
			$(this).attr('value', 'true');
		} else {
			$(this).attr('value', 'false');
		}

		$('#checkbox-value').text($('#checkbox-it-related').val());
	});
	
	function doClose(){
		$('#modal-pekerjaan-tambah').modal('hide');
	}
</script>
</html>