<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catatan Tambah</title>
</head>
<style>
.xsis-input-border {
	border-radius: 5px;
	border-color: #006;
}

.xsis-btn-batal {
	color: white;
	font-weight: bold;
	background-color: #FF6600;
}

.xsis-btn-simpan {
	color: white;
	font-weight: bold;
	background-color: #010066;
}
</style>
<body>
	<form id="form-pekerjaan-edit" method="post">
		<input class="form-control" type="text" name="id"
			th:value="${pekerjaanModel.id}" style="display: none">

		<div class="col-sm-12">
			<div class="col-sm-6">
				<label>Nama Perusahaan/Instansi *</label> <input
					class="form-control xsis-input-border" name="companyName" required
					th:value="${pekerjaanModel.companyName}" />
			</div>
			<div class="col-sm-3 offset-sm-6">
				<label>Kota</label> <input class="form-control xsis-input-border"
					name="city" th:value="${pekerjaanModel.city}" />
			</div>
			<div class="col-sm-3 offset-sm-9">
				<label>Negara</label> <input class="form-control xsis-input-border"
					name="country" th:value="${pekerjaanModel.country}" />
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-3">
				<label>Waktu Masuk *</label> <select
					class="form-control xsis-input-border" name="joinMonth"
					required="required">
					<option value="">- Pilih Bulan -</option>
					<!--<option value="1">January</option> -->
					<!--<option value="2">February</option> -->
					<!--<option value="3">March</option> -->
					<!--<option value="4">April</option> -->
					<!--<option value="5">May</option> -->
					<!--<option value="6">June</option> -->
					<!--<option value="7">July</option> -->
					<!--<option value="8">August</option> -->
					<!--<option value="9">September</option> -->
					<!--<option value="10">October</option> -->
					<!--<option value="11">November</option> -->
					<!--<option value="12">December</option> -->
					<option th:each="month : ${#numbers.sequence(1,12)}"
						th:value="${month}" th:text="${month}"
						th:selected="${month+''==pekerjaanModel.joinMonth}" />
				</select>
			</div>
			<div class="col-sm-3 offset-sm-6">
				<label>-</label> <select id="yearMasuk"
					class="form-control xsis-input-border" name="joinYear"
					required="required">
					<option
						th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), #dates.year(#dates.createNow())-20)}"
						th:value="${year}" th:text="${year}"
						th:selected="${year+''==pekerjaanModel.joinYear}" />

				</select>
			</div>
			<div class="col-sm-3">
				<label>Waktu Keluar *</label> <select
					class="form-control xsis-input-border" name="resignMonth">
					<option value="">- Pilih Bulan -</option>
					<!--<option value="1">January</option> -->
					<!--<option value="2">February</option> -->
					<!--<option value="3">March</option> -->
					<!--<option value="4">April</option> -->
					<!--<option value="5">May</option> -->
					<!--<option value="6">June</option> -->
					<!--<option value="7">July</option> -->
					<!--<option value="8">August</option> -->
					<!--<option value="9">September</option> -->
					<!--<option value="10">October</option> -->
					<!--<option value="11">November</option> -->
					<!--<option value="12">December</option> -->
					<option th:each="month : ${#numbers.sequence(1,12)}"
						th:value="${month}" th:text="${month}"
						th:selected="${month+''==pekerjaanModel.resignMonth}" />
				</select>
			</div>
			<div class="col-sm-3">
				<label>-</label> <select id="yearKeluar"
					class="form-control xsis-input-border" name="resignYear">
					<option value="">- Pilih Tahun -</option>
					<option
						th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), #dates.year(#dates.createNow())-20)}"
						th:value="${year}" th:text="${year}"
						th:selected="${year+''==pekerjaanModel.resignYear}" />
				</select>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6" style="padding-left:0px;">
					<label>Posisi Terakhir *</label> <input type="text"
						class="form-control xsis-input-border" name="lastPosition"
						required="required" th:value="${pekerjaanModel.lastPosition}">
				</div>
				<div class="col-sm-6" style="padding-right:0px;">
					<label>Penghasilan Terakhir (IDR)</label> <input type="text"
						class="form-control xsis-input-border" name="income"
						th:value="${pekerjaanModel.income}">
				</div>
			</div>
			<div class="col-sm-9">
				<input type="checkbox" name="isItRelated" id="checkbox-it-related"
					th:checked="${pekerjaanModel.isItRelated}"> <label>IT
					Related?</label>

			</div>
		</div>

		<div class="col-sm-12" style="padding: 0px 30px;">
			<label>Keterangan Singkat Mengenai Pekerjaan</label> <input
				type="text" class="form-control xsis-input-border" name="aboutJob"
				th:value="${pekerjaanModel.aboutJob}">
		</div>
		<div class="col-sm-12" style="padding: 0px 30px;">
			<label>Alasan Keluar</label> <input type="text"
				class="form-control xsis-input-border" name="exitReason"
				th:value="${pekerjaanModel.exitReason}">
		</div>
		<div class="col-sm-12" style="padding: 0px 30px;">
			<label>Catatan</label> <input type="text"
				class="form-control xsis-input-border" name="notes"
				th:value="${pekerjaanModel.notes}">
		</div>
		<div class="form-group col-12 col-sm-12">
			<div class="btn-group pull-right"
				style="padding-top: 8px; padding-right: 14px;">
				<button type="button" class="btn xsis-btn-batal"
					onclick="javascript:return doClose()">
					<font style="color: white">Batal</font>
				</button>
				<button type="submit" class="btn xsis-btn-simpan">
					<font style="color: white">Simpan</font>
				</button>
			</div>
		</div>
	</form>

</body>
<script type="text/javascript">
	var year = new Date().getFullYear();
	min = year - 20;
	max = year;
	selectMasuk = document.getElementById('yearMasuk');
	selectKeluar = document.getElementById('yearKeluar');

	for (var i = min; i <= max; i++) {
		var opt = document.createElement('option');
		opt.value = i;
		opt.innerHTML = i;
		selectMasuk.appendChild(opt);
	}
	for (var i = min; i <= max; i++) {
		var opt = document.createElement('option');
		opt.value = i;
		opt.innerHTML = i;
		selectKeluar.appendChild(opt);
	}

	$('#checkbox-value').text($('#checkbox-it-related').val());
	$("#checkbox-it-related").on('change', function() {
		if ($(this).is(':checked')) {
			$(this).attr('value', 'true');
		} else {
			$(this).attr('value', 'false');
		}

		$('#checkbox-value').text($('#checkbox-it-related').val());
	});

	function doClose() {
		$('#modal-pekerjaan-edit').modal('hide');
	}
</script>
</html>