<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<!-- 
	"${rpm.id}+' '+ 
	"${proyek.id}+' '+
	&quot;
	'&emsp;'
 -->
<body>
	<tr th:each="rpm:${pekerjaanList}">
		<td><span
			th:text="${rpm.companyName} + ' (' + ${rpm.joinYear} + ' - ' + ${rpm.joinMonth}"></span>
			<span>s/d</span> 
			<span th:if="${rpm.resignYear} > '10'"><span th:text="${rpm.resignYear} + ' - ' + ${rpm.resignMonth}"></span></span>
			<span th:unless="${rpm.resignYear} > '10'"> - </span>)
			<br>
			<div style="width:auto;"
				th:each="proyek: ${proyekModel}"
				th:if="${rpm.id == proyek.riwayatPekerjaanId}">
				<div class="proyek-list" style="margin-left:20px;"
					th:utext="'-&nbsp'+${proyek.projectName}
					+ ' (' + ${proyek.startYear} + '-' +${proyek.startMonth}
					+ ' ; ' + ${proyek.projectDuration} + ' ' + ${proyek?.timePeriodModel?.name}
					+ ') <button id=&quot;edit-proyek&quot; type=&quot;button&quot; value=' + ${proyek.id} + '>
						<i class=&quot;fa fa-fw fa-edit&quot;></i></button>
						<button id=&quot;delete-proyek&quot; type=&quot;button&quot; value=' + ${proyek.id} + '>
						<i class=&quot;fa fa-fw fa-trash-o&quot;></i></button>
						<br>&emsp;'
					+ ${proyek.projectPosition} + ', ' + ${proyek.client}
					+ '<br>&emsp;Ket: '
					+ ${proyek.description}
					+ ''"></div>
				<div hidden="hidden" style="margin-left:20px;" class="proyek-btn" >	
					<button id="edit-proyek" type="button" th:value="${proyek.id}">
						<i class="fa fa-fw fa-edit"></i></button>
					<button id="delete-proyek" type="button" th:value="${proyek.id}">
						<i class="fa fa-fw fa-trash-o"></i></button>
				</div>
			</div>
				
		</td>
		<td th:text="${rpm.notes}"></td>

		<td class="pull-right dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				More | <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li style="text-align: left;"><button class="btn"
						style="background-color: transparent;" id="select-ubah"
						th:value="${rpm.id}">Ubah</button></li>
				<li style="text-align: left;"><button class="btn"
						style="background-color: transparent;" id="select-delete"
						th:value="${rpm.id}">Hapus</button></li>
				<li style="text-align: left;"><button class="btn"
						style="background-color: transparent;" id="project-add"
						th:value="${rpm.id}">Tambah Project</button></li>
			</ul>
		</td>
	</tr>
</body>

</html>