<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catatan Tambah</title>
</head>
<style>
.xsis-input-border {
	border-radius: 5px;
	border-color: #006;
}
.xsis-btn-batal{
	color:white;
	font-weight:bold;
	background-color:#FF6600;
}
.xsis-btn-simpan{
	color:white;
	font-weight:bold;
	background-color:#010066;
}
</style>

<body>
	<div class="content ">
		<form id="form-catatan-add">
			<div>
				<input type="hidden" th:value="${biodataModel.id}" name="id" />
			</div>

			<div class="col-sm-12">
				<div class="col-sm-6">
					<label>Judul Catatan *</label> <input
						class="form-control xsis-input-border" name="title" required />
				</div>
				<div class="col-sm-6 offset-sm-6" >
					<label>Jenis Catatan *</label> <select style="width:227px"
						class="form-control xsis-input-border" name="noteTypeId" required>
						<option value="">--PILIH---</option>
						<option th:each="noteTypeModel : ${noteTypeModelList}"
							th:value="${noteTypeModel.id}" th:utext="${noteTypeModel.name}" />
					</select>
				</div>
			</div>
			<div class="col-sm-12" style="padding-left: 30px;">
				<label>Catatan</label>
				<textarea class="form-control pull-center xsis-input-border"
					name="notes" rows="5" style="width: 480px"></textarea>
			</div>
			<div class="form-group col-12 col-sm-12">
				<div class="btn-group pull-right" style="padding-top: 0.2cm; padding-right: 0.2cm;">
					<button type="button" class="btn xsis-btn-batal"
						onclick="javascript:return doClose()">
						<font style="color: white">Batal</font>
					</button>
					<button type="submit" class="btn xsis-btn-simpan">
						<font style="color: white">Simpan</font>
					</button>
				</div>
			</div>
		</form>
	</div>

</body>
<script type="text/javascript">
	function doClose() {
		$('#modal-catatan-tambah').modal('hide');
	}
</script>
</html>