<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
.xsis-input-border {
	border-radius: 5px;
	border-color: #006;
}
.xsis-btn-batal{
	color:white;
	font-weight:bold;
	background-color:#FF6600;
}
.xsis-btn-simpan{
	color:white;
	font-weight:bold;
	background-color:#010066;
}
</style>
<body>
	<form id="form-catatan-edit" method="post">
		<input class="form-control" type="text" name="id"
			th:value="${catatanModel.id}" style="display: none">

		<div class="col-sm-12">
			<div class="col-sm-6">
				<label>Judul Catatan *</label> <input
					class="form-control xsis-input-border" name="title"
					th:value="${catatanModel.title}" required="required" />
			</div>
			<div class="col-sm-6 offset-sm-6">
				<label>Jenis Catatan *</label> <select style="width: 227px"
					class="form-control xsis-input-border" name="noteTypeId" required>
					<option value="">--PILIH---</option>
					<option th:each="noteTypeModel : ${noteTypeModelList}"
						th:value="${noteTypeModel.id}" th:utext="${noteTypeModel.name}"
						th:selected="${noteTypeModel.id==catatanModel.noteTypeId}" />
				</select>
			</div>
		</div>
		<div class="col-sm-12" style="padding-left: 30px;">
			<label>Catatan</label>
			<textarea class="form-control pull-center xsis-input-border"
				name="notes" rows="5" style="width: 495px"
				th:text="${catatanModel.notes}"></textarea>
		</div>

		<div class="form-group col-12 col-sm-12">
			<div class="btn-group pull-right"
				style="padding-top: 0.2cm; padding-right: 0.6cm;">
				<button type="button" class="btn xsis-btn-batal"
					onclick="javascript:return doClose()">
					<font style="color: white">Batal</font>
				</button>
				<button type="submit" class="btn xsis-btn-simpan">
					<font style="color: white">Simpan</font>
				</button>
			</div>
		</div>

		<!--  
		<div class="form-group">
			<label for="title">Judul Catatan *</label><input type="text"
				name="title" th:value="${catatanModel.title}" required="required" />
		</div>
		<div class="">
			<label for="notes">Catatan</label><input type="text" name="notes"
				th:value="${catatanModel.notes}" />
		</div>
		<div class="">
			<label for="noteTypeId">Jenis Catatan *</label> <select
				class="form-control" name="noteTypeId" required>
				<option th:each="nt : ${noteTypeModelList}" th:value="${nt.id}"
					th:utext="${nt.name}"
					th:selected="${nt.id==catatanModel.noteTypeId}" />
			</select>
		</div>
		<button type="submit" class="btn">Submit</button>
-->

	</form>
</body>
<script type="text/javascript">
	function doClose() {
		$('#modal-catatan-edit').modal('hide');
	}
</script>
</html>