<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<tr th:each="catatanModel:${catatanModelList}">
		<td th:text="${catatanModel.id}" style="display: none;"></td>
		<td th:text="${catatanModel.title}"></td>
		<td th:text="${catatanModel.noteTypeModel.name}"></td>
		<td th:text="${catatanModel.addrBookModel.abuid}"></td>
		<td class="pull-right dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				More | <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li style="text-align: center;"><button class="btn" 
				style="background-color:transparent;" id="select-ubah" th:value="${catatanModel.id}">Ubah</button></li>
				<li style="text-align: center;"><button class="btn" 
				style="background-color:transparent;" id="select-delete" th:value="${catatanModel.id}">Hapus</button></li>
			</ul>
		</td>
	</tr>
</body>
</html>