<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<tr th:each="undanganDetail:${undanganDetailList}">
		<td th:text="${undanganDetail.id}" style="display: none;"></td>
		<td th:text="${undanganDetail.biodataModel.fullname}"></td>
		<td th:text="${undanganDetail.undangan.scheduleTypeModel.name}"></td>
		<td th:text="${undanganDetail.undangan.invitationDate}"></td>
		<td class="pull-right dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				More | <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li style="text-align: center;"><button class="btn" style="background-color:transparent;" id="select-ubah" th:value="${undanganDetail.id}">Ubah</button></li>
				<li style="text-align: center;"><button class="btn" style="background-color:transparent;" id="select-delete" th:value="${undanganDetail.id}">Hapus</button></li>
			</ul>
		</td>
	</tr>
</body>
</html>