<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="content ">
	<form id="form-undangan-add">
	<div class="col-sm-12">
		<div class="col-sm-6">
			<label>Tanggal Undangan<i style="color: red;">*</i></label>
			<input class="form-control" type="date" name="date" required="required" />
		</div>
		<div class="col-sm-6 offset-sm-6">
			<label>Jam Undangan<i style="color: red;">*</i></label>
			<input class="form-control" type="time" name="jam" required="required"/>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6">
			<label>Pelamar<i style="color: red;">*</i></label>
			<select class="form-control" name="biodataId">
				<option>-Pilih-</option>
				<option 
				th:each="biodata:${biodataModelList}" 
				th:value="${biodata.id}"
				th:utext="${biodata.fullname}"></option> 
			</select>
		</div>
		<div class="col-sm-6 offset-sm-6">
			<label>Jenis Undangan<i style="color: red;">*</i></label>
			<select class="form-control" name="jenisUndangan">
				<option>-Pilih-</option>
				<option 
				th:each="jadwal:${jadwalList}" 
				th:value="${jadwal.id}"
				th:utext="${jadwal.name}"></option> 
			</select>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6" >
			<label>RO</label> 
			<select class="form-control" name="ro">
				<option>-Pilih-</option>
				<option 
				th:each="biodata:${biodataModelList}" 
				th:value="${biodata.id}"
				th:utext="${biodata.fullname}"></option> 
			</select>
		</div>
		<div class="col-sm-6 offset-sm-6">
			<label>TRO</label> 
			<select name="tro" class="form-control">
				<option>-Pilih-</option>
				<option 
				th:each="biodata:${biodataModelList}" 
				th:value="${biodata.id}"
				th:utext="${biodata.fullname}"></option> 
			</select>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6">
			<label>Other Ro Tro</label>
			<input class="form-control" name="otherRoTro"/>
		</div>
		<div class="col-sm-6 offset-sm-6">
			<label>Location</label>
			<input class="form-control" name="location" />
		</div>
	</div>
	<div class="col-sm-12" style="padding-left: 30px;">
			<label>Catatan</label>
			<textarea class="form-control pull-center" name="notes" rows="5" style="width: 480px"></textarea>
	</div>
		<div class="col-sm-12">
			<div class="btn btn-group col-sm-3 pull-right" style="padding-top: 0.2cm;">
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				<button type="submit" class="btn btn-primary">Yes</button>
			</div>
		</div>
	</form>
</div>
	
	
	<script type="text/javascript">
		/* var year = new Date().getFullYear();
		min = year-39,
		max = year,
		select = document.getElementById('validStartYear');
		
		for(var i=min; i<=max; i++){
			var opt = document.createElement('option');
			opt.value = i;
			opt.innerHTML = i;
			select.appendChild(opt);
		};
		
		var year = new Date().getFullYear();
		min = year-39,
		max = year,
		select = document.getElementById('validEndYear'); */
		
		/* for(var i=min; i<=max; i++){
			var opt = document.createElement('option');
			opt.value = i;
			opt.innerHTML = i;
			select.appendChild(opt);
		} */
		
		
	</script>
	
</body>
</html>