<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="content ">
	<form id="form-undangan-edit">
	<input class="form-control" type="text" name="idUndanganDetail"
			th:value="${undanganDetail.id}" style="display: none">
	<input class="form-control" type="text" name="idUndangan"
			th:value="${undanganDetail.undanganId}" style="display: none">
	<div class="col-sm-12">
		<div class="col-sm-6">
			<label>Tanggal Undangan<i style="color: red;">*</i></label>
			<input class="form-control" type="date" id="date" name="date" th:value="${waktuUndangan.tanggal}" required="required" />
		</div>
		<div class="col-sm-6 offset-sm-6">
			<label>Jam Undangan<i style="color: red;">*</i></label>
			<input class="form-control" type="time" name="jam" th:value="${waktuUndangan.jam}" required="required"/>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6">
			<label>Pelamar<i style="color: red;">*</i></label>
			<select class="form-control" name="biodataId">
				<option
				th:value="${undanganDetail.biodataId}"
				th:utext="${undanganDetail.biodataModel.fullname}"></option>
				<option 
				th:each="biodata:${biodataModelList}" 
				th:value="${biodata.id}"
				th:utext="${biodata.fullname}"></option> 
			</select>
		</div>
		<div class="col-sm-6 offset-sm-6">
			<label>Jenis Undangan<i style="color: red;">*</i></label>
			<select class="form-control" name="jenisUndangan">
				<option
				th:value="${undanganDetail.undangan.scheduleTypeId}"
				th:utext="${undanganDetail.undangan.scheduleTypeModel.name}"></option>
				<option 
				th:each="jadwal:${jadwalList}" 
				th:value="${jadwal.id}"
				th:utext="${jadwal.name}"></option> 
			</select>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6" >
			<label>RO</label> 
			<select class="form-control" name="ro">
				<option
				th:value="${undanganDetail.undangan.ro}"
				th:utext="${undanganDetail.biodataModel.fullname}"></option>
				<option 
				th:each="biodata:${biodataModelList}" 
				th:value="${biodata.id}"
				th:utext="${biodata.fullname}"></option> 
			</select>
		</div>
		<div class="col-sm-6 offset-sm-6">
			<label>TRO</label> 
			<select name="tro" class="form-control">
				<option>-Pilih-</option>
				<option 
				th:each="biodata:${biodataModelList}" 
				th:value="${biodata.id}"
				th:utext="${biodata.fullname}"></option> 
			</select>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6">
			<label>Other Ro Tro</label>
			<input class="form-control" th:value="${undanganDetail.undangan.otherRoTro}" name="otherRoTro"/>
		</div>
		<div class="col-sm-6 offset-sm-6">
			<label>Location</label>
			<input class="form-control" th:value="${undanganDetail.undangan.location}" name="location" />
		</div>
	</div>
	<div class="col-sm-12" style="padding-left: 30px;">
			<label>Catatan</label>
			<textarea class="form-control pull-center" th:utext="${undanganDetail.notes}" name="notes" rows="5" style="width: 480px"></textarea>
	</div>
		<div class="col-sm-12">
			<div class="btn btn-group col-sm-3 pull-right" style="padding-top: 0.2cm;">
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				<button type="submit" class="btn btn-primary">Yes</button>
			</div>
		</div>
	</form>
</div>
	
	
	<script type="text/javascript">
	$(document).ready(function() {
		  $('#date').datepicker({dateFormat: "yyyy-MM-dd"});

		  /* $("#dtSelectorStatic").datepicker("setDate", new Date(2018, 8, 1)); */
		});
	</script>
	
</body>
</html>