<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<tr th:each="roleModel:${roleModelList}">
		<td th:text="${roleModel.code}"></td>
		<td th:text="${roleModel.name}"></td>
		<td class="pull-right dropdown">
			<button class="btn bg-purple dropdown-toggle" type="button"
				data-toggle="dropdown">
				More | <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li style="text-align: center;"><button class="btn" style="background-color:transparent;" id="select-ubah" th:value="${roleModel.code}">Ubah</button></li>
				<li style="text-align: center;"><button class="btn" style="background-color:transparent;" id="select-delete" th:value="${roleModel.name}">Hapus</button></li>
			</ul>
		</td>
	</tr>
</body>
</html>