body { font-family:'roboto'; background-color:#333; color:#fff; text-align:center;}
h1 { margin:150px auto 30px auto;}
input {
	height: 36px;
	line-height: 36px;
	width: 250px;
	background-color:#ffffff; 
	border:1px solid #c7c7c7;
}