<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<option value="-"> -Pilih- </option>
	<option th:each="rel:${familyRelationModel}" th:value="${rel.id}"
		th:utext="${rel.name}"></option>
</body>
</html>