<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
<style type="text/css">
#form-fam-add .form-group {
	margin-bottom: 10px;
}

#form-fam-add .form-control {
	border: 2px solid #006;
}
</style>
</head>
<body onload='loadCategories()'>
	<div class="box " style="border-top: none; box-shadow: none;">
		<div class="box-body">
			<div class="modal-body">
				<div class="col-12">
					<div class="row">
						<form method="post" id="form-fam-add">

							<!-- /.box-body -->
							<input type="hidden" readonly="readonly" name="id" id="id"
								th:value="${biodataModel.id}">
							<div class="form-group col-sm-6">
								<label class="col col-form-label">Jenis Susunan Keluarga
									*</label> <select class="form-control" name="familyTreeTypeId"
									id="familyTreeTypeId" style="resize: unset; border-radius: 5px"
									required="required" onchange="refreshRelation(this)">
									<option value="-">-Pilih-</option>
									<option th:each="tipe:${familyTreeTypeModel}"
										th:value="${tipe.id}" th:utext="${tipe.name}"></option>
								</select>
							</div>
							<div class="form-group col-sm-6">
								<label class="col col-form-label">Hubungan Keluarga *</label>
								<select
									class="form-control" name="familyRelationId"
									id="familyRelationId" required="required"
									style="resize: unset; border-radius: 5px">
									<!-- <option value="-">-Pilih-</option>
									<option th:each="tipe:${familyRelationModel}"
										th:value="${tipe.id}" th:utext="${tipe.name}"></option> -->

								</select>
							</div>
							<div class="form-group col-sm-6">
								<label class="col col-form-label">Nama *</label>
								<div class="col ">
									<input type="text" name="name"
										style="resize: unset; border-radius: 5px" class="form-control"
										required="required" />
								</div>
							</div>
							<div class="form-group col-sm-3">
								<label class="col col-form-label">Jenis Kelamin *</label> <select
									class="form-control" name="gender" required="required"
									style="resize: unset; border-radius: 5px" id="gender">
									<option value="true">Laki - Laki</option>
									<option value="false">Perempuan</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<label>Tgl. Lahir</label>

								<div class="input-group date">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control"
										id="datepicker" name="datePicker">
								</div>
								<!-- /.input group -->
							</div>
							<div class="form-group col-sm-6">
								<label class="col col-form-label">Pendidikan</label> <select
									class="form-control" name="educationLevel"
									style="resize: unset; border-radius: 5px" id="validStartYear">
									<option value="-">-Pilih-</option>
									<option th:each="jg:${jenjangPendidikan}" th:value="${jg.id}"
										th:utext="${jg.name}"></option>
								</select>
							</div>
							<div class="form-group col-sm-6">
								<label class="col col-form-label">Pekerjaan</label>
								<div class="col ">
									<input type="text" name="job"
										style="resize: unset; border-radius: 5px" class="form-control" />
								</div>
							</div>
							<div class="form-group col-sm-12">
								<label>Catatan</label>
								<textarea class="form-control" rows="4" name="notes"
									style="resize: unset; border-radius: 5px"
									placeholder="Catatan Lain"></textarea>
							</div>
							<div class="form-group col-sm-12">
								<div class="btn-group pull-right">
									<button type="reset" class="btn btn-warning" id="cancelBtn"
										onclick="javascript:return doCancel()">
										<font style="color: white">Batal</font>
									</button>
									<button type="submit" class="btn btn-primary">
										<font style="color: white">Simpan</font>
									</button>
								</div>
							</div>


						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">

		$(function() {

			$('#datepicker').datepicker({
				autoclose : true,
				language : 'id'
			})
		})
		function refreshRelation(sel){
			opt=sel.options[sel.selectedIndex].value;
			//alert(opt);
			var id = opt;
			$.ajax({
				url : '/keluarga/getRelation',
				type : 'get',
				data : {id,id},
				dataType : 'html',
				success : function(result) {
					$('#familyRelationId').html(result);
				}
			});			
		}		
	</script>

</body>
</html>