<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<tr th:each="keluargaModel: ${keluargaModel}"
		style="border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: #006;">
		<td th:text="${keluargaModel.id}" style="display: none;"></td>
		<td th:text="${keluargaModel.biodataId}" style="display: none;"></td>
		<td th:text="${keluargaModel.familyRelationModel.name}"></td>
		<td th:text="${keluargaModel.name}"></td>
		<td th:text="${keluargaModel.gender}? 'Laki-laki': 'Perempuan'"></td>
		<td th:text="${#dates.format(keluargaModel.dob, 'dd-MM-yyyy')}"></td>
		<td th:text="${keluargaModel.educationLevel.name}"></td>
		<td th:text="${keluargaModel.job}"></td>
		<td class="pull-right dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				More | <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li style="text-align: center;"><button class="btn"
						style="background-color: transparent; font-size: 11px; font-weight: 200;"
						id="menu-ubah" th:value="${keluargaModel.id}">Ubah</button></li>
				<li style="text-align: center;"><button class="btn"
						style="background-color: transparent; font-size: 11px; font-weight: 200;" id="menu-hapus"
						th:value="${keluargaModel.id}">Hapus</button></li>
			</ul>
		</td>
	</tr>
</body>
</html>