<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catatan Tambah</title>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Tambah Proyek</h4>
			<form th:action="@{/proyek/create}" method="post" name="proyek-tambah"
				class="forms-sample" id="form-catatan-tambah" onsubmit="return checkInp()">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Waktu Mulai Proyek *</label>
					<div class="col-sm-9">
						<select class="form-control" name="startMonth" required="required">
							<option value="">- Pilih Bulan -</option>
							<!--<option value="1">January</option> -->
							<!--<option value="2">February</option> -->
							<!--<option value="3">March</option> -->
							<!--<option value="4">April</option> -->
							<!--<option value="5">May</option> -->
							<!--<option value="6">June</option> -->
							<!--<option value="7">July</option> -->
							<!--<option value="8">August</option> -->
							<!--<option value="9">September</option> -->
							<!--<option value="10">October</option> -->
							<!--<option value="11">November</option> -->
							<!--<option value="12">December</option> -->
							<option th:each="month : ${#numbers.sequence(1,12)}"
								th:value="${month}" th:text="${month}" />
						</select>
					</div>
					<div class="col-sm-9">
						<select id="yearMasuk" class="form-control" name="startYear"
							required="required">
							<option value="">- Pilih Tahun -</option>

						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Nama Proyek *</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="projectName" required="required">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Lama Pengerjaan</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="projectDuration">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label"></label>
					<div class="col-sm-9">
						<select class="form-control" name="timePeriodId">
							<option value="0">--PILIH---</option>
							<option th:each="timePeriodModel : ${timePeriodModelList}"
								th:value="${timePeriodModel.id}"
								th:utext="${timePeriodModel.name}" />
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Klien</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="client">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Posisi Ketika Proyek *</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="projectPosition" required="required">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Keterangan</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="description">
					</div>
				</div>
				<button type="submit" class="btn btn-success mr-2">Submit</button>
				<button class="btn btn-light" data-dismiss="modal">Cancel</button>
			</form>


		</div>
	</div>

</body>
<script type="text/javascript">
	var year = new Date().getFullYear();
	min = year - 20;
	max = year;
	selectMasuk = document.getElementById('yearMasuk');
	selectKeluar = document.getElementById('yearKeluar');

	for (var i = min; i <= max; i++) {
		var opt = document.createElement('option');
		opt.value = i;
		opt.innerHTML = i;
		selectMasuk.appendChild(opt);
	}
	for (var i = min; i <= max; i++) {
		var opt = document.createElement('option');
		opt.value = i;
		opt.innerHTML = i;
		selectKeluar.appendChild(opt);
	}
	
	function checkInp()
	{
	  var x=document.forms["proyek-tambah"]["projectDuration"].value;
	  if (isNaN(x)) 
	  {
	    alert("Must input numbers");
	    return false;
	  }
	}
</script>
</html>