<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Edit Proyek</h4>
			<form id="form-proyek-edit" method="post" class="forms-sample">
				<div class="form-group row">
					<div class="hidden">
						<label for="id">Id</label><input type="text" name="id"
							th:value="${proyekModel.id}" />
					</div>
					<label class="col-sm-3 col-form-label">Waktu Mulai Proyek *</label>
					<div class="col-sm-9">
						<select class="form-control" name="startMonth" required="required">
							<!--<option value="0">- Pilih Bulan -</option> -->
							<!--<option value="1">January</option> -->
							<!--<option value="2">February</option> -->
							<!--<option value="3">March</option> -->
							<!--<option value="4">April</option> -->
							<!--<option value="5">May</option> -->
							<!--<option value="6">June</option> -->
							<!--<option value="7">July</option> -->
							<!--<option value="8">August</option> -->
							<!--<option value="9">September</option> -->
							<!--<option value="10">October</option> -->
							<!--<option value="11">November</option> -->
							<!--<option value="12">December</option> -->
							<option th:each="month : ${#numbers.sequence(1,12)}"
								th:value="${month}" th:text="${month}"
								th:selected="${month+''==proyekModel.startMonth}" />
						</select>
					</div>
					<div class="col-sm-9">
						<select id="yearMasuk" class="form-control" name="startYear"
							required="required">
							<option
								th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), #dates.year(#dates.createNow())-20)}"
								th:value="${year}" th:text="${year}"
								th:selected="${year+''==proyekModel.startYear}" />
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Nama Proyek</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="projectName"
							th:value="${proyekModel.projectName}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Lama Pengerjaan</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="projectDuration"
							th:value="${proyekModel.projectDuration}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label"></label>
					<div class="col-sm-9">
						<select class="form-control" name="timePeriodId">
							<option th:each="timePeriodModel : ${timePeriodModelList}"
								th:value="${timePeriodModel.id}"
								th:utext="${timePeriodModel.name}" 
								th:selected="${timePeriodModel.id==proyekModel.timePeriodId}"/>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Klien</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="client"
							th:value="${proyekModel.client}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Posisi Ketika Proyek
						*</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="projectPosition"
						th:value="${proyekModel.projectPosition}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Keterangan</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="description"
						th:value="${proyekModel.description}">
					</div>
				</div>
				<button type="submit" class="btn">Submit</button>
			</form>

		</div>
	</div>
</body>
</html>