<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999.xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Profil</title>
<link rel="stylesheet" href="/AdminLTE/dist/css/profil/style.css">
</head>
<body>
	<input th:value="${biodataModel.id}" type="hidden" readonly="readonly">
	<div class="card col-md-12 profil" id="content">
		<div class="card-body">
			<span class="float-left"><img
				th:src="${biodataAttachmentModel.filePath + biodataAttachmentModel.fileName}"></span>
			<span class="nama"> <label><span id="namaPanjang"
					th:text="${biodataModel.fullname}"
					th:value="${biodataModel.fullname}"></span>
					<p th:text="${peReferensiModel.position}"></p>
					<p th:text="${biodataModel.dob}" id="usia"></p>
					<p id="jenisKelamin">
						<span th:if="${biodataModel.gender == true}">Laki-Laki</span> <span
							th:if="${biodataModel.gender == false}">Perempuan</span>
					</p>
					<p th:each="riwayatPendidikanModel : ${riwayatPendidikanModelLast}"
						th:utext="${riwayatPendidikanModel.major + ', ' + riwayatPendidikanModel.schoolName}"></p>
			</label>
			</span>
			<section class="block">
				<span class="span"> <label>Pendidikan</label></span>
				<table th:each="riwayatPendidikanModel : ${riwayatPendidikanModels}">
					<tr>
						<td class="kiri" width="158"><p
								th:utext="${riwayatPendidikanModel.entryYear + ' - ' + riwayatPendidikanModel.graduationYear}"></p></td>
						<td class="kanan"><p
								th:utext="${riwayatPendidikanModel.schoolName + ', ' + riwayatPendidikanModel.city +' ' + riwayatPendidikanModel.country}"></p>
					</tr>
					<tr>
						<td class="kiri"></td>
						<td class="kanan"><p
								th:utext="${riwayatPendidikanModel.major}"></p></td>
					</tr>
					<tr>
						<td class="kiri"></td>
						<td class="kanan"><p th:utext="${riwayatPendidikanModel.gpa}"></p></td>
					</tr>
				</table>
			</section>
			<section class="clear">
				<span class="span"> <label>Pengalaman</label></span>
				<table th:each="riwayatPekerjaanModel : ${riwayatPekerjaanModels}">
					<tr>
						<td class="kiri" width="158"><p
								th:text="${riwayatPekerjaanModel.joinYear + ' - ' + riwayatPekerjaanModel.resignYear}"></p></td>
						<td class="kanan"><p
								th:text="${riwayatPekerjaanModel.lastPosition}"></p>
					</tr>
					<tr>
						<td class="kiri"></td>
						<td class="kanan"><p
								th:text="${riwayatPekerjaanModel.companyName}"></p>
					</tr>
				</table>
			</section>
			<section class="block">
				<span class="span"> <label>Keterampilan</label></span>
				<table>
					<tr>
						<td class="kiri" width="158"><p>Tingkat Lanjut</p></td>
						<td class="kanan"><p>
								<span th:each="keahlianModel : ${keahlianModels}"
									th:utext="${keahlianModel.skillName + ', '}">lnjut</span>
							</p>
					</tr>
					<tr>
						<td class="kiri"><p>Menengah</p></td>
						<td class="kanan"><p>
								<span th:each="keahlianModel : ${keahlianModelss}"
									th:utext="${keahlianModel.skillName + ', '}">menengah</span>
							</p></td>
					</tr>
					<tr>
						<td class="kiri"><p>Pemula</p></td>
						<td class="kanan"><p>
								<span th:each="keahlianModel : ${keahlianModelsss}"
									th:utext="${keahlianModel.skillName + ', '}">Pemula</span>
							</p></td>
					</tr>
				</table>
			</section>
			<section class="clear">
				<span class="span"> <label>Training</label></span>
				<table th:each="riwayatPelatihanModel : ${riwayatPelatihanModels}">
					<tr>
						<td class="kiri" width="158"><p
								th:text="${riwayatPelatihanModel.trainingYear}">masih kurang</p></td>
						<td class="kanan"><p
								th:utext="${riwayatPelatihanModel.trainingName}"></p>
					</tr>
					<tr>
						<td class="kiri"></td>
						<td class="kanan"><p
								th:text="${riwayatPelatihanModel.organizer}"></p></td>
					</tr>
				</table>
			</section>
			<section class="block">
				<span class="span"> <label>Spesifikasi</label></span>
				<table
					th:each="riwayatSertifikasiModel : ${riwayatSertifikasiModels}">
					<tr>
						<td class="kiri" width="158"><p
								th:text="${riwayatSertifikasiModel.validStartYear +' - '+ riwayatSertifikasiModel.untilYear}">Error</p></td>
						<td class="kanan"><p
								th:text="${riwayatSertifikasiModel.certificateName}"></p>
					</tr>
					<tr>
						<td class="kiri"></td>
						<td class="kanan"><p
								th:text="${riwayatSertifikasiModel.publisher}"></p></td>
					</tr>
				</table>
			</section>
		</div>
	</div>
	<div class="col-sm-10" id="div-btn">
		<button type="button" id="btn-pdf" class="btn btn-primary" onclick="unduhPDF()">Unduh</button>
	</div>

	<script type="text/javascript">
		usiaRefresh();

		function usiaRefresh() {
			var dob = new Date(document.getElementById("usia").innerHTML);
			var yob = dob.getFullYear();
			var date = new Date();
			var now = date.getFullYear();
			document.getElementById("usia").innerHTML = now - yob + " Tahun";
		}
		
		function unduhPDF(){ 
			var str1 = 'CV - ';
			var str2 = $('#namaPanjang').attr('value');
			var str3 = '.pdf';
			var strConcate = str1.concat(str2,str3);
			kendo.drawing
			.drawDOM("#content", 
			{ 
			paperSize: "A4",
			margin: { top: "1cm", bottom: "1cm" },
			scale: 0.8,
			height: 500
			})
			.then(function(group){
			kendo.drawing.pdf.saveAs(group, strConcate);
			});
			}
		
		
	</script>

</body>
</html>