<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999.xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pelatihan - Tambah</title>
</head>
<body>
 <div class="content ">
  	<form id="form-pelatihan-add">
  	<div>
		<input type="hidden" th:value="${biodataModel.id}" name="id"/>
	</div>
  	<div class="col-sm-12">
		<div class="col-sm-6">
			<label>Nama (kursus, penataran, pelatihan, workshop)<i style="color: red;">*</i></label>
			<input class="form-control" name="trainingName" required="required" />
		</div>
		<div class="col-sm-6 offset-sm-6">
			<label>Penyelenggara<i style="color: red;">*</i></label>
			<input class="form-control" name="organizer"/>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-3 offset-sm-6">
			<label>Waktu Pelaksanaan</label> 
			<select name="trainingMonth" required="required" class="form-control">
				<option>-Pilih Bulan-</option>
				<option value="1">Januari</option>
				<option value="2">Februari</option>
				<option value="3">Maret</option>
				<option value="4">April</option>
				<option value="5">Mei</option>
				<option value="6">Juni</option>
				<option value="7">Juli</option>
				<option value="8">Agustus</option>
				<option value="9">September</option>
				<option value="10">Oktober</option>
				<option value="11">November</option>
				<option value="12">Desember</option>
			</select>
		</div>
		<div class="col-sm-3 offset-sm-9">
			 <select  id="year"	name="trainingYear" class="form-control">
				<option>-Pilih Tahun-</option>
			</select>
		</div>
		<div class="col-sm-3 offset-sm-6">
			<label>Lama Durasi</label>
			<input class="form-control" name="trainingDuration"/>
		</div>
		<div class="col-sm-3 offset-sm-9">
			 <select name="timePeriodId" class="form-control">
				<option value=0>-Pilih-</option>
				<option
					th:each="timePeriod:${timePeriod}"
					th:value="${timePeriod.id}"
					th:utext = "${timePeriod.name}">
				</option>
			</select>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6">
			<label>Kota</label>
			<input class="form-control" name="city" required="required" />
		</div>
		<div class="col-sm-3 offset-sm-6">
			<label>Negara</label>
			<input class="form-control" name="country"/>
		</div>
	</div>
	<div class="col-sm-12">
		<label>Catatan</label>
			<textarea class="form-control" name="notes" rows="5"></textarea>
	</div>
 	<div class="col-sm-12">		
 	 <div class="btn btn-group col-sm-3 pull-right" style="padding-top: 0.2cm;">
		<button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
		<button type="submit" class="btn btn-primary">Yes</button>
	 </div>
	</div>
  	</form>
 </div>
 <script type="text/javascript">
 	var year = new Date().getFullYear();
 	min = year-5;
 	max = year;
 	select = document.getElementById('year');
 	
 	for(var i=min; i<=max; i++){
 		var opt = document.createElement('option');
 		opt.value = i;
 		opt.innerHTML = i;
 		select.appendChild(opt);
 	}
 </script>
</body>
</html>