<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>XSIS 2.0 | Your Roles</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet"
	href="/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css">
<link rel="stylesheet"
	href="/AdminLTE/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet"
	href="/AdminLTE/bower_components/morris.js/morris.css">
<link rel="stylesheet"
	href="/AdminLTE/bower_components/jvectormap/jquery-jvectormap.css">
<link rel="stylesheet"
	href="/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<link rel="stylesheet"
	href="/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet"
	href="/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap"
	rel="stylesheet">

<style>
.main {
	text-align: center;
	padding-top: 25%;
}

body {
	background-color: rgba(0, 0, 0, 0.1);
	width: 17.5cm;
	position: absolute;
	padding-top: 170px;
	right:350px;
	font-family: 'Lato', sans-serif;
}

a {
	font-size: 11pt;
}

li {
	font-size: 11pt;
}

.isi {
	display: inline-block;
}
</style>
</head>
<body class="skin-blue-light sidebar-mini">
	<div class="box box-solid" style="border: solid; border-color: #006;">
		<div class="box-header with-border" style="background-color: #006;">
			<header class="main-header" style="padding-left: 10px; color: white;">
				<h4>
					Hi, <b><span th:utext="${biodataModel.nickName}"
						style="background-color: transparent;"></span></b> !
				</h4>
			</header>
		</div>
		<div class="box-body">
			<div align="center" style="padding-bottom: 20px">
				<b style="font-size: 14pt; color: purple">Selamat Datang di XSIS
					2.0, Silahkan pilih role anda.</b>
			</div>
			<ul data-widget="tree" class="sidebar-menu tree table-bordered">
				<li class="treeview" style="list-style: none;"><a
					href="#"> <span>PERUSAHAAN A</span> <span
						class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i>
					</span>	</a>
					<ul class="treeview-menu" style="display: none;">
						<li style="color: purple; list-style: none; padding-left: 25pt"
							th:each="userRoleModel:${userRoleModelList}"
							th:value="${userRoleModel.roleId}"
							th:utext="${userRoleModel.roleModel.name}"
							onclick="SendToController(this.value);" class="toHome"></li>
					</ul></li>
				<li class="treeview" style="list-style: none;"><a
					href="#"> <span>PERUSAHAAN B</span> <span
						class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i>
					</span>	</a>
					<ul class="treeview-menu" style="display: none;">
						<li style="color: purple; list-style: none; padding-left: 25pt"
							th:each="userRoleModel:${userRoleModelList}"
							th:value="${userRoleModel.roleId}"
							th:utext="${userRoleModel.roleModel.name}"
							onclick="SendToController(this.value);" class="toHome"></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.box-body -->
	</div>

	<script src="/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
	<script
		src="/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
	<script src="/AdminLTE/dist/js/adminlte.min.js"></script>
	<script src="/AdminLTE/dist/js/demo.js"></script>

</body>

<script type="text/javascript">
	function SendToController(data) {
		var roleId = data; // mengirim role yang akan dipick
		$.ajax({
			url : '/masuk/pickedRole',
			type : 'POST',
			dataType : 'html',
			data : {
				"roleId" : roleId
			}
		});
		window.location.href = '/'; // akan pindah ke halaman Home
	}
</script>

</html>