<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<!-- demo style -->

<title>XSIS 2.0</title>
</head>
<body>
	<form id="form-tambah-pelamar" method="POST" name="formBiodata"
		onsubmit="return validatePhone()">

		<div class="modal-header"
			style="background-color: #3c8dbc; border-radius: 0px">
			<h4 class="modal-title" style="color: white; display:inline-block;">Masukkan Biodata</h4>
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close" style="color: white">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body">
			<div class="col-12">
				<div class="row">
					<!-- Nama Lengkap -->
					<div class="form-group col-6 col-sm-6">
						<label>Nama Lengkap *</label> <input type="text" name="fullname"
							class="form-control" required>
					</div>
					<!-- Nama Panggilan -->
					<div class="form-group col-6 col-sm-6">
						<label>Nama Panggilan *</label> <input type="text" name="nickName"
							class="form-control" required>
					</div>
					<!-- Tempat Lahir -->
					<div class="form-group col-3 col-sm-3">
						<label>Tempat Lahir *</label> <input type="text" name="pob"
							class="form-control" required>
					</div>
					<!-- Tgl. Lahir -->
					<div class="form-group col-3 col-sm-3">
						<label>Tgl. Lahir *</label> <input type="date" name="dob"
							class="form-control" required>
					</div>
					<!-- Jenis Kelamin -->
					<div class="form-group col-3 col-sm-3">
						<label>Jenis Kelamin *</label> <select name="gender"
							class="form-control" required>
							<option value="true">Pria</option>
							<option value="false">Wanita</option>
						</select>
					</div>
					<!-- Agama -->
					<div class="form-group col-3 col-sm-3">
						<label>Agama *</label> <select name="religionId" id="religion"
							class="form-control" required>
							<option th:each="religionModel : ${religionModelList}"
								th:value="${religionModel.id}" th:utext="${religionModel.name}"></option>
						</select>
					</div>
					<!-- Tinggi -->
					<div class="form-group col-3 col-sm-3">
						<label>Tinggi (cm) *</label> <input type="text" name="high"
							class="form-control" required>
					</div>
					<!-- Berat -->
					<div class="form-group col-3 col-sm-3">
						<label>Berat (kg) *</label> <input type="text" name="weight"
							class="form-control" required>
					</div>
					<!-- Kewarganegaraan -->
					<div class="form-group col-3 col-sm-3">
						<label>Kewarganegaraan *</label> <input type="text"
							name="nationality" class="form-control" required>
					</div>
					<!-- Suku Bangsa -->
					<div class="form-group col-3 col-sm-3">
						<label>Suku Bangsa</label> <input type="text" name="ethnic"
							class="form-control">
					</div>
					<!-- Kegemaran / Hobi -->
					<div class="form-group col-6 col-sm-6">
						<label>Kegemaran / Hobi</label> <input type="text" name="hobby"
							class="form-control">
					</div>
					<!-- Jenis Identitas -->
					<div class="form-group col-3 col-sm-3">
						<label>Jenis Identitas *</label> <select name="identityTypeId"
							id="identityTypeId" class="form-control" required>
							<option th:each="identityTypeModel : ${identityTypeModelList}"
								th:value="${identityTypeModel.id}"
								th:utext="${identityTypeModel.name}"></option>
						</select>
					</div>
					<!-- Nomor Identitas -->
					<div class="form-group col-3 col-sm-3">
						<label>Nomor Identitas</label> <input type="text"
							name="identityNo" class="form-control">
					</div>
					<!-- Email -->
					<div class="form-group col-3 col-sm-3">
						<label>Email *</label> <input type="text" name="email"
							class="form-control" required>
					</div>
					<!-- No. HP -->
					<div class="form-group col-3 col-sm-3">
						<label>No. HP</label> <input type="text" name="phoneNumber1"
							class="form-control">
					</div>
					<!-- No. HP Alternatif -->
					<div class="form-group col-3 col-sm-3">
						<label>No. HP Alternatif</label> <input type="text"
							name="phoneNumber2" class="form-control">
					</div>
					<!-- No. Tlp (Rumah/Orang Tua) -->
					<div class="form-group col-3 col-sm-3">
						<label>No. Tlp (Rumah/Orang Tua) *</label> <input type="text"
							name="parentPhoneNumber" class="form-control" required>
					</div>
					<!-- Anak Ke -->
					<div class="form-group col-3 col-sm-3">
						<label>Anak Ke *</label> <input type="text" name="childSequence"
							class="form-control" required>
					</div>
					<!-- Dari Berapa Bersaudara -->
					<div class="form-group col-3 col-sm-3">
						<label>Dari Berapa Bersaudara *</label> <input type="text"
							name="howManyBrothers" class="form-control" required>
					</div>
					<!-- Status Pernikahan -->
					<div class="form-group col-3 col-sm-3">
						<label>Status Pernikahan *</label> <select name="maritalStatusId"
							id="maritalStatus" class="form-control" required>
							<option th:each="maritalStatusModel : ${maritalStatusModelList}"
								th:value="${maritalStatusModel.id}"
								th:utext="${maritalStatusModel.name}"></option>
						</select>
					</div>
					<!-- Tahun Pernikahan -->
					<div class="form-group col-3 col-sm-3">
						<label>Tahun Pernikahan</label>
						<!-- <input type="text"
							name="marriageYear" class="form-control"> -->
						<select name="marriageYear" class="form-control" id="getYear">
							<option value="" selected>-Pilih-</option>
							<option
								th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), 1969)}"
								th:value="${year}" th:text="${year}" />
						</select>
					</div>
				</div>
			</div>
			<br>
			<div class="col-md-12">
				<div class="row">


					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-12">
								<h4>Alamat Sesuai Kartu Identitas</h4>
								<hr>
							</div>

							<!-- Alamat 1 -->
							<div class="form-group col-md-12">
								<label>Alamat *</label> <input type="text" name="address1"
									class="form-control" required> <span
									id="error-address1"></span>
							</div>
							<!-- Kode Pos 1 -->
							<div class="form-group col-6 col-md-6">
								<label>Kode Pos</label> <input type="text" name="postalCode1"
									class="form-control">
							</div>
							<!-- RT 1 -->
							<div class="form-group col-3 col-md-3">
								<label>RT *</label> <input type="text" name="rt1"
									class="form-control" required> <span id="error-rt1"></span>
							</div>
							<!-- RW 1 -->
							<div class="form-group col-3 col-md-3">
								<label>RW *</label> <input type="text" name="rw1"
									class="form-control" required> <span id="error-rw1"></span>
							</div>
							<!-- Kelurahan 1 -->
							<div class="form-group col-md-4">
								<label>Desa / Kelurahan *</label> <input type="text"
									name="kelurahan1" class="form-control" required>
							</div>
							<!-- Kecamatan 1 -->
							<div class="form-group col-md-4">
								<label>Kecamatan *</label> <input type="text" name="kecamatan1"
									class="form-control" required>
							</div>
							<!-- Kota 1 -->
							<div class="form-group col-md-4">
								<label>Kota *</label> <input type="text" name="region1"
									class="form-control" required>
							</div>
						</div>
					</div>


					<div class="row">


						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">
									<h4>Alamat Sesuai Tempat Tinggal Saat Ini</h4>
									<hr>
								</div>
								<!-- Alamat 2 -->
								<div class="form-group col-md-12">
									<label>Alamat *</label> <input type="text" name="address2"
										class="form-control" required>
								</div>
								<!-- Kode Pos 2 -->
								<div class="form-group col-md-6">
									<label>Kode Pos</label> <input type="text" name="postalCode2"
										class="form-control">
								</div>
								<!-- RT 2 -->
								<div class="form-group col-md-3">
									<label>RT *</label> <input type="text" name="rt2"
										class="form-control" required>
								</div>
								<!-- RW 2 -->
								<div class="form-group col-md-3">
									<label>RW *</label> <input type="text" name="rw2"
										class="form-control" required>
								</div>
								<!-- Kelurahan 2 -->
								<div class="form-group col-md-4">
									<label>Desa / Kelurahan *</label> <input type="text"
										name="kelurahan2" class="form-control" required>
								</div>
								<!-- Kecamatan 2 -->
								<div class="form-group col-md-4">
									<label>Kecamatan *</label> <input type="text" name="kecamatan2"
										class="form-control" required>
								</div>
								<!-- Kota 2 -->
								<div class="form-group col-md-4">
									<label>Kota *</label> <input type="text" name="region2"
										class="form-control" required>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>

			<div class="modal-footer" style="text-align: right;">	
			<div class="text-right">												
						
							<span class="btn-group btn-block pull-right" style="float: right;">

								<button type="reset" class="btn btn-warning"
									data-dismiss="modal">Batal</button>
								<button type="submit" class="btn btn-primary">Simpan</button>

							</span>										
				</div>
			</div>
		</div>

	</form>

	<!-- JS Files -->
	<script src="js/jquery-3.4.0.min.js"></script>
	<script src="js/jquery.serializejson.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
	<script src="fontawesome-free-5.8.1-web/js/all.min.js"></script>

	<script type="text/javascript">
	
		function validatePhone() {

			var phone1 = document.forms["formBiodata"]["phoneNumber1"].value;
			var phone2 = document.forms["formBiodata"]["phoneNumber2"].value;

			if (phone1 == phone2) {
				alert("Nomor HP dan Nomor HP Alternatif tidak boleh sama!");				
				return false;				
				}
		}
	</script>
	<script type="text/javascript">
		var max = new Date().getFullYear();
		min = max - 50;
		select = document.getElementById("getYear");

		var opt = document.createElement('option');
		opt.value = "";
		opt.innerHTML = "-Pilih Tahun-";
		select.appendChild(opt);

		for (var i = max; i >= min; i--) {
			var opt = document.createElement('option');
			opt.value = i;
			opt.innerHTML = i;
			select.appendChild(opt);
		}

		/* select.value = new Date().getFullYear(); */
		
	</script>
	
	<!-- <script>
		var target = $('#maritalStatus option:selected').val();
		if (target == "add")
			$("#add").show(selectedEffect, options, 500, callback);
		else if ($('#target option:selected').text() == "exit")
			$("#exit").show(selectedEffect, options, 500, callback);
		else if ($('#target option:selected').text() == "refuse")
			$("#refuse").show(selectedEffect, options, 500, callback);
		else
			alert('test');
	</script> -->
	
</body>
</html>