<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>XSIS 2.0 | Detail Pelamar</title>
    <meta
	content="height=device-height, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet"
	href="/AdminLTE/dist/css/skins/_all-skins.min.css">
<!-- Morris chart -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/morris.js/morris.css">
<!-- jvectormap -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/jvectormap/jquery-jvectormap.css">
<!-- Date Picker -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<!-- Daterange picker -->
<link rel="stylesheet"
	href="/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet"
	href="/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
</head>
<body>

    <div class="modal-header" style="background:darkblue;border-radius:0px">
    	<h4 class="col" style="color:white">Detail Pelamar</h4>
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
			<span aria-hidden="true">&times;</span>
       	</button>
    </div>
    
    <div class="modal-body">
       	<div class="row">
			<div class="col-3">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link" href="#">
						Profil
					</a>
					<a class="nav-link active goToBiodata" th:href="@{*}">
						Biodata
					</a>
					<a class="nav-link goToPengalamanKerja" th:href="@{*}">
						Pengalaman Kerja
					</a>
					<a class="nav-link goToPendidikan" th:href="@{/pendidikan/home}">
						Pendidikan
					</a>
					<a class="nav-link goToPelatihan" th:href="@{*}">
						Pelatihan
					</a>
					<a class="nav-link goToSertifikasi" th:href="@{*}">
						Sertifikasi
					</a>
					<a class="nav-link goToSumbeloker" th:href="@{*}">
						Sumber Lowongan Kerja
					</a>
					<a class="nav-link" href="#">
						Organisasi
					</a>
					<a class="nav-link" href="#">
						Keluarga
					</a>
					<a class="nav-link goToKeahlian" th:href="@{*}">
						Keahlian
					</a>
					<a class="nav-link goToLain" >
						Lain-lain
					</a>
					<a class="nav-link" href="#">
						Dokumen
					</a>
					<a class="nav-link" href="#">
						Catatan
					</a>
					<a class="nav-link" href="#">
						Aktivasi Akun
					</a>
					<a class="nav-link" href="#">
						Lihat Tes
					</a>
					<a class="nav-link" href="#">
						Hasil Tes
					</a>
			    </div>
            </div>
            <div class="col-9">
            	<div id="detailList">
            		<div class="detailContent">
            		
            		</div>
            	</div>
            </div>
		</div>
	<br>
	</div>




    <!-- JS Files -->
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/jquery.serializejson.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="fontawesome-free-5.8.1-web/js/all.min.js"></script>
    
    <script type="text/javascript">
    
    $(".goToBiodata").click(function() {
    	var a = $(this).attr("href");
   		$.ajax({
   			url:a,
   			type:'get',
   			dataType:'html',
   			success:function(hasil){
   				$("#detailList").find(".detailContent").html(hasil);
   			}
   		});
   		return false;
   	});
    
    $(".goToPengalamanKerja").click(function() {
    	var a = $(this).attr("href");
   		$.ajax({
   			url:a,
   			type:'get',
   			dataType:'html',
   			success:function(hasil){
   				$("#detailList").find(".detailContent").html(hasil);
   			}
   		});
   		return false;
   	});
    
    $(".goToSumbeloker").click(function() {
    	var a = $(this).attr("href");
   		$.ajax({
   			url:a,
   			type:'get',
   			dataType:'html',
   			success:function(hasil){
   				$("#detailList").find(".detailContent").html(hasil);
   			}
   		});
   		return false;
   	});
    
    $(".goToKeahlian").click(function() {
    	var a = $(this).attr("href");
   		$.ajax({
   			url:a,
   			type:'get',
   			dataType:'html',
   			success:function(hasil){
   				$("#detailList").find(".detailContent").html(hasil);
   			}
   		});
   		return false;
   	});
    
    $(".goToPelatihan").click(function() {
    	var a = $(this).attr("href");
   		$.ajax({
   			url:a,
   			type:'get',
   			dataType:'html',
   			success:function(hasil){
   				$("#detailList").find(".detailContent").html(hasil);
   			}
   		});
   		return false;
   	});
    
    $(".goToSertifikasi").click(function() {
    	var a = $(this).attr("href");
   		$.ajax({
   			url:a,
   			type:'get',
   			dataType:'html',
   			success:function(hasil){
   				$("#detailList").find(".detailContent").html(hasil);
   			}
   		});
   		return false;
   	});
    
    $(".goToLain").click(function() {
    	var a = $(this).attr("href");
   		$.ajax({
   			url:a,
   			type:'get',
   			dataType:'html',
   			success:function(hasil){
   				$("#detailList").find(".detailContent").html(hasil);
   			}
   		});
   		return false;
   	});
    
    $(".goToPendidikan").click(function() {
    	var a = $(this).attr("href");
   		$.ajax({
   			url:a,
   			type:'get',
   			dataType:'html',
   			success:function(hasil){
   				$("#detailList").find(".detailContent").html(hasil);
   			}
   		});
   		return false;
   	});
    
    
    
    </script>
    
    
</body>
</html>