<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>	
		<table id="tabel-pelamar" class="table table-bordered table-hover" role="grid">			
				<tr role="row" class="odd" th:each="biodataModel:${biodataModelList}">
					<td>
						<table width="100%">
							<tr>
								<td colspan="2" style="font-size:30" th:text="${biodataModel.fullname}"></td>
							</tr>
							<tr>
								<td style="width:150px">Nama Panggilan</td><td th:text="${biodataModel.nickName}"></td>
							</tr>
							<tr>
								<td style="width:150px">Email</td><td th:text="${biodataModel.email}"></td>
							</tr>
							<tr>
								<td style="width:150px">No. Handphone</td><td th:text="${biodataModel.phoneNumber1}"></td>
							</tr>
							<tr>
								<td style="width:150px">Pendidikan</td><td th:text="${biodataModel.phoneNumber2}"></td>
							</tr>
						</table>
					</td>					
					<td align="center" style="vertical-align:middle">							
							<button type="button" id="select-detail" th:value="${biodataModel.id}"><i id="detail" class="fa fa-fw fa-search"></i></button>&nbsp;&nbsp;
							<i id="token" class="fa fa-fw fa-envelope"></i>						
					</td>
				</tr>			
		</table>
	

</body>

<script>

 








</script>
</html>