<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Proyek Tambah</title>
</head>
<style>
.xsis-input-border {
	border-radius: 5px;
	border-color: #006;
}

.xsis-btn-batal {
	color: white;
	font-weight: bold;
	background-color: #FF6600;
}

.xsis-btn-simpan {
	color: white;
	font-weight: bold;
	background-color: #010066;
}
</style>
<body>
	<div class="content ">
		<form name="proyek-tambah" id="form-proyek-tambah"
			onsubmit="return checkInp()">
			<div>
				<input type="hidden" th:value="${pekerjaanModel.id}" name="id" />
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">
					<label>Waktu Mulai Proyek *</label><select class="form-control xsis-input-border"
						name="startMonth" required="required">
						<option value="">- Pilih Bulan -</option>
						<!--<option value="1">January</option> -->
						<!--<option value="2">February</option> -->
						<!--<option value="3">March</option> -->
						<!--<option value="4">April</option> -->
						<!--<option value="5">May</option> -->
						<!--<option value="6">June</option> -->
						<!--<option value="7">July</option> -->
						<!--<option value="8">August</option> -->
						<!--<option value="9">September</option> -->
						<!--<option value="10">October</option> -->
						<!--<option value="11">November</option> -->
						<!--<option value="12">December</option> -->
						<option th:each="month : ${#numbers.sequence(1,12)}"
							th:value="${month}" th:text="${month}" />
					</select>
				</div>
				<div class="col-sm-6 offset-sm-6">
					<label>-</label> <select id="yearMasukProyek" class="form-control xsis-input-border"
						name="startYear" required="required">
						<option value="">- Pilih Tahun -</option>
					</select>
				</div>
			</div>
			<div class="col-sm-12"
				style="padding-left: 30px; padding-right: 30px">
				<label>Nama Proyek *</label><input type="text" class="form-control xsis-input-border"
					name="projectName" required="required">
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">
					<label>Lama Pengerjaan</label> <input type="text"
						class="form-control xsis-input-border" name="projectDuration">
				</div>
				<div class="col-sm-6 offset-sm-6">
					<label>-</label> <select class="form-control xsis-input-border" name="timePeriodId">
						<option value="">--PILIH---</option>
						<option th:each="timePeriodModel : ${timePeriodModelList}"
							th:value="${timePeriodModel.id}"
							th:utext="${timePeriodModel.name}" />
					</select>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">
					<label>Klien</label> <input type="text" class="form-control xsis-input-border"
						name="client">
				</div>
				<div class="col-sm-6 offset-sm-6">
					<label>Posisi Ketika Proyek *</label> <input type="text"
						class="form-control xsis-input-border" name="projectPosition" required="required">
				</div>
			</div>
			<div class="col-sm-12"
				style="padding-left: 30px; padding-right: 30px">
				<label>Keterangan</label><input type="text" class="form-control xsis-input-border" name="description">
			</div>
			<div class="form-group col-12 col-sm-12">
				<div class="btn-group pull-right"
					style="padding-top: 0.2cm; padding-right: 14px;">
					<button type="button" class="btn xsis-btn-batal"
						onclick="javascript:return doClose()">
						<font style="color: white">Batal</font>
					</button>
					<button type="submit" class="btn xsis-btn-simpan">
						<font style="color: white">Simpan</font>
					</button>
				</div>
			</div>


		</form>
	</div>
			

</body>
<script type="text/javascript">
	var year = new Date().getFullYear();
	min = year - 20;
	max = year;
	selectMasuk = document.getElementById('yearMasukProyek');

	for (var i = min; i <= max; i++) {
		var opt = document.createElement('option');
		opt.value = i;
		opt.innerHTML = i;
		selectMasuk.appendChild(opt);
	}
	
	function checkInp() {
		var x = document.forms["proyek-tambah"]["projectDuration"].value;
		if (isNaN(x)) {
			alert("Must input numbers");
			return false;
		}
	}
	
	function doClose(){
		$('#modal-proyek-tambah').modal('hide');
	}
</script>
</html>