<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
.xsis-btn-delete {
	color: white;
	font-weight: bold;
}
</style>

</head>
<body>
	<div class="col-sm-12" style="text-align: center;">
		<div class="col-sm-4">
			<i class="fa fa-fw fa-trash" style="color: black; font-size: 7.5em;"></i>
		</div>
		<div class="col-sm-8" style="top: 30px; font-size: medium;">
			Anda yakin ingin menghapus proyek <b><br> <span
				th:utext="${proyekModel.projectName}"
				style="background-color: transparent;"></span></b> ?
		</div>
	</div>
	<div class="form-group col-12 col-sm-12">
		<div class="btn-group pull-right"
			style="padding-top: 0.2cm; padding-right: 0.2cm;">
			<button type="button" style="background-color: #FF6600"
				class="btn xsis-btn-delete" onclick="javascript:return doClose()">Tidak</button>
			<button type="submit" style="background-color: #9A0000"
				class="btn xsis-btn-delete"
				onclick="javascript:return doHapusProyek(this.value);"
				th:value="${proyekModel.id}">Ya</button>
		</div>
	</div>
<!-- 
	<tr th:each="proyekModel:${proyekModel}">
		<td>
			<div class="hidden">
				<label for="title">Id</label><input type="text" name="id"
					th:value="${proyekModel.id}" />
			</div>
		</td>
		<td><i class="fa fa-fw fa-trash"
			style="color: red; font-size: 7.5em;"></i></td>
		<td>Apakah anda benar ingin menghapus proyek</td>
		<b><td th:text="${proyekModel.projectName}"></td></b>
		<td>?</td>
	</tr>
	<div class="btn" style="padding-left: 450px">
		<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		<button type="submit" class="btn btn-default" id="select-doDelete"
			th:value="${proyekModel.id}">YES</button>
	</div>
	 -->
</body>

<script type="text/javascript">
	function doClose() {
		$('#modal-proyek-delete').modal('hide');
	}
</script>
</html>