<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<script type="text/javascript">
	$(document).ready(function() {
		$("input[name='isApplyOtherPlace']").change(function() {
			if ($(this).is(':checked')) {
				$("input[name='isApplyOtherPlace']").val(true);
				$("input[name='applyPlace']").attr("disabled", false);
				$("input[name='selectionPhase']").attr("disabled", false);
			} else if ($(this).not(':checked')) {
				$("input[name='isApplyOtherPlace']").val(false);
				$("input[name='applyPlace']").val('');
				$("input[name='applyPlace']").attr("disabled", true);
				$("input[name='selectionPhase']").val('');
				$("input[name='selectionPhase']").attr("disabled", true);
			}
		});
	});
	$(document).ready(function() {
		$("input[name='isEverPsychotest']").change(function() {
			if ($(this).is(':checked')) {
				$("input[name='isEverPsychotest']").val(true);
				$("input[name='psychotestNeeds']").attr("disabled", false);
				$("input[name='pyschotestTime']").attr("disabled", false);
			} else if ($(this).not(':checked')) {
				$("input[name='isEverPsychotest']").val(false);
				$("input[name='psychotestNeeds']").val('');
				$("input[name='psychotestNeeds']").attr("disabled", true);
				$("input[name='pyschotestTime']").val('');
				$("input[name='pyschotestTime']").attr("disabled", true);
			}
		});
	});

	$(document).ready(function() {
		$("input[name='isEverBadlySick']").change(function() {
			if ($(this).is(':checked')) {
				$("input[name='isEverBadlySick']").val(true);
				$("input[name='diseaseName']").attr("disabled", false);
				$("input[name='diseaseTime']").attr("disabled", false);
			} else if ($(this).not(':checked')) {
				$("input[name='isEverBadlySick']").val(false);
				$("input[name='diseaseName']").val('');
				$("input[name='diseaseName']").attr("disabled", true);
				$("input[name='diseaseTime']").val('');
				$("input[name='diseaseTime']").attr("disabled", true);
			}
		});
	});
	
	$(document).ready(function() {
		$("input[name='isNegotiable']").change(function() {
			if ($(this).is(':checked')) {
				$("input[name='isNegotiable']").val(true);
			} else if ($(this).not(':checked')) {
				$("input[name='isNegotiable']").val(false);
			}
		});
	});
	
	$(document).ready(function() {
		$("input[name='isReadyToOutoftown']").change(function() {
			if ($(this).is(':checked')) {
				$("input[name='isReadyToOutoftown']").val(true);
			} else if ($(this).not(':checked')) {
				$("input[name='isReadyToOutoftown']").val(false);
			}
		});
	});
</script>
<style type="text/css">
#form-additional-edit label {
	font-size: 10px;
	font-weight: 500;
	color: #006;
}

#form-additional-edit .col-md-12, .col-md-6, .col-md-3{
	padding-left: 5px;
	padding-right: 5px;
}

#form-additional-edit .form-control {
	border-style: solid;
	border-width: 2px;
	border-color: #006;
	border-radius: 5px;
}

#form-additional-edit .form-group {
	margin-bottom: 0;
}
#form-additional-edit .checkbox {
	margin-bottom: 0;
}
</style>
</head>
<body onload="checktext()">
	<div class="box " style="border-top: none; box-shadow: none;">
		<div class="box-body">
			<form method="post" id="form-additional-edit">
				<!-- <div class="modal-body"> -->
				<div class="col-md-12" th:each="dataTambahan:${dataTambahan}">
				<input type="hidden" readonly="readonly" name="id"
								th:value="${dataTambahan.biodataId}">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Kontak Darurat(Keluarga Tidak Serumah)*</label> <input
									type="text" class="form-control" required="required"
									name="emergencyContactName"
									th:value="${dataTambahan.emergencyContactName}">
							</div>

						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Gaji Yang Diharapkan(IDR)*</label> <input type="text"
									name="expectedSalary" class="form-control" required="required"
									th:value="${dataTambahan.expectedSalary}">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<div class="checkbox">
									<label> <input type="checkbox" name="isNegotiable"
										th:checked="${dataTambahan.isNegotiable} ? 'checked'"
										th:value="${dataTambahan.isNegotiable}">
										Negotiable
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Nomor Telp. Darurat*</label> <input type="text"
									name="emergencyContactPhone" class="form-control"
									required="required"
									th:value="${dataTambahan.emergencyContactPhone}">
							</div>

						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Kapan Siap Mulai Bekerja</label> <input type="text"
									name="startWorking" class="form-control" required="required"
									th:value="${dataTambahan.startWorking}">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<div class="checkbox">
									<label> <input type="checkbox"
										name="isReadyToOutoftown"
										th:checked="${dataTambahan.isReadyToOutoftown} ? 'checked'"
										th:value="${dataTambahan.isReadyToOutoftown}">
										Bersedia Ditempatkan Di Luar Kota
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="checkbox">
									<label> <input type="checkbox" name="isApplyOtherPlace"
										th:checked="${dataTambahan.isApplyOtherPlace} ? 'checked'"
										th:value="${dataTambahan.isApplyOtherPlace}">
										Sedang Melamar Ditempat Lain
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Dimana(Tempat Melamar)?</label> <input type="text"
									name="applyPlace" class="form-control"
									th:value="${dataTambahan.applyPlace}"
									th:disabled="${dataTambahan.isApplyOtherPlace}== false ? 'disabled'">
							</div>

						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Tahapan Seleksi Melamar</label> <input type="text"
									name="selectionPhase" class="form-control"
									th:value="${dataTambahan.selectionPhase}"
									th:disabled="${dataTambahan.isApplyOtherPlace}== false ? 'disabled'">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="checkbox">
									<label> <input type="checkbox" name="isEverBadlySick"
										th:checked="${dataTambahan.isEverBadlySick} ? 'checked'"
										th:value="${dataTambahan.isEverBadlySick}">
										Pernah Sakit Berat / Lama Sembuh
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Nama Penyakit</label> <input type="text"
									name="diseaseName" class="form-control"
									th:value="${dataTambahan.diseaseName}"
									th:disabled="${dataTambahan.isEverBadlySick}== false ? 'disabled'">
							</div>

						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Kapan(Waktu Sakit)?</label> <input type="text"
									name="diseaseTime" class="form-control"
									th:value="${dataTambahan.diseaseTime}"
									th:disabled="${dataTambahan.isEverBadlySick}== false ? 'disabled'">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="checkbox">
									<label> <input type="checkbox" name="isEverPsychotest"
										th:checked="${dataTambahan.isEverPsychotest} ? 'checked'"
										th:value="${dataTambahan.isEverPsychotest}">
										Pernah Mengikuti Psikotes
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Keperluan Psikotes</label> <input type="text"
									name="psychotestNeeds" class="form-control"
									th:value="${dataTambahan.psychotestNeeds}"
									th:disabled="${dataTambahan.isEverPsychotest}== false ? 'disabled'">
							</div>

						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Kapan(Waktu Psikotes)?</label> <input type="text"
									name="pyschotestTime" class="form-control"
									th:value="${dataTambahan.pyschotestTime}"
									th:disabled="${dataTambahan.isEverPsychotest}== false ? 'disabled'">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Persyaratan Yang Diperlukan untuk Jabatan Yang
									Dilamar</label>
								<textarea class="form-control" rows="4"
									name="requirementesRequired"
									th:value="${dataTambahan.requirementesRequired}"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Keterangan Lain Yang Ingin Dikemukakan</label>
								<textarea class="form-control" rows="4" name="otherNotes"
									th:value="${dataTambahan.otherNotes}"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="margin-top: 15px;">
							<div class="btn-group pull-right">
								<button type="reset" class="btn btn-warning" onclick="javascript:return doCancel()">
									<font style="color: white">Batal</font>
								</button>
								<button type="submit" class="btn btn-primary">
									<font style="color: white">Simpan</font>
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- </div> -->
		</div>
	</div>

</body>
</html>