<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table class="table table-striped"
		th:each="dataTambahan:${dataTambahan}" id="table-additional">
		<tr>
			<th>Gaji Yang Diharapkan</th>
			<td>:</td>
			<td th:text="${dataTambahan.expectedSalary}"></td>
		</tr>
		<tr>
			<th>Negotiable</th>
			<td>:</td>
			<td th:text="${dataTambahan.isNegotiable} ? 'Ya' : 'Tidak'"></td>
		</tr>
		<tr>
			<th>Kapan Siap Mulai Bekerja</th>
			<td>:</td>
			<td th:text="${dataTambahan.startWorking}"></td>
		</tr>
		<tr>
			<th>Bersedia Ditempatkan Di Luar Kota</th>
			<td>:</td>
			<td th:text="${dataTambahan.isReadyToOutoftown}? 'Ya' : 'Tidak'"></td>
		</tr>
		<tr>
			<th>Kontak Darurat (Keluarga Tidak Serumah)</th>
			<td>:</td>
			<td th:text="${dataTambahan.emergencyContactName}"></td>
		</tr>
		<tr>
			<th>Nomor Telp. Darurat</th>
			<td>:</td>
			<td th:text="${dataTambahan.emergencyContactPhone}"></td>
		</tr>
	</table>
</body>
</html>