<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<div class="box " style="border-top: none; box-shadow: none;">
		<div class="box-body">
			<div class="modal-body">
				<table class="table"
					th:each="dataTambahan:${dataTambahan}">
					<tr>
						<th>Gaji Yang Diharapkan</th>
						<td>:</td>
						<td th:text="${dataTambahan.expectedSalary}"></td>
					</tr>
					<tr>
						<th>Negotiable</th>
						<td>:</td>
						<td th:text="${dataTambahan.isNegotiable}? 'Ya' : 'Tidak'"></td>
					</tr>
					<tr>
						<th>Kapan Siap Mulai Bekerja</th>
						<td>:</td>
						<td th:text="${dataTambahan.startWorking}"></td>
					</tr>
					<tr>
						<th>Bersedia Ditempatkan Di Luar Kota</th>
						<td>:</td>
						<td th:text="${dataTambahan.isReadyToOutoftown}? 'Ya' : 'Tidak'"></td>
					</tr>
					<tr>
						<th>Kontak Darurat (Keluarga Tidak Serumah)</th>
						<td>:</td>
						<td th:text="${dataTambahan.emergencyContactName}"></td>
					</tr>
					<tr>
						<th>Nomor Telp. Darurat</th>
						<td>:</td>
						<td th:text="${dataTambahan.emergencyContactPhone}"></td>
					</tr>
					<tr>
						<th>Sedang Melamar Di Tempat Lain</th>
						<td>:</td>
						<td th:text="${dataTambahan.isApplyOtherPlace}? 'Ya' : 'Tidak'"></td>
					</tr>
					<tr>
						<th>Dimana (Tempat Melamar)</th>
						<td>:</td>
						<td th:text="${dataTambahan.applyPlace}"></td>
					</tr>
					<tr>
						<th>Tahapan Seleksi Melamar</th>
						<td>:</td>
						<td th:text="${dataTambahan.selectionPhase}"></td>
					</tr>
					<tr>
						<th>Pernah Sakit Berat/Lama Sembuh</th>
						<td>:</td>
						<td th:text="${dataTambahan.isEverBadlySick}? 'Ya' : 'Tidak'"></td>
					</tr>
					<tr>
						<th>Nama Penyakit</th>
						<td>:</td>
						<td th:text="${dataTambahan.diseaseName}"></td>
					</tr>
					<tr>
						<th>Kapan (Waktu Sakit)</th>
						<td>:</td>
						<td th:text="${dataTambahan.diseaseTime}"></td>
					</tr>
					<tr>
						<th>Pernah Mengikuti Psikotes</th>
						<td>:</td>
						<td th:text="${dataTambahan.isEverPsychotest}? 'Ya' : 'Tidak'"></td>
					</tr>
					<tr>
						<th>Keperluan Psikotes</th>
						<td>:</td>
						<td th:text="${dataTambahan.psychotestNeeds}"></td>
					</tr>
					<tr>
						<th>Kapan (Waktu Psikotes)</th>
						<td>:</td>
						<td th:text="${dataTambahan.pyschotestTime}"></td>
					</tr>
					<tr>
						<th>Keterangan Lain</th>
						<td>:</td>
						<td th:text="${dataTambahan.otherNotes}"></td>
					</tr>
				</table>
				<br> <br>
				<br> <br>
			</div>
		</div>
	</div>
</body>
</html>