<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Referensi Index</title>
<style type="text/css">
.jqstooltip {
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	background: rgb(0, 0, 0) transparent;
	background-color: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,
		endColorstr=#99000000);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	color: white;
	font: 10px arial, san serif;
	text-align: left;
	white-space: nowrap;
	padding: 5px;
	border: 1px solid white;
	box-sizing: content-box;
	z-index: 10000;
}

.jqsfield {
	color: white;
	font: 10px arial, san serif;
	text-align: left;
}

#table-additional th {
	padding: 10px;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #006;
}

#table-additional td {
	padding: 10px;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #006;
}
</style>

</head>
<body>
	<div class="content">
		<input type="hidden" readonly="readonly" id="biodataId"
			th:value="${biodataModel.id}" onload="javascript:refreshTableData();">
		<form>
			<div class="input-group input-group-sm">
				<span style="font-size: large;"> Referensi </span><span
					th:utext="${biodataModel.fullname}"></span> <span><a
					data-toggle="tooltip" data-placement="auto left"
					title="Tambah Referensi"> <i class="fa fa-fw fa-plus-circle"
						onclick="javascript:return doTambah()"
						th:value="${biodataModel.id}" style="color: #006;" id="btn-add"></i></a>
				</span>
			</div>
		</form>
		<!--  <h4>
			Referensi
		<span>
						<button onclick="javascript:refreshTableData();" type="button" class="btn bg-blue" id="btn-add">
							<b>+</b>
						</button>

				</span></h4>-->
		<p>(Dosen Pembimbing/Atasan sebelumnya yang dapat dimintai
			keterangan diri)</p>

		<div>
			<table class="table table-striped">
				<thead>
					<tr
						style="padding: 10px; border-top-style: solid; border-top-width: 3px; border-top-color: #006; border-bottom-style: solid; border-bottom-width: 3px; border-bottom-color: #006;">
						<th>NAMA</th>
						<th>ALAMAT</th>
						<th>JABATAN</th>
						<th>HUBUNGAN</th>
						<th style="text-align: right;">#</th>
					</tr>
				</thead>
				<tbody id="list-referensi">

				</tbody>
			</table>
		</div>

		<br>
		<form>
			<div class="input-group input-group-sm">
				<span style="font-size: large;"> Keterangan Tambahan </span> <span>
					<a><i class="fa fa-search"
						onclick="javascript:return viewInfo()"
						th:value="${biodataModel.id}" style="color: #006;"
						data-toggle="tooltip" title="Lihat Keterangan Tambahan"
						data-placement="auto left" id="view-additional"></i></a>
				</span> <span><a> <i class="fa fa-edit"
						onclick="javascript:return editInfo()"
						data-placement="auto left" th:value="${biodataModel.id}"
						style="color: #006;" data-toggle="tooltip"
						title="Edit Keterangan Tambahan" id="edit-additional"></i></a> </span>
			</div>
		</form>
		<div id="additional-info">
			<!-- <table class="table table-striped"
				th:each="dataTambahan:${dataTambahan}" id="table-additional">
				<tr>
					<th>Gaji Yang Diharapkan</th>
					<td>:</td>
					<td th:text="${dataTambahan.expectedSalary}"></td>
				</tr>
				<tr>
					<th>Negotiable</th>
					<td>:</td>
					<td th:text="${dataTambahan.isNegotiable} ? 'Ya' : 'Tidak'"></td>
				</tr>
				<tr>
					<th>Kapan Siap Mulai Bekerja</th>
					<td>:</td>
					<td th:text="${dataTambahan.startWorking}"></td>
				</tr>
				<tr>
					<th>Bersedia Ditempatkan Di Luar Kota</th>
					<td>:</td>
					<td th:text="${dataTambahan.isReadyToOutoftown}? 'Ya' : 'Tidak'"></td>
				</tr>
				<tr>
					<th>Kontak Darurat (Keluarga Tidak Serumah)</th>
					<td>:</td>
					<td th:text="${dataTambahan.emergencyContactName}"></td>
				</tr>
				<tr>
					<th>Nomor Telp. Darurat</th>
					<td>:</td>
					<td th:text="${dataTambahan.emergencyContactPhone}"></td>
				</tr>
			</table> -->
		</div>

		<div id="modal-referensi-add" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header"
						style="background-color: #006; padding-top: 0; padding-bottom: 0;">
						<h4 style="color: white;">Tambah Referensi</h4>
					</div>
					<div class="modal-body" style="height: auto;">
						<p>Some text in the modal.</p>
					</div>
				</div>

			</div>
		</div>

		<div id="modal-referensi-edit" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header"
						style="background-color: #006; padding-top: 0; padding-bottom: 0;">
						<h4 style="color: white;">Edit Referensi</h4>
					</div>
					<div class="modal-body" style="height: auto;">
						<p>Some text in the modal.</p>
					</div>
				</div>
			</div>
		</div>

		<div id="modal-referensi-delete" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content" style="border-color: red;">
					<div class="modal-header"
						style="background-color: red; padding-top: 0; padding-bottom: 0;">
						<button type="button" class="close" data-dismiss="modal">
							<h4>&times;</h4>
						</button>
						<h2 style="color: white;">Hapus Referensi?</h2>
					</div>
					<div class="modal-body" style="height: 200px;"></div>
				</div>

			</div>
		</div>

		<div id="modal-tambahan" class="modal fade" role="dialog">
			<div class="modal-dialog" style="width: 800px;">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header"
						style="background-color: #006; padding-top: 0; padding-bottom: 0;">
						<button type="button" class="close"
							onclick="javascript:return doCancel()" style="color: white">
							<h4>&times;</h4>
						</button>
						<h4 style="color: white;">Keterangan Tambahan</h4>
					</div>
					<div class="modal-body" style="height: auto;">
						<p>Some text in the modal.</p>
					</div>
				</div>

			</div>
		</div>

	</div>
	<script type="text/javascript">
	refreshTableData();
	refreshAdditionalData();
var element = 10;
var page = 0;

	function refreshTableData() {
		var id = $('#biodataId').attr('value');
		$.ajax({
			url : '/lainnya/data',
			type : 'get',
			data : {id,id},
			dataType : 'html',
			success : function(result) {
				$('#list-referensi').html(result);
			}
		});
	};
	function refreshAdditionalData() {
		var id = $('#biodataId').attr('value');
		$.ajax({
			url : '/lainnya/additional',
			type : 'get',
			data : {id,id},
			dataType : 'html',
			success : function(result) {
				$('#additional-info').html(result);
			}
		});
	};
	
	function doTambah(){
		var id = $('#btn-add').attr('value');
		$.ajax({
			url : '/lainnya/add_ref',
			type : 'get',
			dataType : 'html',
			data : {id,id},
			success : function(result) {
				$('#modal-referensi-add').modal('show');
				$('#modal-referensi-add').find('.modal-body').html(result);
			}
		});
		return false;
	};
	
	$('#modal-referensi-add').on('submit','#form-ref-add',function() {
		$.ajax({
			url : '/lainnya/simpan',
			type : 'post',
			data: $(this).serialize(),
			success : function(result) {
				alert('Referensi telah ditambah');
				$('#modal-referensi-add').modal('hide');
				refreshTableData();
			}
		});
		return false;
	});
	
	function doCancel(){
		$('#modal-referensi-add').modal('hide');
		$('#modal-referensi-edit').modal('hide');
		$('#modal-referensi-delete').modal('hide');
		$('#modal-tambahan').modal('hide');
		refreshTableData();
	} 
	
	$('#list-referensi').on('click','#menu-ubah',function() {
		var id = $(this).val();
		
		$.ajax({
			url : '/lainnya/ubah',
			type : 'get',
			dataType : 'html',
			data: {id,id},
			success : function(result) {
				$('#modal-referensi-edit').modal('show');
				$('#modal-referensi-edit').find('.modal-body').html(result);
			}
		});
		
	});
	
	$('#modal-referensi-edit').on('submit','#form-ref-edit',function() {
		$.ajax({
			url : '/lainnya/update',
			type : 'post',
			data: $(this).serialize(),
			success : function(result) {
				alert('Referensi telah diupdate');
				$('#modal-referensi-edit').modal('hide');
				refreshTableData();
			}
		});
		return false;
	});
	

	$('#list-referensi').on('click','#menu-hapus',function() {
		var name = $(this).val();
		
		$.ajax({
			url : '/lainnya/hapus',
			type : 'get',
			dataType : 'html',
			data: {name,name},
			success : function(result) {
				$('#modal-referensi-delete').modal('show');
				$('#modal-referensi-delete').find('.modal-body').html(result);
			}
		});
		
	});
	
	function doHapus(idReferensi){
		var id =idReferensi;
		$.ajax({
			url : '/lainnya/delete',
			type : 'post',
			data: {id,id},
			success : function(result) {
				alert('Referensi telah dihapus');
				$('#modal-referensi-delete').modal('hide');
				refreshTableData();
			}
		});
		return false;

	};

	function viewInfo() {
		var id = $('#view-additional').attr('value');
		$.ajax({
			url : '/lainnya/viewinfo',
			type : 'get',
			data : {id,id},
			dataType : 'html',
			success : function(result) {
				$('#modal-tambahan').modal('show');
				$('#modal-tambahan').find('.modal-body').html(result);
			}
		});
	};
	
	function editInfo() {
		var id = $('#edit-additional').attr('value');
		$.ajax({
			url : '/lainnya/editinfo',
			type : 'get',
			data : {id,id},
			dataType : 'html',
			success : function(result) {
				$('#modal-tambahan').modal('show');
				$('#modal-tambahan').find('.modal-body').html(result);
			}
		});
	};
	
	$('#modal-tambahan').on('submit','#form-additional-edit',function() {
		$.ajax({
			url : '/lainnya/updateinfo',
			type : 'post',
			data: $(this).serialize(),
			success : function(result) {
				alert('Referensi diperbarui');
				$('#modal-tambahan').modal('hide');
				refreshAdditionalData();
			}
		});
		return false;
	});

	$(document).ready(function(){
		  $('[data-toggle="tooltip"]').tooltip();   
		});
</script>


</body>
</html>