<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
</head>
<body>

	<tr th:each="referensiModelList: ${referensiModelList}" style="border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: #006;">
		<td th:text="${referensiModelList.id}" style="display: none;"></td>
		<td th:text="${referensiModelList.biodataId}" style="display: none;"></td>
		<td th:text="${referensiModelList.name}"></td>
		<td th:text="${referensiModelList.addressPhone}"></td>
		<td th:text="${referensiModelList.position}"></td>
		<td th:text="${referensiModelList.relation}"></td>
		<td class="pull-right dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				More | <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li style="text-align: center;"><button class="btn"
						style="background-color: transparent;" id="menu-ubah"
						th:value="${referensiModelList.id}">Ubah</button></li>
				<li style="text-align: center;"><button class="btn"
						style="background-color: transparent;" id="menu-hapus"
						th:value="${referensiModelList.name}">Hapus</button></li>
			</ul>
		</td>
	</tr>
</body>
</html>