<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999.xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link href="../AdminLTE/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../AdminLTE/dist/css/profil/style.css">
</head>
<body class="profil">
	<div class="col-sm-12">
		<form th:action="@{/masuk/login/akses}"id="form-login" method="POST"
			class="needs-validation" novalidate>

			<div class="col-sm-12 text-center" id="logo-text">
				<a class="logotxt">XSIS 2.0</a>
			</div>
			<div class="form-group row">
				<div class="col-sm-4 offset-sm-4">
					<input type="text" class="form-control" id="validationCustom01"
						name="email/id" placeholder="Email/Username" required>
					 <div class="invalid-feedback">Email/Username Harus Diisi</div> 
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-4 offset-sm-4">
					<input id="validationCustom02"
						type="password" class="form-control" name="abpwd"
						placeholder="Password" required>
					 <div class="invalid-feedback">Password Harus Diisi</div> 
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-4 offset-sm-4">
					<button class="btn btn-primary btn-sm col-sm-12" type="submit">Masuk</button>
				</div>
			</div>
			<div class="form-group row text-center lupa">
				<div class="col-sm-4 offset-sm-4 lupa">
					<a th:href="@{/lupa/password}">Lupa password</a>
				</div>
			</div>
		</form>
		<p id="error_para"></p>
	</div>
	<footer class="col-sm-12 text-center" id="login-footer">
		<a id="xsisFooter">2020 - Xsis Mitra Utama</a>
	</footer>

	<script type="text/javascript">
	(function() {
		  'use strict';
		  window.addEventListener('load', function() {
		    // Fetch all the forms we want to apply custom Bootstrap validation styles to
		    var forms = document.getElementsByClassName('needs-validation');
		    // Loop over them and prevent submission
		    var validation = Array.prototype.filter.call(forms, function(form) {
		      form.addEventListener('submit', function(event) {
		        if (form.checkValidity() === false) {
		          event.preventDefault();
		          event.stopPropagation();
		        }
		        form.classList.add('was-validated');
		      }, false);
		    });
		  }, false);
		})();
	</script>
</body>
</html>