<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="content ">
		<form id="form-pendidikan-add">
			<div>
				<input type="hidden" th:value="${biodataModel.id}" name="id" />
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">
					<label>Nama Sekolah/Instansi<i style="color: red;">*</i></label> <input
						class="form-control" name="schoolName" required="required" />
				</div>
				<div class="col-sm-3 offset-sm-6">
					<label>Kota</label> <input class="form-control" name="city" />
				</div>
				<div class="col-sm-3 offset-sm-9">
					<label>Negara</label> <input class="form-control" name="country" />
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">
					<label>Jenjang Pendidikan<i style="color: red;">*</i></label> <select
						class="form-control" name="educationLevel" required="required">
						<option>-Pilih-</option>
						<option th:each="jg:${jenjangPendidikan}" th:value="${jg.id}"
							th:utext="${jg.name}"></option>
					</select>
				</div>
				<div class="col-sm-3 offset-sm-6">
					<label>Tahun Masuk</label> <select id="validStartYear"
						name="entryYear" class="form-control">
						<option value="-">-Pilih-</option>
					</select>
				</div>
				<div class="col-sm-3 offset-sm-9">
					<label>Tahun Lulus</label> <select id="validEndYear"
						name="graduationYear" class="form-control">
						<option value="-">-Pilih-</option>
					</select>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">
					<label>Jurusan</label> <input class="form-control" name="major" />
				</div>
				<div class="col-sm-6 offset-sm-6">
					<label>IPK</label> <input class="form-control" name="gpa"
						type="number" step="0.01" />
				</div>
			</div>
			<div class="col-sm-12" style="padding-left: 30px;">
				<label>Catatan</label>
				<textarea class="form-control pull-center" name="notes" rows="5"
					style="width: 480px"></textarea>
			</div>
			<div class="col-sm-12">
				<div class="btn btn-group col-sm-3 pull-right"
					style="padding-top: 0.2cm;">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button type="submit" class="btn btn-primary">Yes</button>
				</div>
			</div>
		</form>
	</div>


	<script type="text/javascript">
		var year = new Date().getFullYear();
		min = year - 39, max = year, select = document
				.getElementById('validStartYear');

		for (var i = min; i <= max; i++) {
			var opt = document.createElement('option');
			opt.value = i;
			opt.innerHTML = i;
			select.appendChild(opt);
		};

		var year = new Date().getFullYear();
		min = year - 39, max = year, select = document
				.getElementById('validEndYear');

		for (var i = min; i <= max; i++) {
			var opt = document.createElement('option');
			opt.value = i;
			opt.innerHTML = i;
			select.appendChild(opt);
		}
	</script>

</body>
</html>