<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<tr th:each="riwayatPendidikanModel:${riwayatPendidikanModelList}">
		<td th:text="${riwayatPendidikanModel.id}" style="display: none;"></td>
		<td th:text="${riwayatPendidikanModel.schoolName}"></td>
		<td th:text="${riwayatPendidikanModel.educationLevel.name}"></td>
		<td><a th:text="${riwayatPendidikanModel.entryYear}"></a>
		<a> s.d. </a>
		<a th:text="${riwayatPendidikanModel.graduationYear}"></a></td>
		<td th:text="${riwayatPendidikanModel.major}"></td>
		<td th:text="${riwayatPendidikanModel.gpa}"></td>
		<td class="pull-right dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				More | <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li style="text-align: center;"><button class="btn" style="background-color:transparent;" id="select-ubah" th:value="${riwayatPendidikanModel.id}">Ubah</button></li>
				<li style="text-align: center;"><button class="btn" style="background-color:transparent;" id="select-delete" th:value="${riwayatPendidikanModel.id}">Hapus</button></li>
			</ul>
		</td>
	</tr>
</body>
</html>