<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999.xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Profil</title>
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/profil/style.css">
</head>
<body>
<body>
	<div class="card col-md-12" id="div-profil-unduh">
		<div class="card-body">
			<span class="float-left"><img
				th:src="${biodataAttachmentModel.filePath + biodataAttachmentModel.fileName}"></span>
			<span class="nama"> <label><a
					th:text="${biodataModel.fullname}"></a>
					<p th:text="${peReferensiModel.position}"></p>
					<p th:text="${biodataModel.usia} + ' Tahun'"></p>
					<p id="jenisKelamin" th:text="${biodataModel.gender}"></p>
					<p th:each="riwayatPendidikanModel : ${riwayatPendidikanModelLast}"
						th:utext="${riwayatPendidikanModel.major + ', ' + riwayatPendidikanModel.schoolName}"></p>
			</label>
			</span>
			<button type="button" class="btn btn-primary" id="btn-unduh-profil">Unduh</button>
			<section class="block">
				<span class="span"> <label>Pendidikan</label></span>
				<table th:each="riwayatPendidikanModel : ${riwayatPendidikanModels}">
					<tr>
						<td class="kiri" width="158"><p
								th:utext="${riwayatPendidikanModel.entryYear + ' - ' + riwayatPendidikanModel.graduationYear}"></p></td>
						<td class="kanan"><p
								th:utext="${riwayatPendidikanModel.schoolName + ', ' + riwayatPendidikanModel.city +' ' + riwayatPendidikanModel.country}"></p>
					</tr>
					<tr>
						<td class="kiri"></td>
						<td class="kanan"><p
								th:utext="${riwayatPendidikanModel.major}"></p></td>
					</tr>
					<tr>
						<td class="kiri"></td>
						<td class="kanan"><p th:utext="${riwayatPendidikanModel.gpa}"></p></td>
					</tr>
				</table>
			</section>
			<section class="clear">
				<span class="span"> <label>Pengalaman</label></span>
				<table th:each="riwayatPekerjaanModel : ${riwayatPekerjaanModels}">
					<tr>
						<td class="kiri" width="158"><p
								th:text="${riwayatPekerjaanModel.joinYear + ' - ' + riwayatPekerjaanModel.resignYear}"></p></td>
						<td class="kanan"><p
								th:text="${riwayatPekerjaanModel.lastPosition}"></p>
					</tr>
					<tr>
						<td class="kiri"></td>
						<td class="kanan"><p
								th:text="${riwayatPekerjaanModel.companyName}"></p>
					</tr>
				</table>
			</section>
			<section class="block">
				<span class="span"> <label>Keterampilan</label></span>
				<table>
					<tr>
						<td class="kiri" width="158"><p>Tingkat Lanjut</p></td>
						<td class="kanan"><p>
								<a th:each="keahlianModel : ${keahlianModels}"
									th:utext="${keahlianModel.skillName + ', '}">lnjut</a>
							</p>
					</tr>
					<tr>
						<td class="kiri"><p>Menengah</p></td>
						<td class="kanan"><p>
								<a th:each="keahlianModel : ${keahlianModelss}"
									th:utext="${keahlianModel.skillName + ', '}">menengah</a>
							</p></td>
					</tr>
					<tr>
						<td class="kiri"><p>Pemula</p></td>
						<td class="kanan"><p>
								<a th:each="keahlianModel : ${keahlianModelsss}"
									th:utext="${keahlianModel.skillName + ', '}">Pemula</a>
							</p></td>
					</tr>
				</table>
			</section>
			<section class="clear">
				<span class="span"> <label>Training</label></span>
				<table th:each="riwayatPelatihanModel : ${riwayatPelatihanModels}">
					<tr>
						<td class="kiri" width="158"><p
								th:text="${riwayatPelatihanModel.trainingYear + ' - ' + riwayatPelatihanModel.lama}"></p></td>
						<td class="kanan"><p
								th:utext="${riwayatPelatihanModel.trainingName}"></p>
					</tr>
					<tr>
						<td class="kiri"></td>
						<td class="kanan"><p th:text="${riwayatPelatihanModel.organizer}"></p></td>
					</tr>
				</table>
			</section>
			<section class="block">
				<span class="span float-left"> <label>Spesifikasi
						<p
							th:text="${riwayatSertifikasiModel.validStartYear +' - '+ riwayatSertifikasiModel.untilYear}">tahun</p>
				</label>
				</span> <span class="keterangan float-left">
					<p th:text="${riwayatSertifikasiModel.certificateName}">Android
						- Kotlin</p>
					<p th:text="${riwayatSertifikasiModel.publisher}">Trining Pro</p>
				</span>
			</section>
			<div id="editor"></div>
		</div>
	</div>

	<script type="text/javascript">
		genderRefresh();

		function genderRefresh() {
			var x = document.getElementById("jenisKelamin").innerHTML;
			if (x == "true") {
				document.getElementById("jenisKelamin").innerHTML = "Laki-Laki";
			} else {
				document.getElementById("jenisKelamin").innerHTML = "Perempuan";
			}
		};
		//unduh pdf
	</script>

</body>
</html>